---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Tempora quibusdam possimus eos esse dolor ea.","public":true,"files":{"protocol.md":{"content":"Qui
        omnis voluptatem consequuntur. Ipsum molestiae nam a voluptates dolore. Exercitationem
        quibusdam ab."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1422148848'
      Etag:
      - '"80294e288e367e28146de234bf03335e"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/1744bcdcd90475f71e7f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/1744bcdcd90475f71e7f","forks_url":"https://api.github.com/gists/1744bcdcd90475f71e7f/forks","commits_url":"https://api.github.com/gists/1744bcdcd90475f71e7f/commits","id":"1744bcdcd90475f71e7f","git_pull_url":"https://gist.github.com/1744bcdcd90475f71e7f.git","git_push_url":"https://gist.github.com/1744bcdcd90475f71e7f.git","html_url":"https://gist.github.com/1744bcdcd90475f71e7f","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/1744bcdcd90475f71e7f/raw/86b81659e22b0e8698be56a16b3e5facffbe3211/protocol.md","size":104,"truncated":false,"content":"Qui
        omnis voluptatem consequuntur. Ipsum molestiae nam a voluptates dolore. Exercitationem
        quibusdam ab."}},"public":true,"created_at":"2015-01-25T00:34:34Z","updated_at":"2015-01-25T00:34:34Z","description":"Tempora
        quibusdam possimus eos esse dolor ea.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/1744bcdcd90475f71e7f/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"f9c4ea8e2a3136bed325ce509d5a67640afbdcd0","committed_at":"2015-01-25T00:34:34Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/1744bcdcd90475f71e7f/f9c4ea8e2a3136bed325ce509d5a67640afbdcd0"}]}'
  recorded_at: Sun, 25 Jan 2015 00:34:34 GMT
recorded_with: VCR 2.9.3
