---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Rerum inventore rerum vel ducimus perspiciatis omnis
        error saepe quam.","public":true,"files":{"protocol.md":{"content":"Quia facere
        quo reprehenderit molestiae culpa et. Molestiae eligendi facilis aspernatur
        deleniti. Dolor quas mollitia aut. Nisi dolor sit. Quidem quia voluptatem
        ut non."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1422148848'
      Etag:
      - '"0c7740df2ba4e63417ccd9e43cbf1bec"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/ae64ac800cdd2de647b0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/ae64ac800cdd2de647b0","forks_url":"https://api.github.com/gists/ae64ac800cdd2de647b0/forks","commits_url":"https://api.github.com/gists/ae64ac800cdd2de647b0/commits","id":"ae64ac800cdd2de647b0","git_pull_url":"https://gist.github.com/ae64ac800cdd2de647b0.git","git_push_url":"https://gist.github.com/ae64ac800cdd2de647b0.git","html_url":"https://gist.github.com/ae64ac800cdd2de647b0","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/ae64ac800cdd2de647b0/raw/5c8bd021a7c17641c101f6f52784ed72eefcf570/protocol.md","size":169,"truncated":false,"content":"Quia
        facere quo reprehenderit molestiae culpa et. Molestiae eligendi facilis aspernatur
        deleniti. Dolor quas mollitia aut. Nisi dolor sit. Quidem quia voluptatem
        ut non."}},"public":true,"created_at":"2015-01-25T00:34:33Z","updated_at":"2015-01-25T00:34:33Z","description":"Rerum
        inventore rerum vel ducimus perspiciatis omnis error saepe quam.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/ae64ac800cdd2de647b0/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"aa9622fc7ece19c9a4527e586aee5dd26aec3043","committed_at":"2015-01-25T00:34:33Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/ae64ac800cdd2de647b0/aa9622fc7ece19c9a4527e586aee5dd26aec3043"}]}'
  recorded_at: Sun, 25 Jan 2015 00:34:33 GMT
recorded_with: VCR 2.9.3
