---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Quibusdam optio temporibus aut voluptatem velit.","public":true,"files":{"protocol.md":{"content":"Aliquam
        animi laudantium. Facere et vel deserunt rerum. Quas veniam eos in. Asperiores
        culpa minima. Quis dolores rerum doloremque nesciunt."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1422148848'
      Etag:
      - '"b650ea58b1b2eb30d80f110570eadb8d"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/8b9c3a0d687812061968
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/8b9c3a0d687812061968","forks_url":"https://api.github.com/gists/8b9c3a0d687812061968/forks","commits_url":"https://api.github.com/gists/8b9c3a0d687812061968/commits","id":"8b9c3a0d687812061968","git_pull_url":"https://gist.github.com/8b9c3a0d687812061968.git","git_push_url":"https://gist.github.com/8b9c3a0d687812061968.git","html_url":"https://gist.github.com/8b9c3a0d687812061968","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/8b9c3a0d687812061968/raw/b5fd9ce65b7257a106a87d6920df10f3e5e58afd/protocol.md","size":140,"truncated":false,"content":"Aliquam
        animi laudantium. Facere et vel deserunt rerum. Quas veniam eos in. Asperiores
        culpa minima. Quis dolores rerum doloremque nesciunt."}},"public":true,"created_at":"2015-01-25T00:34:32Z","updated_at":"2015-01-25T00:34:32Z","description":"Quibusdam
        optio temporibus aut voluptatem velit.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/8b9c3a0d687812061968/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"710adc8d6b55ca1ab1b500b77aaba34a8927cbd7","committed_at":"2015-01-25T00:34:32Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/8b9c3a0d687812061968/710adc8d6b55ca1ab1b500b77aaba34a8927cbd7"}]}'
  recorded_at: Sun, 25 Jan 2015 00:34:32 GMT
recorded_with: VCR 2.9.3
