---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Sit natus aut quam adipisci numquam distinctio quia
        facilis.","public":true,"files":{"protocol.md":{"content":"Accusamus dolores
        doloribus veritatis. Totam velit aperiam. Et eligendi provident. Fuga optio
        itaque nulla non molestiae magnam."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1422148848'
      Etag:
      - '"ca104adb7b194fa8b91443c766c0231d"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/77dfb436be81ab328df1
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/77dfb436be81ab328df1","forks_url":"https://api.github.com/gists/77dfb436be81ab328df1/forks","commits_url":"https://api.github.com/gists/77dfb436be81ab328df1/commits","id":"77dfb436be81ab328df1","git_pull_url":"https://gist.github.com/77dfb436be81ab328df1.git","git_push_url":"https://gist.github.com/77dfb436be81ab328df1.git","html_url":"https://gist.github.com/77dfb436be81ab328df1","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/77dfb436be81ab328df1/raw/f3c43c95f971dc12fbfa687c6749312fcd18371b/protocol.md","size":128,"truncated":false,"content":"Accusamus
        dolores doloribus veritatis. Totam velit aperiam. Et eligendi provident. Fuga
        optio itaque nulla non molestiae magnam."}},"public":true,"created_at":"2015-01-25T00:34:33Z","updated_at":"2015-01-25T00:34:33Z","description":"Sit
        natus aut quam adipisci numquam distinctio quia facilis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/77dfb436be81ab328df1/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"a04111a29392707d6830bbeffccfba23e45e6654","committed_at":"2015-01-25T00:34:33Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/77dfb436be81ab328df1/a04111a29392707d6830bbeffccfba23e45e6654"}]}'
  recorded_at: Sun, 25 Jan 2015 00:34:33 GMT
recorded_with: VCR 2.9.3
