---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Nihil iure ipsam eum et nulla ratione dolor exercitationem
        unde.","public":true,"files":{"protocol.md":{"content":"Nemo deleniti soluta
        debitis voluptates vel. Quas amet quisquam repellat iusto. Ut provident laborum
        est facilis et rerum."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1422148848'
      Etag:
      - '"584ec2919cfb62d8976f557bc97bfdcc"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/61fd60634ff903f2d1c2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/61fd60634ff903f2d1c2","forks_url":"https://api.github.com/gists/61fd60634ff903f2d1c2/forks","commits_url":"https://api.github.com/gists/61fd60634ff903f2d1c2/commits","id":"61fd60634ff903f2d1c2","git_pull_url":"https://gist.github.com/61fd60634ff903f2d1c2.git","git_push_url":"https://gist.github.com/61fd60634ff903f2d1c2.git","html_url":"https://gist.github.com/61fd60634ff903f2d1c2","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/61fd60634ff903f2d1c2/raw/5ee5f1e6687b07b56b8a22cff7b742b220fe6464/protocol.md","size":122,"truncated":false,"content":"Nemo
        deleniti soluta debitis voluptates vel. Quas amet quisquam repellat iusto.
        Ut provident laborum est facilis et rerum."}},"public":true,"created_at":"2015-01-25T00:34:31Z","updated_at":"2015-01-25T00:34:31Z","description":"Nihil
        iure ipsam eum et nulla ratione dolor exercitationem unde.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/61fd60634ff903f2d1c2/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"f0e8a33737ff9ab72e6428f864f19455891c77d8","committed_at":"2015-01-25T00:34:31Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/61fd60634ff903f2d1c2/f0e8a33737ff9ab72e6428f864f19455891c77d8"}]}'
  recorded_at: Sun, 25 Jan 2015 00:34:31 GMT
recorded_with: VCR 2.9.3
