---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Soluta qui dolorum et quia quia eum necessitatibus
        in.","public":true,"files":{"protocol.md":{"content":"Ut veniam architecto.
        Sed quam aut nesciunt cupiditate sed dolor est. Iusto fuga dolore nihil dicta
        quibusdam. Enim qui sapiente veritatis aut et laudantium. Quod qui quibusdam
        iure facilis et."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4733'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"752f56cd5bbbddf62c9e09d97b17f756"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/c4a626f9ca8f916c61bf
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/c4a626f9ca8f916c61bf","forks_url":"https://api.github.com/gists/c4a626f9ca8f916c61bf/forks","commits_url":"https://api.github.com/gists/c4a626f9ca8f916c61bf/commits","id":"c4a626f9ca8f916c61bf","git_pull_url":"https://gist.github.com/c4a626f9ca8f916c61bf.git","git_push_url":"https://gist.github.com/c4a626f9ca8f916c61bf.git","html_url":"https://gist.github.com/c4a626f9ca8f916c61bf","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/c4a626f9ca8f916c61bf/raw/193f27ae220c509975f16a2bf32802f608d89466/protocol.md","size":193,"truncated":false,"content":"Ut
        veniam architecto. Sed quam aut nesciunt cupiditate sed dolor est. Iusto fuga
        dolore nihil dicta quibusdam. Enim qui sapiente veritatis aut et laudantium.
        Quod qui quibusdam iure facilis et."}},"public":true,"created_at":"2015-01-08T04:54:08Z","updated_at":"2015-01-08T04:54:08Z","description":"Soluta
        qui dolorum et quia quia eum necessitatibus in.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/c4a626f9ca8f916c61bf/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"18c26f3e53a49fd43f970037f816ef21c4cca5f5","committed_at":"2015-01-08T04:54:08Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/c4a626f9ca8f916c61bf/18c26f3e53a49fd43f970037f816ef21c4cca5f5"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:07 GMT
- request:
    method: get
    uri: https://api.github.com/gists/c4a626f9ca8f916c61bf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4732'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:08 GMT
      Etag:
      - '"752f56cd5bbbddf62c9e09d97b17f756"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/c4a626f9ca8f916c61bf","forks_url":"https://api.github.com/gists/c4a626f9ca8f916c61bf/forks","commits_url":"https://api.github.com/gists/c4a626f9ca8f916c61bf/commits","id":"c4a626f9[...]
