---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Maxime rerum porro officiis quam natus eos dicta.","public":true,"files":{"protocol.md":{"content":"Enim
        dolore autem sapiente quas cumque reiciendis. Soluta inventore architecto.
        Aut perspiciatis laboriosam. Possimus quia corporis distinctio facere perspiciatis
        nobis."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4719'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"5722fe13fd11c047482845e3894de841"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/7c8485a13946ff3b2a4e
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/7c8485a13946ff3b2a4e","forks_url":"https://api.github.com/gists/7c8485a13946ff3b2a4e/forks","commits_url":"https://api.github.com/gists/7c8485a13946ff3b2a4e/commits","id":"7c8485a13946ff3b2a4e","git_pull_url":"https://gist.github.com/7c8485a13946ff3b2a4e.git","git_push_url":"https://gist.github.com/7c8485a13946ff3b2a4e.git","html_url":"https://gist.github.com/7c8485a13946ff3b2a4e","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/7c8485a13946ff3b2a4e/raw/a43d7c607a319fe4ab27474d3ea1dd14d50c2c2e/protocol.md","size":169,"truncated":false,"content":"Enim
        dolore autem sapiente quas cumque reiciendis. Soluta inventore architecto.
        Aut perspiciatis laboriosam. Possimus quia corporis distinctio facere perspiciatis
        nobis."}},"public":true,"created_at":"2015-01-08T04:54:14Z","updated_at":"2015-01-08T04:54:14Z","description":"Maxime
        rerum porro officiis quam natus eos dicta.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/7c8485a13946ff3b2a4e/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"d2f0a2b4aa3e07ffcba3265b05b59febb8fcf448","committed_at":"2015-01-08T04:54:14Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/7c8485a13946ff3b2a4e/d2f0a2b4aa3e07ffcba3265b05b59febb8fcf448"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:14 GMT
- request:
    method: get
    uri: https://api.github.com/gists/7c8485a13946ff3b2a4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4718'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:14 GMT
      Etag:
      - '"5722fe13fd11c047482845e3894de841"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/7c8485a13946ff3b2a4e","forks_url":"https://api.github.com/gists/7c8485a13946ff3b2a4e/forks","commits_url":"https://api.github.com/gists/7c8485a13946ff3b2a4e/commits","id":"7c8485a1[...]
- request:
    method: put
    uri: https://api.github.com/gists/7c8485a13946ff3b2a4e/star
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4717'
      X-Ratelimit-Reset:
      - '1420695119'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Jan 2015 04:54:14 GMT
recorded_with: VCR 2.9.3
