---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Eligendi sit nisi molestiae molestias tenetur quod
        ullam soluta.","public":true,"files":{"protocol.md":{"content":"Quaerat sed
        non unde. Porro impedit qui tenetur tempora nihil id. Nemo nam est neque libero."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"dbb01a04009c9a8b25727aa59a6f1599"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/fbd9d954337840503911
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/fbd9d954337840503911","forks_url":"https://api.github.com/gists/fbd9d954337840503911/forks","commits_url":"https://api.github.com/gists/fbd9d954337840503911/commits","id":"fbd9d954337840503911","git_pull_url":"https://gist.github.com/fbd9d954337840503911.git","git_push_url":"https://gist.github.com/fbd9d954337840503911.git","html_url":"https://gist.github.com/fbd9d954337840503911","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/fbd9d954337840503911/raw/b1e4940cd28f09c7883dd2177e98d9946d417fbc/protocol.md","size":92,"truncated":false,"content":"Quaerat
        sed non unde. Porro impedit qui tenetur tempora nihil id. Nemo nam est neque
        libero."}},"public":true,"created_at":"2015-01-09T03:44:40Z","updated_at":"2015-01-09T03:44:40Z","description":"Eligendi
        sit nisi molestiae molestias tenetur quod ullam soluta.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/fbd9d954337840503911/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"7d4f5a8d5ae97eebbf0bca7a44c0225f1747c39d","committed_at":"2015-01-09T03:44:40Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/fbd9d954337840503911/7d4f5a8d5ae97eebbf0bca7a44c0225f1747c39d"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:40 GMT
- request:
    method: get
    uri: https://api.github.com/gists/fbd9d954337840503911
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:40 GMT
      Etag:
      - '"dbb01a04009c9a8b25727aa59a6f1599"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/fbd9d954337840503911","forks_url":"https://api.github.com/gists/fbd9d954337840503911/forks","commits_url":"https://api.github.com/gists/fbd9d954337840503911/commits","id":"fbd9d954[...]
