---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Natus sit id consequatur tempora qui occaecati adipisci.","public":true,"files":{"protocol.md":{"content":"Commodi
        neque magnam. Suscipit necessitatibus mollitia neque voluptatem. Beatae voluptatem
        dicta."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"4b0186d459f50f9114866018692f1ddb"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/93c8f46f4effa1613c0e
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/93c8f46f4effa1613c0e","forks_url":"https://api.github.com/gists/93c8f46f4effa1613c0e/forks","commits_url":"https://api.github.com/gists/93c8f46f4effa1613c0e/commits","id":"93c8f46f4effa1613c0e","git_pull_url":"https://gist.github.com/93c8f46f4effa1613c0e.git","git_push_url":"https://gist.github.com/93c8f46f4effa1613c0e.git","html_url":"https://gist.github.com/93c8f46f4effa1613c0e","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/93c8f46f4effa1613c0e/raw/8de31aa5d9e7b6460ee576ac516432bbc37c41c3/protocol.md","size":97,"truncated":false,"content":"Commodi
        neque magnam. Suscipit necessitatibus mollitia neque voluptatem. Beatae voluptatem
        dicta."}},"public":true,"created_at":"2015-01-09T03:44:30Z","updated_at":"2015-01-09T03:44:30Z","description":"Natus
        sit id consequatur tempora qui occaecati adipisci.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/93c8f46f4effa1613c0e/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"9f48878a480ea84dcb08c57f6e1b860f553ef824","committed_at":"2015-01-09T03:44:30Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/93c8f46f4effa1613c0e/9f48878a480ea84dcb08c57f6e1b860f553ef824"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:30 GMT
recorded_with: VCR 2.9.3
