---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Est impedit excepturi beatae ratione.","public":true,"files":{"protocol.md":{"content":"Amet
        aut unde maxime repudiandae hic. Dolorum est vero autem repudiandae voluptates
        qui. Aut et ab. Nostrum incidunt asperiores deleniti odit ut occaecati. Adipisci
        saepe soluta est perspiciatis eligendi."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"7d74b01b742edf131028ff65dbea838f"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/cdd2d68a84cf205a9a0d
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/cdd2d68a84cf205a9a0d","forks_url":"https://api.github.com/gists/cdd2d68a84cf205a9a0d/forks","commits_url":"https://api.github.com/gists/cdd2d68a84cf205a9a0d/commits","id":"cdd2d68a84cf205a9a0d","git_pull_url":"https://gist.github.com/cdd2d68a84cf205a9a0d.git","git_push_url":"https://gist.github.com/cdd2d68a84cf205a9a0d.git","html_url":"https://gist.github.com/cdd2d68a84cf205a9a0d","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/cdd2d68a84cf205a9a0d/raw/6957b98ddc05a463520c593ea2663d686cf767cb/protocol.md","size":204,"truncated":false,"content":"Amet
        aut unde maxime repudiandae hic. Dolorum est vero autem repudiandae voluptates
        qui. Aut et ab. Nostrum incidunt asperiores deleniti odit ut occaecati. Adipisci
        saepe soluta est perspiciatis eligendi."}},"public":true,"created_at":"2015-01-09T03:44:45Z","updated_at":"2015-01-09T03:44:45Z","description":"Est
        impedit excepturi beatae ratione.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/cdd2d68a84cf205a9a0d/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"b922c4fe273a8c9e7a2006164af8bc2b86aabb0f","committed_at":"2015-01-09T03:44:45Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/cdd2d68a84cf205a9a0d/b922c4fe273a8c9e7a2006164af8bc2b86aabb0f"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:45 GMT
recorded_with: VCR 2.9.3
