---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Expedita quia minus sed quia cum.","public":true,"files":{"protocol.md":{"content":"Hic
        perferendis aspernatur quia omnis facilis. Voluptatibus exercitationem et
        fugit id quam. Enim sit provident asperiores dolor nam quia. Qui placeat non
        sit maiores molestiae commodi dicta."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"86b8d4abdfce7a12ccda20483838b924"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/76fbfe3b2350cacc39ed
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/76fbfe3b2350cacc39ed","forks_url":"https://api.github.com/gists/76fbfe3b2350cacc39ed/forks","commits_url":"https://api.github.com/gists/76fbfe3b2350cacc39ed/commits","id":"76fbfe3b2350cacc39ed","git_pull_url":"https://gist.github.com/76fbfe3b2350cacc39ed.git","git_push_url":"https://gist.github.com/76fbfe3b2350cacc39ed.git","html_url":"https://gist.github.com/76fbfe3b2350cacc39ed","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/76fbfe3b2350cacc39ed/raw/de9abe20a606ab6474fd306259d00b4d34cae410/protocol.md","size":191,"truncated":false,"content":"Hic
        perferendis aspernatur quia omnis facilis. Voluptatibus exercitationem et
        fugit id quam. Enim sit provident asperiores dolor nam quia. Qui placeat non
        sit maiores molestiae commodi dicta."}},"public":true,"created_at":"2015-01-09T03:44:32Z","updated_at":"2015-01-09T03:44:32Z","description":"Expedita
        quia minus sed quia cum.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/76fbfe3b2350cacc39ed/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"6ed9c80647c357232342839b41defa94b4c571ff","committed_at":"2015-01-09T03:44:32Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/76fbfe3b2350cacc39ed/6ed9c80647c357232342839b41defa94b4c571ff"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:32 GMT
[...]
