---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Voluptas ut quisquam aut sed quia.","public":true,"files":{"protocol.md":{"content":"Fuga
        hic ad aut. Incidunt ea vero deserunt. Non sit odit est ut voluptatem incidunt
        ipsam. Fuga sed iusto ratione nostrum. Aspernatur veritatis omnis excepturi
        eveniet."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"2a7031564093e03d6a9fc91c57671a60"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/749a95c62c8a3d069256
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/749a95c62c8a3d069256","forks_url":"https://api.github.com/gists/749a95c62c8a3d069256/forks","commits_url":"https://api.github.com/gists/749a95c62c8a3d069256/commits","id":"749a95c62c8a3d069256","git_pull_url":"https://gist.github.com/749a95c62c8a3d069256.git","git_push_url":"https://gist.github.com/749a95c62c8a3d069256.git","html_url":"https://gist.github.com/749a95c62c8a3d069256","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/749a95c62c8a3d069256/raw/160b475615bdb5685048f750d96f0d943bfbfa41/protocol.md","size":168,"truncated":false,"content":"Fuga
        hic ad aut. Incidunt ea vero deserunt. Non sit odit est ut voluptatem incidunt
        ipsam. Fuga sed iusto ratione nostrum. Aspernatur veritatis omnis excepturi
        eveniet."}},"public":true,"created_at":"2015-01-09T03:44:33Z","updated_at":"2015-01-09T03:44:33Z","description":"Voluptas
        ut quisquam aut sed quia.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/749a95c62c8a3d069256/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"6970a5b6aed33a473cf789ba928a3e2327edd00f","committed_at":"2015-01-09T03:44:33Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/749a95c62c8a3d069256/6970a5b6aed33a473cf789ba928a3e2327edd00f"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:33 GMT
- request:
    method: get
    uri: https://api.github.com/gists/749a95c62c8a3d069256
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:33 GMT
      Etag:
      - '"2a7031564093e03d6a9fc91c57671a60"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/749a95c62c8a3d069256","forks_url":"https://api.github.com/gists/749a95c62c8a3d069256/forks","commits_url":"https://api.github.com/gists/749a95c62c8a3d069256/commits","id":"749a95c6[...]
