---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Architecto eligendi non id repellat nihil sint qui
        distinctio omnis.","public":true,"files":{"protocol.md":{"content":"Autem
        nihil tenetur omnis earum pariatur. Quis ut blanditiis illum architecto nulla
        libero eligendi. Quasi quae quis. Qui qui laborum."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4730'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"c095d8f78f67389f99fac2bf8a521cd7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/015d0e86afb1d0c205ac
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/015d0e86afb1d0c205ac","forks_url":"https://api.github.com/gists/015d0e86afb1d0c205ac/forks","commits_url":"https://api.github.com/gists/015d0e86afb1d0c205ac/commits","id":"015d0e86afb1d0c205ac","git_pull_url":"https://gist.github.com/015d0e86afb1d0c205ac.git","git_push_url":"https://gist.github.com/015d0e86afb1d0c205ac.git","html_url":"https://gist.github.com/015d0e86afb1d0c205ac","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/015d0e86afb1d0c205ac/raw/d34f2b6f07e5abf7f2012e85a58dead4d7504a5c/protocol.md","size":134,"truncated":false,"content":"Autem
        nihil tenetur omnis earum pariatur. Quis ut blanditiis illum architecto nulla
        libero eligendi. Quasi quae quis. Qui qui laborum."}},"public":true,"created_at":"2015-01-08T04:54:09Z","updated_at":"2015-01-08T04:54:09Z","description":"Architecto
        eligendi non id repellat nihil sint qui distinctio omnis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/015d0e86afb1d0c205ac/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"bb0c4db68b4f6f7c6a73236208e10e8124af1acb","committed_at":"2015-01-08T04:54:09Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/015d0e86afb1d0c205ac/bb0c4db68b4f6f7c6a73236208e10e8124af1acb"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:09 GMT
recorded_with: VCR 2.9.3
