---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Magnam explicabo sunt repellat doloremque.","public":true,"files":{"protocol.md":{"content":"Autem
        vero minus fugit rerum voluptatibus. Sed qui voluptatum ut molestiae nisi
        sit. Corporis doloribus quis maxime. Nesciunt ut corporis id dicta. Ea omnis
        itaque iusto soluta."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4712'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"e3240d934a0b0ef13d8530814017f8d7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/cb8970d057033ba2355b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/cb8970d057033ba2355b","forks_url":"https://api.github.com/gists/cb8970d057033ba2355b/forks","commits_url":"https://api.github.com/gists/cb8970d057033ba2355b/commits","id":"cb8970d057033ba2355b","git_pull_url":"https://gist.github.com/cb8970d057033ba2355b.git","git_push_url":"https://gist.github.com/cb8970d057033ba2355b.git","html_url":"https://gist.github.com/cb8970d057033ba2355b","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/cb8970d057033ba2355b/raw/004b245982c776b95e8241d4a051565772996cf1/protocol.md","size":177,"truncated":false,"content":"Autem
        vero minus fugit rerum voluptatibus. Sed qui voluptatum ut molestiae nisi
        sit. Corporis doloribus quis maxime. Nesciunt ut corporis id dicta. Ea omnis
        itaque iusto soluta."}},"public":true,"created_at":"2015-01-08T04:54:18Z","updated_at":"2015-01-08T04:54:18Z","description":"Magnam
        explicabo sunt repellat doloremque.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/cb8970d057033ba2355b/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"2b6383cb0ef4dfad717b0fb6565d646bc129fe7a","committed_at":"2015-01-08T04:54:17Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/cb8970d057033ba2355b/2b6383cb0ef4dfad717b0fb6565d646bc129fe7a"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:17 GMT
- request:
    method: get
    uri: https://api.github.com/gists/cb8970d057033ba2355b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4711'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:18 GMT
      Etag:
      - '"e3240d934a0b0ef13d8530814017f8d7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/cb8970d057033ba2355b","forks_url":"https://api.github.com/gists/cb8970d057033ba2355b/forks","commits_url":"https://api.github.com/gists/cb8970d057033ba2355b/commits","id":"cb8970d0[...]
- request:
    method: post
    uri: https://api.github.com/gists/cb8970d057033ba2355b/comments
    body:
      encoding: UTF-8
      string: '{"body":["blanditiis","itaque","ea","praesentium","minus","fuga","provident","veniam","molestiae","dicta","sint","sit","mollitia","laborum","non","ea","reprehenderit","maxime","perferendis","sed"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      me[...]
