---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Quibusdam saepe qui aliquam totam expedita ut velit.","public":true,"files":{"protocol.md":{"content":"Voluptatem
        voluptas est. Minima nobis earum repellat occaecati minus recusandae. Qui
        non fuga eum. Velit qui repudiandae voluptates libero odio excepturi."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"70cf39e2edde7bd877ad684ae3eca3aa"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/9ff78c2ca928d09e79f8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/9ff78c2ca928d09e79f8","forks_url":"https://api.github.com/gists/9ff78c2ca928d09e79f8/forks","commits_url":"https://api.github.com/gists/9ff78c2ca928d09e79f8/commits","id":"9ff78c2ca928d09e79f8","git_pull_url":"https://gist.github.com/9ff78c2ca928d09e79f8.git","git_push_url":"https://gist.github.com/9ff78c2ca928d09e79f8.git","html_url":"https://gist.github.com/9ff78c2ca928d09e79f8","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/9ff78c2ca928d09e79f8/raw/b27fad510e8da8dc2d4baac18d660d63eaf5b301/protocol.md","size":154,"truncated":false,"content":"Voluptatem
        voluptas est. Minima nobis earum repellat occaecati minus recusandae. Qui
        non fuga eum. Velit qui repudiandae voluptates libero odio excepturi."}},"public":true,"created_at":"2015-01-09T03:44:46Z","updated_at":"2015-01-09T03:44:46Z","description":"Quibusdam
        saepe qui aliquam totam expedita ut velit.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/9ff78c2ca928d09e79f8/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"27e41b71b9d9391bc127d9ab45a2e0e00d5f5146","committed_at":"2015-01-09T03:44:46Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/9ff78c2ca928d09e79f8/27e41b71b9d9391bc127d9ab45a2e0e00d5f5146"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:46 GMT
- request:
    method: get
    uri: https://api.github.com/gists/9ff78c2ca928d09e79f8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:46 GMT
      Etag:
      - '"70cf39e2edde7bd877ad684ae3eca3aa"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/9ff78c2ca928d09e79f8","forks_url":"https://api.github.com/gists/9ff78c2ca928d09e79f8/forks","commits_url":"https://api.github.com/gists/9ff78c2ca928d09e79f8/commits","id":"9ff78c2c[...]
- request:
    method: get
    uri: https://api.github.com/gists/9ff78c2ca928d09e79f8/star
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4950'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 09 Jan 2015 03:44:47 GMT
recorded_with: VCR 2.9.3
