---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Dolores est assumenda et ut reiciendis delectus aliquid.","public":true,"files":{"protocol.md":{"content":"Sequi
        voluptas quibusdam pariatur in. Optio repellat quasi ut soluta non corporis.
        Quia magni aut consequatur sed corrupti atque."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4705'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"9884dedd576b623fdb6e0f01eaef4518"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/f9c0c66de4eeca26535d
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/f9c0c66de4eeca26535d","forks_url":"https://api.github.com/gists/f9c0c66de4eeca26535d/forks","commits_url":"https://api.github.com/gists/f9c0c66de4eeca26535d/commits","id":"f9c0c66de4eeca26535d","git_pull_url":"https://gist.github.com/f9c0c66de4eeca26535d.git","git_push_url":"https://gist.github.com/f9c0c66de4eeca26535d.git","html_url":"https://gist.github.com/f9c0c66de4eeca26535d","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/f9c0c66de4eeca26535d/raw/bdbdbfaf3094c2ee11aa04b2ca5e3a36a9345fa6/protocol.md","size":129,"truncated":false,"content":"Sequi
        voluptas quibusdam pariatur in. Optio repellat quasi ut soluta non corporis.
        Quia magni aut consequatur sed corrupti atque."}},"public":true,"created_at":"2015-01-08T04:54:23Z","updated_at":"2015-01-08T04:54:23Z","description":"Dolores
        est assumenda et ut reiciendis delectus aliquid.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/f9c0c66de4eeca26535d/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"68ce85ed0cf7689a9c61381eaa36f7b84a74a21e","committed_at":"2015-01-08T04:54:23Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/f9c0c66de4eeca26535d/68ce85ed0cf7689a9c61381eaa36f7b84a74a21e"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:22 GMT
recorded_with: VCR 2.9.3
