---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Est ab quisquam magnam aut.","public":true,"files":{"protocol.md":{"content":"Magni
        expedita aliquid rerum sequi eum. Et facilis ea laborum tempora qui alias
        earum. Expedita qui non maiores tempora. Voluptatem id vitae omnis odio est.
        Explicabo est ea alias perspiciatis tempora assumenda."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4736'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"504efb035263cbca06dd448bb1f4ae1d"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/92c639cc630523861706
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/92c639cc630523861706","forks_url":"https://api.github.com/gists/92c639cc630523861706/forks","commits_url":"https://api.github.com/gists/92c639cc630523861706/commits","id":"92c639cc630523861706","git_pull_url":"https://gist.github.com/92c639cc630523861706.git","git_push_url":"https://gist.github.com/92c639cc630523861706.git","html_url":"https://gist.github.com/92c639cc630523861706","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/92c639cc630523861706/raw/0d8d0f31e111c33a44b3c28f79c4d3dcf44ed809/protocol.md","size":211,"truncated":false,"content":"Magni
        expedita aliquid rerum sequi eum. Et facilis ea laborum tempora qui alias
        earum. Expedita qui non maiores tempora. Voluptatem id vitae omnis odio est.
        Explicabo est ea alias perspiciatis tempora assumenda."}},"public":true,"created_at":"2015-01-08T04:54:07Z","updated_at":"2015-01-08T04:54:07Z","description":"Est
        ab quisquam magnam aut.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/92c639cc630523861706/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"a6217de229e2060d1b22ab3ff966f2ef88dab706","committed_at":"2015-01-08T04:54:07Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/92c639cc630523861706/a6217de229e2060d1b22ab3ff966f2ef88dab706"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:06 GMT
- request:
    method: get
    uri: https://api.github.com/gists/92c639cc630523861706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4735'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:07 GMT
      Etag:
      - '"504efb035263cbca06dd448bb1f4ae1d"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/92c639cc630523861706","forks_url":"https://api.github.com/gists/92c639cc630523861706/forks","commits_url":"https://api.github.com/gists/92c639cc630523861706/commits","id":"92c639cc[...]
- request:
    method: delete
    uri: https://api.github.com/gists/92c639cc630523861706/star
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4734'
      X-Ratelimit-Reset:
      - '1420695119'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Jan 2015 04:54:07 GMT
recorded_with: VCR 2.9.3
