---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Quia non veniam ut praesentium blanditiis.","public":true,"files":{"protocol.md":{"content":"Modi
        omnis ipsa voluptatibus et quod velit. Fuga voluptatem soluta ducimus cum.
        Velit deserunt ut est quisquam quam et saepe. Itaque accusantium in aspernatur
        aliquam. Fugiat odit porro quae."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"50a534c190570d35e34b9c9f0c7e9cbb"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/3606c0968f9b41667c0d
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/3606c0968f9b41667c0d","forks_url":"https://api.github.com/gists/3606c0968f9b41667c0d/forks","commits_url":"https://api.github.com/gists/3606c0968f9b41667c0d/commits","id":"3606c0968f9b41667c0d","git_pull_url":"https://gist.github.com/3606c0968f9b41667c0d.git","git_push_url":"https://gist.github.com/3606c0968f9b41667c0d.git","html_url":"https://gist.github.com/3606c0968f9b41667c0d","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/3606c0968f9b41667c0d/raw/61517d184e73f9f7469313ddd3c244adcae8a9c1/protocol.md","size":191,"truncated":false,"content":"Modi
        omnis ipsa voluptatibus et quod velit. Fuga voluptatem soluta ducimus cum.
        Velit deserunt ut est quisquam quam et saepe. Itaque accusantium in aspernatur
        aliquam. Fugiat odit porro quae."}},"public":true,"created_at":"2015-01-09T03:44:41Z","updated_at":"2015-01-09T03:44:41Z","description":"Quia
        non veniam ut praesentium blanditiis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/3606c0968f9b41667c0d/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"1b44e14cf898a4774012efa0b189e68de104d1a8","committed_at":"2015-01-09T03:44:41Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/3606c0968f9b41667c0d/1b44e14cf898a4774012efa0b189e68de104d1a8"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:41 GMT
- request:
    method: get
    uri: https://api.github.com/gists/3606c0968f9b41667c0d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:41 GMT
      Etag:
      - '"50a534c190570d35e34b9c9f0c7e9cbb"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/3606c0968f9b41667c0d","forks_url":"https://api.github.com/gists/3606c0968f9b41667c0d/forks","commits_url":"https://api.github.com/gists/3606c0968f9b41667c0d/commits","id":"3606c096[...]
- request:
    method: post
    uri: https://api.github.com/gists/3606c0968f9b41667c0d/comments
    body:
      encoding: UTF-8
      string: '{"body":["et","occaecati","ut","est","sunt","et","iusto","rem","eius","soluta","dolor","repellendus","quidem","est","molestiae","optio","in","non","consequuntur","ut"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
 [...]
[...]
