---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Modi excepturi qui eos dolores illum.","public":true,"files":{"protocol.md":{"content":"Consectetur
        a blanditiis itaque. Laborum autem aut explicabo similique voluptas qui. Ut
        fuga quia non reiciendis sint. Aliquid et repudiandae."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"ef5f5a59970e82c70eaa42efbf9e88f3"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/c2d3461bf3a6b45f91bb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/c2d3461bf3a6b45f91bb","forks_url":"https://api.github.com/gists/c2d3461bf3a6b45f91bb/forks","commits_url":"https://api.github.com/gists/c2d3461bf3a6b45f91bb/commits","id":"c2d3461bf3a6b45f91bb","git_pull_url":"https://gist.github.com/c2d3461bf3a6b45f91bb.git","git_push_url":"https://gist.github.com/c2d3461bf3a6b45f91bb.git","html_url":"https://gist.github.com/c2d3461bf3a6b45f91bb","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/c2d3461bf3a6b45f91bb/raw/250229e39adf5c7b215b80e26f0b04488995ee5e/protocol.md","size":142,"truncated":false,"content":"Consectetur
        a blanditiis itaque. Laborum autem aut explicabo similique voluptas qui. Ut
        fuga quia non reiciendis sint. Aliquid et repudiandae."}},"public":true,"created_at":"2015-01-09T03:44:31Z","updated_at":"2015-01-09T03:44:31Z","description":"Modi
        excepturi qui eos dolores illum.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/c2d3461bf3a6b45f91bb/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"2855eea9f15237f583772ffc177a0cedf7bcf452","committed_at":"2015-01-09T03:44:31Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/c2d3461bf3a6b45f91bb/2855eea9f15237f583772ffc177a0cedf7bcf452"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:31 GMT
- request:
    method: get
    uri: https://api.github.com/gists/c2d3461bf3a6b45f91bb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:31 GMT
      Etag:
      - '"ef5f5a59970e82c70eaa42efbf9e88f3"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/c2d3461bf3a6b45f91bb","forks_url":"https://api.github.com/gists/c2d3461bf3a6b45f91bb/forks","commits_url":"https://api.github.com/gists/c2d3461bf3a6b45f91bb/commits","id":"c2d3461b[...]
- request:
    method: get
    uri: https://api.github.com/gists/c2d3461bf3a6b45f91bb/star
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 09 Jan 2015 03:44:31 GMT
- request:
    method: get
    uri: https://api.github.com/gists/c2d3461bf3a6b45f91bb/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"956279fb40e7f8d0270a76fd2838b7f7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 09 Jan 2015 03:44:32 GMT
recorded_with: VCR 2.9.3
