---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Ut nulla odio natus culpa voluptates inventore at.","public":true,"files":{"protocol.md":{"content":"Exercitationem
        rem optio. Sed omnis porro. Eius vel sequi ipsam et blanditiis expedita debitis."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"1996a6b45267c5c4cb06a9bdddb6c161"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/90ca2a53069fa70a3f8b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/90ca2a53069fa70a3f8b","forks_url":"https://api.github.com/gists/90ca2a53069fa70a3f8b/forks","commits_url":"https://api.github.com/gists/90ca2a53069fa70a3f8b/commits","id":"90ca2a53069fa70a3f8b","git_pull_url":"https://gist.github.com/90ca2a53069fa70a3f8b.git","git_push_url":"https://gist.github.com/90ca2a53069fa70a3f8b.git","html_url":"https://gist.github.com/90ca2a53069fa70a3f8b","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/90ca2a53069fa70a3f8b/raw/c4a8e7ecd4a9efcbf8e227beb503fbe69491b938/protocol.md","size":95,"truncated":false,"content":"Exercitationem
        rem optio. Sed omnis porro. Eius vel sequi ipsam et blanditiis expedita debitis."}},"public":true,"created_at":"2015-01-09T03:44:38Z","updated_at":"2015-01-09T03:44:38Z","description":"Ut
        nulla odio natus culpa voluptates inventore at.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/90ca2a53069fa70a3f8b/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"7d2f986d3cd7b15e8ddb0884f872602eb2d3f20c","committed_at":"2015-01-09T03:44:38Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/90ca2a53069fa70a3f8b/7d2f986d3cd7b15e8ddb0884f872602eb2d3f20c"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:38 GMT
- request:
    method: get
    uri: https://api.github.com/gists/90ca2a53069fa70a3f8b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1420778678'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:38 GMT
      Etag:
      - '"eefd0a4a8e6a6c4fbe71dd7ff1822e03"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/90ca2a53069fa70a3f8b","forks_url":"https://api.github.com/gists/90ca2a53069fa70a3f8b/forks","commits_url":"https://api.github.com/gists/90ca2a53069fa70a3f8b/commits","i[...]
- request:
    method: post
    uri: https://api.github.com/gists/90ca2a53069fa70a3f8b/forks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      -[...]
- request:
    method: get
    uri: https://gist.githubusercontent.com/forestsofazure/e8e478584b1f64b44b12/raw/c4a8e7ecd4a9efcbf8e227beb503fbe69491b938/protocol.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
      Etag:
      - '"6b83de5e578d9aaebc1dc52ef0eebc4c"'
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: Exercitationem rem optio. Sed omnis porro. Eius vel sequi ipsam et blanditiis
        expedita debitis.
  recorded_at: Fri, 09 Jan 2015 03:44:40 GMT
recorded_with: VCR 2.9.3
