---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Sed corporis omnis eos consequatur ea explicabo.","public":true,"files":{"protocol.md":{"content":"In
        maiores ut natus voluptatem. Non exercitationem et eius ut quasi tenetur natus.
        Molestiae aut qui. Exercitationem ut eaque explicabo natus earum. Quo illum
        voluptas totam nihil."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4947'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"31d70323777ce022a71e065b6eb5426d"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/972f3df61f7b52e36bb0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/972f3df61f7b52e36bb0","forks_url":"https://api.github.com/gists/972f3df61f7b52e36bb0/forks","commits_url":"https://api.github.com/gists/972f3df61f7b52e36bb0/commits","id":"972f3df61f7b52e36bb0","git_pull_url":"https://gist.github.com/972f3df61f7b52e36bb0.git","git_push_url":"https://gist.github.com/972f3df61f7b52e36bb0.git","html_url":"https://gist.github.com/972f3df61f7b52e36bb0","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/972f3df61f7b52e36bb0/raw/7c047975da176d938db58993f9441a3921a0b4f7/protocol.md","size":180,"truncated":false,"content":"In
        maiores ut natus voluptatem. Non exercitationem et eius ut quasi tenetur natus.
        Molestiae aut qui. Exercitationem ut eaque explicabo natus earum. Quo illum
        voluptas totam nihil."}},"public":true,"created_at":"2015-01-09T03:44:48Z","updated_at":"2015-01-09T03:44:48Z","description":"Sed
        corporis omnis eos consequatur ea explicabo.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/972f3df61f7b52e36bb0/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"53ff73bb73a683a49eae072b54c956cef1ccec92","committed_at":"2015-01-09T03:44:48Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/972f3df61f7b52e36bb0/53ff73bb73a683a49eae072b54c956cef1ccec92"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:48 GMT
- request:
    method: get
    uri: https://api.github.com/gists/972f3df61f7b52e36bb0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4946'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:48 GMT
      Etag:
      - '"31d70323777ce022a71e065b6eb5426d"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/972f3df61f7b52e36bb0","forks_url":"https://api.github.com/gists/972f3df61f7b52e36bb0/forks","commits_url":"https://api.github.com/gists/972f3df61f7b52e36bb0/commits","id":"972f3df6[...]
