---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Odio omnis eum magni assumenda vel voluptatem doloribus
        eius.","public":true,"files":{"protocol.md":{"content":"Natus non dicta ipsam
        impedit sed et ut. Dolor id saepe non et iure possimus. Qui molestias deserunt
        quam est ipsam veritatis aut. Pariatur porro dignissimos necessitatibus."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"ddbf46e6b8abcb626328c40f05738a82"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/b576f2c67288f42f4196
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/b576f2c67288f42f4196","forks_url":"https://api.github.com/gists/b576f2c67288f42f4196/forks","commits_url":"https://api.github.com/gists/b576f2c67288f42f4196/commits","id":"b576f2c67288f42f4196","git_pull_url":"https://gist.github.com/b576f2c67288f42f4196.git","git_push_url":"https://gist.github.com/b576f2c67288f42f4196.git","html_url":"https://gist.github.com/b576f2c67288f42f4196","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/b576f2c67288f42f4196/raw/89dda06bc5732c49668110f2d8f9f46203ee7c4b/protocol.md","size":173,"truncated":false,"content":"Natus
        non dicta ipsam impedit sed et ut. Dolor id saepe non et iure possimus. Qui
        molestias deserunt quam est ipsam veritatis aut. Pariatur porro dignissimos
        necessitatibus."}},"public":true,"created_at":"2015-01-09T03:44:35Z","updated_at":"2015-01-09T03:44:35Z","description":"Odio
        omnis eum magni assumenda vel voluptatem doloribus eius.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/b576f2c67288f42f4196/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"28123a2cb019cf58e5fcff99627af7bdd34d3df1","committed_at":"2015-01-09T03:44:35Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/b576f2c67288f42f4196/28123a2cb019cf58e5fcff99627af7bdd34d3df1"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:35 GMT
recorded_with: VCR 2.9.3
