---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Voluptatem in voluptatem natus soluta ipsum rerum accusantium
        vel.","public":true,"files":{"protocol.md":{"content":"In omnis illo. Commodi
        possimus inventore omnis sed. Iste et commodi ut est praesentium sint. Repudiandae
        tenetur aut magni."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4706'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"dd58eb48c4ed4ee9d7a8d845ef746385"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/2d6266d46b3cd66d20f8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/2d6266d46b3cd66d20f8","forks_url":"https://api.github.com/gists/2d6266d46b3cd66d20f8/forks","commits_url":"https://api.github.com/gists/2d6266d46b3cd66d20f8/commits","id":"2d6266d46b3cd66d20f8","git_pull_url":"https://gist.github.com/2d6266d46b3cd66d20f8.git","git_push_url":"https://gist.github.com/2d6266d46b3cd66d20f8.git","html_url":"https://gist.github.com/2d6266d46b3cd66d20f8","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/2d6266d46b3cd66d20f8/raw/c606adf115aa1fd160367d1752a4a5be0b3d5af4/protocol.md","size":124,"truncated":false,"content":"In
        omnis illo. Commodi possimus inventore omnis sed. Iste et commodi ut est praesentium
        sint. Repudiandae tenetur aut magni."}},"public":true,"created_at":"2015-01-08T04:54:22Z","updated_at":"2015-01-08T04:54:22Z","description":"Voluptatem
        in voluptatem natus soluta ipsum rerum accusantium vel.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/2d6266d46b3cd66d20f8/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"aa186d5730bdab97a164e2a61eb204f2899234af","committed_at":"2015-01-08T04:54:22Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/2d6266d46b3cd66d20f8/aa186d5730bdab97a164e2a61eb204f2899234af"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:21 GMT
- request:
    method: get
    uri: https://api.github.com/gists/2d6266d46b3cd66d20f8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1420695136'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:22 GMT
      Etag:
      - '"de042b28b5cd967ea8d7c9300b5993f6"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/2d6266d46b3cd66d20f8","forks_url":"https://api.github.com/gists/2d6266d46b3cd66d20f8/forks","commits_url":"https://api.github.com/gists/2d6266d46b3cd66d20f8/commits","i[...]
