---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Delectus cumque illo nam impedit tempora facere.","public":true,"files":{"protocol.md":{"content":"Dolor
        quis eligendi laboriosam incidunt libero tempore. Eveniet molestiae ad laudantium
        eos ut blanditiis. Praesentium dolores non modi sint aut. Accusantium et fuga
        impedit. Ab expedita eos ea et dolor totam mollitia."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4725'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"3ccaf21acaa040329b772feed6299c34"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/1ccf47bb85d8fc336cb8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/1ccf47bb85d8fc336cb8","forks_url":"https://api.github.com/gists/1ccf47bb85d8fc336cb8/forks","commits_url":"https://api.github.com/gists/1ccf47bb85d8fc336cb8/commits","id":"1ccf47bb85d8fc336cb8","git_pull_url":"https://gist.github.com/1ccf47bb85d8fc336cb8.git","git_push_url":"https://gist.github.com/1ccf47bb85d8fc336cb8.git","html_url":"https://gist.github.com/1ccf47bb85d8fc336cb8","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/1ccf47bb85d8fc336cb8/raw/a1032f84e5a319bf771f4a78fba5757884e2f5e3/protocol.md","size":218,"truncated":false,"content":"Dolor
        quis eligendi laboriosam incidunt libero tempore. Eveniet molestiae ad laudantium
        eos ut blanditiis. Praesentium dolores non modi sint aut. Accusantium et fuga
        impedit. Ab expedita eos ea et dolor totam mollitia."}},"public":true,"created_at":"2015-01-08T04:54:12Z","updated_at":"2015-01-08T04:54:12Z","description":"Delectus
        cumque illo nam impedit tempora facere.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/1ccf47bb85d8fc336cb8/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"059ac3fbc75f65e750e55f9fdaf389682c4a9460","committed_at":"2015-01-08T04:54:12Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/1ccf47bb85d8fc336cb8/059ac3fbc75f65e750e55f9fdaf389682c4a9460"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:11 GMT
- request:
    method: get
    uri: https://api.github.com/gists/1ccf47bb85d8fc336cb8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4724'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:12 GMT
      Etag:
      - '"3ccaf21acaa040329b772feed6299c34"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/1ccf47bb85d8fc336cb8","forks_url":"https://api.github.com/gists/1ccf47bb85d8fc336cb8/forks","commits_url":"https://api.github.com/gists/1ccf47bb85d8fc336cb8/commits","id":"1ccf47bb[...]
