---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"In nam rem animi quasi quidem nihil eos laudantium.","public":true,"files":{"protocol.md":{"content":"Odio
        corrupti rerum nostrum. Aliquam iure a magnam. Voluptas iste numquam at ut
        impedit magnam molestiae. Est rem qui inventore."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"ce1e8a15ab5241a2b2394c747ef6e2b7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/169bafa7728bc4c16799
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/169bafa7728bc4c16799","forks_url":"https://api.github.com/gists/169bafa7728bc4c16799/forks","commits_url":"https://api.github.com/gists/169bafa7728bc4c16799/commits","id":"169bafa7728bc4c16799","git_pull_url":"https://gist.github.com/169bafa7728bc4c16799.git","git_push_url":"https://gist.github.com/169bafa7728bc4c16799.git","html_url":"https://gist.github.com/169bafa7728bc4c16799","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/169bafa7728bc4c16799/raw/101b54276d880bfc207a746f1c63bffa2bee13f5/protocol.md","size":128,"truncated":false,"content":"Odio
        corrupti rerum nostrum. Aliquam iure a magnam. Voluptas iste numquam at ut
        impedit magnam molestiae. Est rem qui inventore."}},"public":true,"created_at":"2015-01-09T03:44:43Z","updated_at":"2015-01-09T03:44:43Z","description":"In
        nam rem animi quasi quidem nihil eos laudantium.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/169bafa7728bc4c16799/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"691471af7ec9402ce95e9341bf66939e75fa3ba5","committed_at":"2015-01-09T03:44:43Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/169bafa7728bc4c16799/691471af7ec9402ce95e9341bf66939e75fa3ba5"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:43 GMT
- request:
    method: get
    uri: https://api.github.com/gists/169bafa7728bc4c16799
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:43 GMT
      Etag:
      - '"ce1e8a15ab5241a2b2394c747ef6e2b7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/169bafa7728bc4c16799","forks_url":"https://api.github.com/gists/169bafa7728bc4c16799/forks","commits_url":"https://api.github.com/gists/169bafa7728bc4c16799/commits","id":"169bafa7[...]
