---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Natus dolor aut omnis odit.","public":true,"files":{"protocol.md":{"content":"Odit
        sequi eius. Quam nihil eos odit quaerat. Eveniet blanditiis deserunt perspiciatis
        laudantium dolorum. Modi accusamus architecto enim tenetur vel dolor."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4739'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"283315477f0f31c3defd97c384de13c9"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/7041316496f4867921bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/7041316496f4867921bc","forks_url":"https://api.github.com/gists/7041316496f4867921bc/forks","commits_url":"https://api.github.com/gists/7041316496f4867921bc/commits","id":"7041316496f4867921bc","git_pull_url":"https://gist.github.com/7041316496f4867921bc.git","git_push_url":"https://gist.github.com/7041316496f4867921bc.git","html_url":"https://gist.github.com/7041316496f4867921bc","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/7041316496f4867921bc/raw/abb68739bfba04aabe4aca5ee056b6e9e71751e0/protocol.md","size":156,"truncated":false,"content":"Odit
        sequi eius. Quam nihil eos odit quaerat. Eveniet blanditiis deserunt perspiciatis
        laudantium dolorum. Modi accusamus architecto enim tenetur vel dolor."}},"public":true,"created_at":"2015-01-08T04:54:05Z","updated_at":"2015-01-08T04:54:05Z","description":"Natus
        dolor aut omnis odit.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/7041316496f4867921bc/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"eefa4f0780a28ac6ed5780df36c5e4ff31c8a758","committed_at":"2015-01-08T04:54:05Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/7041316496f4867921bc/eefa4f0780a28ac6ed5780df36c5e4ff31c8a758"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:04 GMT
recorded_with: VCR 2.9.3
