---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Sit aut labore et eos laboriosam nisi at mollitia.","public":true,"files":{"protocol.md":{"content":"Consectetur
        omnis dicta omnis alias dolores vero earum. Et qui ipsa non sunt ut. Quod
        sint autem alias dolores. Cum minus dolor."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4704'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"943ec96591edcc612c060f4fab388fb3"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/ea460309901620e941bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/ea460309901620e941bc","forks_url":"https://api.github.com/gists/ea460309901620e941bc/forks","commits_url":"https://api.github.com/gists/ea460309901620e941bc/commits","id":"ea460309901620e941bc","git_pull_url":"https://gist.github.com/ea460309901620e941bc.git","git_push_url":"https://gist.github.com/ea460309901620e941bc.git","html_url":"https://gist.github.com/ea460309901620e941bc","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/ea460309901620e941bc/raw/fefc6194de1ae94d596356f9c5b6c189b42ca22c/protocol.md","size":128,"truncated":false,"content":"Consectetur
        omnis dicta omnis alias dolores vero earum. Et qui ipsa non sunt ut. Quod
        sint autem alias dolores. Cum minus dolor."}},"public":true,"created_at":"2015-01-08T04:54:23Z","updated_at":"2015-01-08T04:54:23Z","description":"Sit
        aut labore et eos laboriosam nisi at mollitia.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/ea460309901620e941bc/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"eded8c6e2266c87b9f952296057e919f87905923","committed_at":"2015-01-08T04:54:23Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/ea460309901620e941bc/eded8c6e2266c87b9f952296057e919f87905923"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:22 GMT
recorded_with: VCR 2.9.3
