---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Nam deserunt excepturi magni accusantium.","public":true,"files":{"protocol.md":{"content":"Sed
        dolorum voluptas. Aspernatur iure hic eos minima. Minima enim aut maxime magni
        laborum quo. Eveniet ea ut dolorem ab omnis sed voluptatem. Facilis eaque
        deserunt et quis est iusto sed."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4729'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"2deb0112bbdfa6744c532d76eebababa"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/33e75fc849bd436a38b8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/33e75fc849bd436a38b8","forks_url":"https://api.github.com/gists/33e75fc849bd436a38b8/forks","commits_url":"https://api.github.com/gists/33e75fc849bd436a38b8/commits","id":"33e75fc849bd436a38b8","git_pull_url":"https://gist.github.com/33e75fc849bd436a38b8.git","git_push_url":"https://gist.github.com/33e75fc849bd436a38b8.git","html_url":"https://gist.github.com/33e75fc849bd436a38b8","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/33e75fc849bd436a38b8/raw/62443123845141d0fcb89ba385a2a11f453cb748/protocol.md","size":188,"truncated":false,"content":"Sed
        dolorum voluptas. Aspernatur iure hic eos minima. Minima enim aut maxime magni
        laborum quo. Eveniet ea ut dolorem ab omnis sed voluptatem. Facilis eaque
        deserunt et quis est iusto sed."}},"public":true,"created_at":"2015-01-08T04:54:10Z","updated_at":"2015-01-08T04:54:10Z","description":"Nam
        deserunt excepturi magni accusantium.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/33e75fc849bd436a38b8/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"02118b7e51a24e3bf15ee29bc77e6719cbde1739","committed_at":"2015-01-08T04:54:10Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/33e75fc849bd436a38b8/02118b7e51a24e3bf15ee29bc77e6719cbde1739"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:09 GMT
- request:
    method: get
    uri: https://api.github.com/gists/33e75fc849bd436a38b8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4728'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:10 GMT
      Etag:
      - '"2deb0112bbdfa6744c532d76eebababa"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/33e75fc849bd436a38b8","forks_url":"https://api.github.com/gists/33e75fc849bd436a38b8/forks","commits_url":"https://api.github.com/gists/33e75fc849bd436a38b8/commits","id":"33e75fc8[...]
- request:
    method: post
    uri: https://api.github.com/gists/33e75fc849bd436a38b8/comments
    body:
      encoding: UTF-8
      string: '{"body":["earum","aspernatur","vero","nisi","et","totam","eos","et","mollitia","assumenda","rem","non","et","molestiae","distinctio","ut","ut","eius","dolore","et"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
    [...]
[...]
