---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Dolorem consectetur et in odit rerum odio.","public":true,"files":{"protocol.md":{"content":"Et
        temporibus quidem et veniam. Minima aut aspernatur perferendis praesentium
        ut. Laborum fuga ipsum omnis aut. Et sit provident non unde in qui. Et quia
        reprehenderit quidem officiis laborum dolore similique."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"a1ca65b81f6bb1797f17a124e55eca0e"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/feb1af689a988d4640ab
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/feb1af689a988d4640ab","forks_url":"https://api.github.com/gists/feb1af689a988d4640ab/forks","commits_url":"https://api.github.com/gists/feb1af689a988d4640ab/commits","id":"feb1af689a988d4640ab","git_pull_url":"https://gist.github.com/feb1af689a988d4640ab.git","git_push_url":"https://gist.github.com/feb1af689a988d4640ab.git","html_url":"https://gist.github.com/feb1af689a988d4640ab","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/feb1af689a988d4640ab/raw/46e752a3e6cc982c73b0c59a6ba4e562d7ee4d51/protocol.md","size":209,"truncated":false,"content":"Et
        temporibus quidem et veniam. Minima aut aspernatur perferendis praesentium
        ut. Laborum fuga ipsum omnis aut. Et sit provident non unde in qui. Et quia
        reprehenderit quidem officiis laborum dolore similique."}},"public":true,"created_at":"2015-01-09T03:44:36Z","updated_at":"2015-01-09T03:44:36Z","description":"Dolorem
        consectetur et in odit rerum odio.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/feb1af689a988d4640ab/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"551ad5710c0124f0ea753b0ecdc0d52c4df94cdf","committed_at":"2015-01-09T03:44:36Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/feb1af689a988d4640ab/551ad5710c0124f0ea753b0ecdc0d52c4df94cdf"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:36 GMT
recorded_with: VCR 2.9.3
