---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Illo quia asperiores ipsum id et harum et rerum.","public":true,"files":{"protocol.md":{"content":"Aliquid
        saepe dicta tenetur et non voluptas. Tempora aliquam cum dolor quia. Sapiente
        temporibus nostrum fugiat aut cumque qui ut. Facere voluptas est blanditiis.
        Id quaerat ducimus non inventore."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4745'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"ba74cca3454d112b609f6a6f333a98b1"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/fc8dafaf354977b3dba1
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/fc8dafaf354977b3dba1","forks_url":"https://api.github.com/gists/fc8dafaf354977b3dba1/forks","commits_url":"https://api.github.com/gists/fc8dafaf354977b3dba1/commits","id":"fc8dafaf354977b3dba1","git_pull_url":"https://gist.github.com/fc8dafaf354977b3dba1.git","git_push_url":"https://gist.github.com/fc8dafaf354977b3dba1.git","html_url":"https://gist.github.com/fc8dafaf354977b3dba1","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/fc8dafaf354977b3dba1/raw/804063cf7bb5a7f74287a9d29d812a2d71c9754b/protocol.md","size":196,"truncated":false,"content":"Aliquid
        saepe dicta tenetur et non voluptas. Tempora aliquam cum dolor quia. Sapiente
        temporibus nostrum fugiat aut cumque qui ut. Facere voluptas est blanditiis.
        Id quaerat ducimus non inventore."}},"public":true,"created_at":"2015-01-08T04:54:03Z","updated_at":"2015-01-08T04:54:03Z","description":"Illo
        quia asperiores ipsum id et harum et rerum.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/fc8dafaf354977b3dba1/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"ebcd41ddac8e3f01d7661f9d33b519ee65be853c","committed_at":"2015-01-08T04:54:02Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/fc8dafaf354977b3dba1/ebcd41ddac8e3f01d7661f9d33b519ee65be853c"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:02 GMT
[...]
