---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Rem totam non vel unde voluptatem ratione velit.","public":true,"files":{"protocol.md":{"content":"Illo
        consequatur dicta adipisci suscipit consequatur. Enim harum porro voluptatem
        quia ut. Odit voluptatibus ratione eos. Accusantium sint sit ut esse officia
        debitis placeat."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"58c55688f25781fbf1f63939f66fc46c"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/e2e4296b2f51c9b81327
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/e2e4296b2f51c9b81327","forks_url":"https://api.github.com/gists/e2e4296b2f51c9b81327/forks","commits_url":"https://api.github.com/gists/e2e4296b2f51c9b81327/commits","id":"e2e4296b2f51c9b81327","git_pull_url":"https://gist.github.com/e2e4296b2f51c9b81327.git","git_push_url":"https://gist.github.com/e2e4296b2f51c9b81327.git","html_url":"https://gist.github.com/e2e4296b2f51c9b81327","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/e2e4296b2f51c9b81327/raw/32633c0e9edbd55af82768c1938ea3f47fc78cae/protocol.md","size":175,"truncated":false,"content":"Illo
        consequatur dicta adipisci suscipit consequatur. Enim harum porro voluptatem
        quia ut. Odit voluptatibus ratione eos. Accusantium sint sit ut esse officia
        debitis placeat."}},"public":true,"created_at":"2015-01-09T03:44:37Z","updated_at":"2015-01-09T03:44:37Z","description":"Rem
        totam non vel unde voluptatem ratione velit.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/e2e4296b2f51c9b81327/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"de212f78ed65eec6d90ca1bd02f5f8076c643a15","committed_at":"2015-01-09T03:44:37Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/e2e4296b2f51c9b81327/de212f78ed65eec6d90ca1bd02f5f8076c643a15"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:37 GMT
- request:
    method: get
    uri: https://api.github.com/gists/e2e4296b2f51c9b81327
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1420778678'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:37 GMT
      Etag:
      - '"4922a2a1f1c089a229eebbafb13d3d49"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/e2e4296b2f51c9b81327","forks_url":"https://api.github.com/gists/e2e4296b2f51c9b81327/forks","commits_url":"https://api.github.com/gists/e2e4296b2f51c9b81327/commits","i[...]
