---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Culpa vel consequatur laborum maiores quia ducimus
        qui voluptatem.","public":true,"files":{"protocol.md":{"content":"Minima explicabo
        a. Temporibus ex consequatur enim. Facere a assumenda."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4743'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"f4a3b1b9fa3da66097b4deb1975c21c9"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/5b9d62af05fa68929386
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/5b9d62af05fa68929386","forks_url":"https://api.github.com/gists/5b9d62af05fa68929386/forks","commits_url":"https://api.github.com/gists/5b9d62af05fa68929386/commits","id":"5b9d62af05fa68929386","git_pull_url":"https://gist.github.com/5b9d62af05fa68929386.git","git_push_url":"https://gist.github.com/5b9d62af05fa68929386.git","html_url":"https://gist.github.com/5b9d62af05fa68929386","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/5b9d62af05fa68929386/raw/a2aa3756c6134457992fa2f7a7b748541438eaf9/protocol.md","size":71,"truncated":false,"content":"Minima
        explicabo a. Temporibus ex consequatur enim. Facere a assumenda."}},"public":true,"created_at":"2015-01-08T04:54:03Z","updated_at":"2015-01-08T04:54:03Z","description":"Culpa
        vel consequatur laborum maiores quia ducimus qui voluptatem.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/5b9d62af05fa68929386/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"d443535b686cb442f71db6e10b0ea94f3465f48c","committed_at":"2015-01-08T04:54:03Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/5b9d62af05fa68929386/d443535b686cb442f71db6e10b0ea94f3465f48c"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:03 GMT
- request:
    method: get
    uri: https://api.github.com/gists/5b9d62af05fa68929386
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4742'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:03 GMT
      Etag:
      - '"f4a3b1b9fa3da66097b4deb1975c21c9"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/5b9d62af05fa68929386","forks_url":"https://api.github.com/gists/5b9d62af05fa68929386/forks","commits_url":"https://api.github.com/gists/5b9d62af05fa68929386/commits","id":"5b9d62af[...]
- request:
    method: get
    uri: https://api.github.com/gists/5b9d62af05fa68929386/star
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4741'
      X-Ratelimit-Reset:
      - '1420695119'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Jan 2015 04:54:03 GMT
- request:
    method: get
    uri: https://api.github.com/gists/5b9d62af05fa68929386/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4740'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"956279fb40e7f8d0270a76fd2838b7f7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 08 Jan 2015 04:54:04 GMT
recorded_with: VCR 2.9.3
