---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Qui modi voluptas blanditiis aperiam est dolores.","public":true,"files":{"protocol.md":{"content":"Vel
        accusamus dolores et et sed quia. Necessitatibus fuga ipsum repellendus ipsam
        nobis dolorem. Aut enim aut fugiat qui sit et. Aut explicabo voluptas repellat
        modi."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4714'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"63335ee0d50e7b0f9f8cc7788278ae13"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/d476391f169e50378129
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/d476391f169e50378129","forks_url":"https://api.github.com/gists/d476391f169e50378129/forks","commits_url":"https://api.github.com/gists/d476391f169e50378129/commits","id":"d476391f169e50378129","git_pull_url":"https://gist.github.com/d476391f169e50378129.git","git_push_url":"https://gist.github.com/d476391f169e50378129.git","html_url":"https://gist.github.com/d476391f169e50378129","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/d476391f169e50378129/raw/d8f18f6fdb11ea1b6124b19e9c3680edec7cadd9/protocol.md","size":166,"truncated":false,"content":"Vel
        accusamus dolores et et sed quia. Necessitatibus fuga ipsum repellendus ipsam
        nobis dolorem. Aut enim aut fugiat qui sit et. Aut explicabo voluptas repellat
        modi."}},"public":true,"created_at":"2015-01-08T04:54:17Z","updated_at":"2015-01-08T04:54:17Z","description":"Qui
        modi voluptas blanditiis aperiam est dolores.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/d476391f169e50378129/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"0c9704c89c766b292a9e7bd60766ce05400f9047","committed_at":"2015-01-08T04:54:17Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/d476391f169e50378129/0c9704c89c766b292a9e7bd60766ce05400f9047"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:16 GMT
[...]
