---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Laudantium blanditiis aut error id.","public":true,"files":{"protocol.md":{"content":"Et
        adipisci sunt qui enim est at ea. Porro animi voluptatum. Et nihil dolor in
        aut in aspernatur voluptas."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4945'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"0f962fbd75a362f5e91f0b2c255755d1"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/90698c0facbf3d4f1c0a
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/90698c0facbf3d4f1c0a","forks_url":"https://api.github.com/gists/90698c0facbf3d4f1c0a/forks","commits_url":"https://api.github.com/gists/90698c0facbf3d4f1c0a/commits","id":"90698c0facbf3d4f1c0a","git_pull_url":"https://gist.github.com/90698c0facbf3d4f1c0a.git","git_push_url":"https://gist.github.com/90698c0facbf3d4f1c0a.git","html_url":"https://gist.github.com/90698c0facbf3d4f1c0a","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/90698c0facbf3d4f1c0a/raw/c7abe27ad792c1e466d56f884481878d8a9ea545/protocol.md","size":106,"truncated":false,"content":"Et
        adipisci sunt qui enim est at ea. Porro animi voluptatum. Et nihil dolor in
        aut in aspernatur voluptas."}},"public":true,"created_at":"2015-01-09T03:44:49Z","updated_at":"2015-01-09T03:44:49Z","description":"Laudantium
        blanditiis aut error id.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/90698c0facbf3d4f1c0a/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"14af7c8a9208a3e3354d5936b8a7cb680d570f68","committed_at":"2015-01-09T03:44:49Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/90698c0facbf3d4f1c0a/14af7c8a9208a3e3354d5936b8a7cb680d570f68"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:49 GMT
- request:
    method: get
    uri: https://api.github.com/gists/90698c0facbf3d4f1c0a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4944'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:49 GMT
      Etag:
      - '"0f962fbd75a362f5e91f0b2c255755d1"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/90698c0facbf3d4f1c0a","forks_url":"https://api.github.com/gists/90698c0facbf3d4f1c0a/forks","commits_url":"https://api.github.com/gists/90698c0facbf3d4f1c0a/commits","id":"90698c0f[...]
- request:
    method: put
    uri: https://api.github.com/gists/90698c0facbf3d4f1c0a/star
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Jan 2015 03:44:50 GMT
recorded_with: VCR 2.9.3
