---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Ex maiores quia culpa ut sed repudiandae ut.","public":true,"files":{"protocol.md":{"content":"Rem
        nihil quia dicta iste blanditiis dolorem. Enim fugit alias sit ea ex saepe.
        Tempora et ratione debitis quia."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4709'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"c31bcee3f249fb234b923146c3c9eace"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/c2d881df5a1db6a17612
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/c2d881df5a1db6a17612","forks_url":"https://api.github.com/gists/c2d881df5a1db6a17612/forks","commits_url":"https://api.github.com/gists/c2d881df5a1db6a17612/commits","id":"c2d881df5a1db6a17612","git_pull_url":"https://gist.github.com/c2d881df5a1db6a17612.git","git_push_url":"https://gist.github.com/c2d881df5a1db6a17612.git","html_url":"https://gist.github.com/c2d881df5a1db6a17612","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/c2d881df5a1db6a17612/raw/f3ad1dd83f3ac8ebc67c803fac5ddee82d023f90/protocol.md","size":112,"truncated":false,"content":"Rem
        nihil quia dicta iste blanditiis dolorem. Enim fugit alias sit ea ex saepe.
        Tempora et ratione debitis quia."}},"public":true,"created_at":"2015-01-08T04:54:19Z","updated_at":"2015-01-08T04:54:19Z","description":"Ex
        maiores quia culpa ut sed repudiandae ut.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/c2d881df5a1db6a17612/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"16749c0f33aae44e688b5b41dfda5b3c385ead1e","committed_at":"2015-01-08T04:54:19Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/c2d881df5a1db6a17612/16749c0f33aae44e688b5b41dfda5b3c385ead1e"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:18 GMT
- request:
    method: get
    uri: https://api.github.com/gists/c2d881df5a1db6a17612
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4708'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:19 GMT
      Etag:
      - '"c31bcee3f249fb234b923146c3c9eace"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/c2d881df5a1db6a17612","forks_url":"https://api.github.com/gists/c2d881df5a1db6a17612/forks","commits_url":"https://api.github.com/gists/c2d881df5a1db6a17612/commits","id":"c2d881df[...]
