---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Suscipit natus minus vitae et non.","public":true,"files":{"protocol.md":{"content":"Culpa
        incidunt qui rem consequatur qui velit. Libero et recusandae vero veritatis.
        Doloremque et sunt quaerat."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"fcba6f17d70281b6eaee9fb789fc8234"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/248f1ba5eb2efdf05013
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/248f1ba5eb2efdf05013","forks_url":"https://api.github.com/gists/248f1ba5eb2efdf05013/forks","commits_url":"https://api.github.com/gists/248f1ba5eb2efdf05013/commits","id":"248f1ba5eb2efdf05013","git_pull_url":"https://gist.github.com/248f1ba5eb2efdf05013.git","git_push_url":"https://gist.github.com/248f1ba5eb2efdf05013.git","html_url":"https://gist.github.com/248f1ba5eb2efdf05013","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/248f1ba5eb2efdf05013/raw/62d5ee7f81cd3dfefa0ea10f7abecc5a0aff131f/protocol.md","size":110,"truncated":false,"content":"Culpa
        incidunt qui rem consequatur qui velit. Libero et recusandae vero veritatis.
        Doloremque et sunt quaerat."}},"public":true,"created_at":"2015-01-09T03:44:44Z","updated_at":"2015-01-09T03:44:44Z","description":"Suscipit
        natus minus vitae et non.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/248f1ba5eb2efdf05013/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"6176d8c7d4b74d3475b910865f42b61bd95ffc96","committed_at":"2015-01-09T03:44:44Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/248f1ba5eb2efdf05013/6176d8c7d4b74d3475b910865f42b61bd95ffc96"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:44 GMT
- request:
    method: get
    uri: https://api.github.com/gists/248f1ba5eb2efdf05013
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:44 GMT
      Etag:
      - '"fcba6f17d70281b6eaee9fb789fc8234"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/248f1ba5eb2efdf05013","forks_url":"https://api.github.com/gists/248f1ba5eb2efdf05013/forks","commits_url":"https://api.github.com/gists/248f1ba5eb2efdf05013/commits","id":"248f1ba5[...]
- request:
    method: delete
    uri: https://api.github.com/gists/248f1ba5eb2efdf05013/star
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Jan 2015 03:44:45 GMT
recorded_with: VCR 2.9.3
