---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Odio sed ratione in nemo dolores placeat incidunt qui.","public":true,"files":{"protocol.md":{"content":"Qui
        ullam sed iusto eius quam velit voluptatem. Qui explicabo odit iste nihil.
        Aliquid fugit sit quo earum. Maxime ea labore nesciunt. Laboriosam sunt recusandae
        reprehenderit."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"324f4d89f90bf0cfca185d8cbf59728a"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/c69061c1f2a7ff0db174
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/c69061c1f2a7ff0db174","forks_url":"https://api.github.com/gists/c69061c1f2a7ff0db174/forks","commits_url":"https://api.github.com/gists/c69061c1f2a7ff0db174/commits","id":"c69061c1f2a7ff0db174","git_pull_url":"https://gist.github.com/c69061c1f2a7ff0db174.git","git_push_url":"https://gist.github.com/c69061c1f2a7ff0db174.git","html_url":"https://gist.github.com/c69061c1f2a7ff0db174","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/c69061c1f2a7ff0db174/raw/c6bc7650ff64f33b26be6b26d500d43016837bb6/protocol.md","size":176,"truncated":false,"content":"Qui
        ullam sed iusto eius quam velit voluptatem. Qui explicabo odit iste nihil.
        Aliquid fugit sit quo earum. Maxime ea labore nesciunt. Laboriosam sunt recusandae
        reprehenderit."}},"public":true,"created_at":"2015-01-09T03:44:46Z","updated_at":"2015-01-09T03:44:46Z","description":"Odio
        sed ratione in nemo dolores placeat incidunt qui.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/c69061c1f2a7ff0db174/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"1c0478b27192721cd754dba4e6708ac64aaa04a8","committed_at":"2015-01-09T03:44:46Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/c69061c1f2a7ff0db174/1c0478b27192721cd754dba4e6708ac64aaa04a8"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:46 GMT
recorded_with: VCR 2.9.3
