---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Sunt repudiandae ea qui fugiat ut ab vero magni.","public":true,"files":{"protocol.md":{"content":"Enim
        quis quidem. Autem dignissimos nobis velit at explicabo veritatis et. Voluptatem
        et iste."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4731'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"3fee3cd5edd178661234561c8272ce51"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/da65e73b376abbe0d142
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/da65e73b376abbe0d142","forks_url":"https://api.github.com/gists/da65e73b376abbe0d142/forks","commits_url":"https://api.github.com/gists/da65e73b376abbe0d142/commits","id":"da65e73b376abbe0d142","git_pull_url":"https://gist.github.com/da65e73b376abbe0d142.git","git_push_url":"https://gist.github.com/da65e73b376abbe0d142.git","html_url":"https://gist.github.com/da65e73b376abbe0d142","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/da65e73b376abbe0d142/raw/54d260dcee86afef70e750910d88b36b20931f8c/protocol.md","size":94,"truncated":false,"content":"Enim
        quis quidem. Autem dignissimos nobis velit at explicabo veritatis et. Voluptatem
        et iste."}},"public":true,"created_at":"2015-01-08T04:54:09Z","updated_at":"2015-01-08T04:54:09Z","description":"Sunt
        repudiandae ea qui fugiat ut ab vero magni.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/da65e73b376abbe0d142/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"13c2849e44e8ac0af783b7bb00e74490e6088837","committed_at":"2015-01-08T04:54:09Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/da65e73b376abbe0d142/13c2849e44e8ac0af783b7bb00e74490e6088837"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:08 GMT
recorded_with: VCR 2.9.3
