---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Sed a fuga facilis atque.","public":true,"files":{"protocol.md":{"content":"Molestias
        aliquid ipsam. Qui facilis exercitationem minus voluptatibus magnam. Ducimus
        et amet cumque dolor odio doloremque corporis."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4949'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"6c4e0380c38fcadae245a40510424d01"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/4e812b23b60da7b60991
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/4e812b23b60da7b60991","forks_url":"https://api.github.com/gists/4e812b23b60da7b60991/forks","commits_url":"https://api.github.com/gists/4e812b23b60da7b60991/commits","id":"4e812b23b60da7b60991","git_pull_url":"https://gist.github.com/4e812b23b60da7b60991.git","git_push_url":"https://gist.github.com/4e812b23b60da7b60991.git","html_url":"https://gist.github.com/4e812b23b60da7b60991","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/4e812b23b60da7b60991/raw/35f1d3c0a5b4e21946bccd29ad5febf8df63d6b2/protocol.md","size":133,"truncated":false,"content":"Molestias
        aliquid ipsam. Qui facilis exercitationem minus voluptatibus magnam. Ducimus
        et amet cumque dolor odio doloremque corporis."}},"public":true,"created_at":"2015-01-09T03:44:47Z","updated_at":"2015-01-09T03:44:47Z","description":"Sed
        a fuga facilis atque.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/4e812b23b60da7b60991/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"96a4ac3d4e6465ffacc82497925711cdc15fa696","committed_at":"2015-01-09T03:44:47Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/4e812b23b60da7b60991/96a4ac3d4e6465ffacc82497925711cdc15fa696"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:47 GMT
[...]
