---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Quia et magni corporis officia omnis repellat cum impedit
        architecto.","public":true,"files":{"protocol.md":{"content":"Consequatur
        sed non aperiam consequatur autem iure. Temporibus voluptatem optio facilis
        enim. Soluta voluptatem sunt magnam."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4703'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"b8de7d1aa1758422b947f00973b974f4"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/3d0d7099ce2dec46d23b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/3d0d7099ce2dec46d23b","forks_url":"https://api.github.com/gists/3d0d7099ce2dec46d23b/forks","commits_url":"https://api.github.com/gists/3d0d7099ce2dec46d23b/commits","id":"3d0d7099ce2dec46d23b","git_pull_url":"https://gist.github.com/3d0d7099ce2dec46d23b.git","git_push_url":"https://gist.github.com/3d0d7099ce2dec46d23b.git","html_url":"https://gist.github.com/3d0d7099ce2dec46d23b","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/3d0d7099ce2dec46d23b/raw/63e4671e5ea52961f694e2af5fec32dd3276f667/protocol.md","size":124,"truncated":false,"content":"Consequatur
        sed non aperiam consequatur autem iure. Temporibus voluptatem optio facilis
        enim. Soluta voluptatem sunt magnam."}},"public":true,"created_at":"2015-01-08T04:54:24Z","updated_at":"2015-01-08T04:54:24Z","description":"Quia
        et magni corporis officia omnis repellat cum impedit architecto.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/3d0d7099ce2dec46d23b/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"5cf5a4f9b39140176f8971e0c9052a413398f0cc","committed_at":"2015-01-08T04:54:24Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/3d0d7099ce2dec46d23b/5cf5a4f9b39140176f8971e0c9052a413398f0cc"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:23 GMT
recorded_with: VCR 2.9.3
