---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Omnis molestiae est ea at nihil porro totam adipisci.","public":true,"files":{"protocol.md":{"content":"Quibusdam
        quia laborum. Repellat nemo est error labore. Sit repudiandae sapiente aliquam
        soluta sit quae sunt. Qui debitis consectetur qui eius error."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4720'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"77cc241166824870542f238aa708cc04"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/d9fd20b4031012ffad86
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/d9fd20b4031012ffad86","forks_url":"https://api.github.com/gists/d9fd20b4031012ffad86/forks","commits_url":"https://api.github.com/gists/d9fd20b4031012ffad86/commits","id":"d9fd20b4031012ffad86","git_pull_url":"https://gist.github.com/d9fd20b4031012ffad86.git","git_push_url":"https://gist.github.com/d9fd20b4031012ffad86.git","html_url":"https://gist.github.com/d9fd20b4031012ffad86","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/d9fd20b4031012ffad86/raw/952c6d6210b153b9f8c079b151d0ccba653eb63a/protocol.md","size":150,"truncated":false,"content":"Quibusdam
        quia laborum. Repellat nemo est error labore. Sit repudiandae sapiente aliquam
        soluta sit quae sunt. Qui debitis consectetur qui eius error."}},"public":true,"created_at":"2015-01-08T04:54:14Z","updated_at":"2015-01-08T04:54:14Z","description":"Omnis
        molestiae est ea at nihil porro totam adipisci.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/d9fd20b4031012ffad86/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"2893bd11f0e712ce79428f8d2b6096af18413b7c","committed_at":"2015-01-08T04:54:14Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/d9fd20b4031012ffad86/2893bd11f0e712ce79428f8d2b6096af18413b7c"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:13 GMT
recorded_with: VCR 2.9.3
