---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Est laudantium dolorem laborum iure sunt omnis.","public":true,"files":{"protocol.md":{"content":"Omnis
        ut minus maiores est molestias qui. Doloribus illo et. Quia non aut accusamus
        voluptate dolores tempora culpa. Et et sit officiis non inventore sed et.
        Neque eos illum dicta qui recusandae nemo non."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4899'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"f2b495e6104d84f075a63598175074e9"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/ed11c88e7bbe4f4478a6
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/ed11c88e7bbe4f4478a6","forks_url":"https://api.github.com/gists/ed11c88e7bbe4f4478a6/forks","commits_url":"https://api.github.com/gists/ed11c88e7bbe4f4478a6/commits","id":"ed11c88e7bbe4f4478a6","git_pull_url":"https://gist.github.com/ed11c88e7bbe4f4478a6.git","git_push_url":"https://gist.github.com/ed11c88e7bbe4f4478a6.git","html_url":"https://gist.github.com/ed11c88e7bbe4f4478a6","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/ed11c88e7bbe4f4478a6/raw/c3cb09ce53fae3bba363b820bbcdf31d5d42dfa1/protocol.md","size":204,"truncated":false,"content":"Omnis
        ut minus maiores est molestias qui. Doloribus illo et. Quia non aut accusamus
        voluptate dolores tempora culpa. Et et sit officiis non inventore sed et.
        Neque eos illum dicta qui recusandae nemo non."}},"public":true,"created_at":"2015-01-09T03:45:20Z","updated_at":"2015-01-09T03:45:20Z","description":"Est
        laudantium dolorem laborum iure sunt omnis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/ed11c88e7bbe4f4478a6/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"f0071a72070fd80efa7a74352530150f5237ac09","committed_at":"2015-01-09T03:45:20Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/ed11c88e7bbe4f4478a6/f0071a72070fd80efa7a74352530150f5237ac09"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:20 GMT
recorded_with: VCR 2.9.3
