---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Est dolores ipsum possimus consectetur.","public":true,"files":{"protocol.md":{"content":"Deleniti
        qui expedita iusto inventore consequuntur. Est enim rerum aut distinctio.
        Aperiam qui ipsum qui omnis non enim similique. Ut excepturi qui iusto laboriosam
        cumque."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4890'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"23a1d8c8c8e5cfb7fbce7145796f495f"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/0e26ac03dab0e2128932
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/0e26ac03dab0e2128932","forks_url":"https://api.github.com/gists/0e26ac03dab0e2128932/forks","commits_url":"https://api.github.com/gists/0e26ac03dab0e2128932/commits","id":"0e26ac03dab0e2128932","git_pull_url":"https://gist.github.com/0e26ac03dab0e2128932.git","git_push_url":"https://gist.github.com/0e26ac03dab0e2128932.git","html_url":"https://gist.github.com/0e26ac03dab0e2128932","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/0e26ac03dab0e2128932/raw/71eefac41c35033323b9f550e875236452349356/protocol.md","size":172,"truncated":false,"content":"Deleniti
        qui expedita iusto inventore consequuntur. Est enim rerum aut distinctio.
        Aperiam qui ipsum qui omnis non enim similique. Ut excepturi qui iusto laboriosam
        cumque."}},"public":true,"created_at":"2015-01-09T03:45:25Z","updated_at":"2015-01-09T03:45:25Z","description":"Est
        dolores ipsum possimus consectetur.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/0e26ac03dab0e2128932/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"103921741f90199ba6db382de5a0ffdd8b22408d","committed_at":"2015-01-09T03:45:25Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/0e26ac03dab0e2128932/103921741f90199ba6db382de5a0ffdd8b22408d"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:25 GMT
recorded_with: VCR 2.9.3
