---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Qui quae totam veniam facilis.","public":true,"files":{"protocol.md":{"content":"Voluptatem
        aperiam reprehenderit. Minus ipsa et corporis est doloribus iure ut. Beatae
        autem voluptatum non enim. Deleniti dolores exercitationem repudiandae cum."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4689'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"11893d881b16e64fd08d12352a0caefc"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/e11df2129bb6295432eb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/e11df2129bb6295432eb","forks_url":"https://api.github.com/gists/e11df2129bb6295432eb/forks","commits_url":"https://api.github.com/gists/e11df2129bb6295432eb/commits","id":"e11df2129bb6295432eb","git_pull_url":"https://gist.github.com/e11df2129bb6295432eb.git","git_push_url":"https://gist.github.com/e11df2129bb6295432eb.git","html_url":"https://gist.github.com/e11df2129bb6295432eb","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/e11df2129bb6295432eb/raw/4756e71d76d45538f1b2c4bd976bb69d2796fdc5/protocol.md","size":162,"truncated":false,"content":"Voluptatem
        aperiam reprehenderit. Minus ipsa et corporis est doloribus iure ut. Beatae
        autem voluptatum non enim. Deleniti dolores exercitationem repudiandae cum."}},"public":true,"created_at":"2015-01-08T04:54:30Z","updated_at":"2015-01-08T04:54:30Z","description":"Qui
        quae totam veniam facilis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/e11df2129bb6295432eb/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"e1100d0fe8f0b7dafdcd38aad8be90d128a73ef0","committed_at":"2015-01-08T04:54:30Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/e11df2129bb6295432eb/e1100d0fe8f0b7dafdcd38aad8be90d128a73ef0"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:29 GMT
recorded_with: VCR 2.9.3
