---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Voluptatibus itaque incidunt sint autem et eum voluptas
        iusto.","public":true,"files":{"protocol.md":{"content":"Quas rerum magnam
        doloribus aut voluptatibus quo quibusdam. Qui voluptas autem doloremque fugiat
        voluptatum aut quod. Similique nesciunt eum modi tenetur beatae quidem fugiat."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4692'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"85400246727359dc8fb479350d3a5afb"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/587595828d27c8abf9f8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/587595828d27c8abf9f8","forks_url":"https://api.github.com/gists/587595828d27c8abf9f8/forks","commits_url":"https://api.github.com/gists/587595828d27c8abf9f8/commits","id":"587595828d27c8abf9f8","git_pull_url":"https://gist.github.com/587595828d27c8abf9f8.git","git_push_url":"https://gist.github.com/587595828d27c8abf9f8.git","html_url":"https://gist.github.com/587595828d27c8abf9f8","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/587595828d27c8abf9f8/raw/8c9a93afa66a9c9c437a22ea90af1ac6c942352b/protocol.md","size":175,"truncated":false,"content":"Quas
        rerum magnam doloribus aut voluptatibus quo quibusdam. Qui voluptas autem
        doloremque fugiat voluptatum aut quod. Similique nesciunt eum modi tenetur
        beatae quidem fugiat."}},"public":true,"created_at":"2015-01-08T04:54:29Z","updated_at":"2015-01-08T04:54:29Z","description":"Voluptatibus
        itaque incidunt sint autem et eum voluptas iusto.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/587595828d27c8abf9f8/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"2f2941e4f91964fdf1d2d9ae8519985feced6b6a","committed_at":"2015-01-08T04:54:29Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/587595828d27c8abf9f8/2f2941e4f91964fdf1d2d9ae8519985feced6b6a"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:28 GMT
- request:
    method: get
    uri: https://api.github.com/gists/587595828d27c8abf9f8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4691'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:29 GMT
      Etag:
      - '"85400246727359dc8fb479350d3a5afb"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/587595828d27c8abf9f8","forks_url":"https://api.github.com/gists/587595828d27c8abf9f8/forks","commits_url":"https://api.github.com/gists/587595828d27c8abf9f8/commits","id":"58759582[...]
- request:
    method: get
    uri: https://api.github.com/gists/587595828d27c8abf9f8/star
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4690'
      X-Ratelimit-Reset:
      - '1420695119'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Jan 2015 04:54:29 GMT
recorded_with: VCR 2.9.3
