---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"In impedit laborum atque harum est.","public":true,"files":{"protocol.md":{"content":"Voluptas
        tempora ab ipsam unde. Ea reprehenderit velit qui. Explicabo enim distinctio
        voluptatem. Et quia esse quis numquam."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4694'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"c5f173afe697fe435dbdaf32971d9722"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/16e8cb2d8b6e83e1b3a5
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/16e8cb2d8b6e83e1b3a5","forks_url":"https://api.github.com/gists/16e8cb2d8b6e83e1b3a5/forks","commits_url":"https://api.github.com/gists/16e8cb2d8b6e83e1b3a5/commits","id":"16e8cb2d8b6e83e1b3a5","git_pull_url":"https://gist.github.com/16e8cb2d8b6e83e1b3a5.git","git_push_url":"https://gist.github.com/16e8cb2d8b6e83e1b3a5.git","html_url":"https://gist.github.com/16e8cb2d8b6e83e1b3a5","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/16e8cb2d8b6e83e1b3a5/raw/f34b35da6c2b066556f15211fcc57884d35c9486/protocol.md","size":124,"truncated":false,"content":"Voluptas
        tempora ab ipsam unde. Ea reprehenderit velit qui. Explicabo enim distinctio
        voluptatem. Et quia esse quis numquam."}},"public":true,"created_at":"2015-01-08T04:54:28Z","updated_at":"2015-01-08T04:54:28Z","description":"In
        impedit laborum atque harum est.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/16e8cb2d8b6e83e1b3a5/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"6ad02f13ab83cc40315f839e21d455ca3cdd8f65","committed_at":"2015-01-08T04:54:28Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/16e8cb2d8b6e83e1b3a5/6ad02f13ab83cc40315f839e21d455ca3cdd8f65"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:27 GMT
recorded_with: VCR 2.9.3
