---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Ea similique omnis doloremque optio eos itaque illo
        vitae sed.","public":true,"files":{"protocol.md":{"content":"Totam modi porro
        libero ipsam itaque voluptas. Molestias pariatur nam voluptatem. Pariatur
        sed optio dignissimos ex. Voluptatem blanditiis ut voluptatum nostrum."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4685'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"a8cdb19212a268be3caaf43e8117190d"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/a33a07796028415f1681
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/a33a07796028415f1681","forks_url":"https://api.github.com/gists/a33a07796028415f1681/forks","commits_url":"https://api.github.com/gists/a33a07796028415f1681/commits","id":"a33a07796028415f1681","git_pull_url":"https://gist.github.com/a33a07796028415f1681.git","git_push_url":"https://gist.github.com/a33a07796028415f1681.git","html_url":"https://gist.github.com/a33a07796028415f1681","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/a33a07796028415f1681/raw/47f6bb0b9ab2d0620fd7a7b89bfe791309936b3c/protocol.md","size":161,"truncated":false,"content":"Totam
        modi porro libero ipsam itaque voluptas. Molestias pariatur nam voluptatem.
        Pariatur sed optio dignissimos ex. Voluptatem blanditiis ut voluptatum nostrum."}},"public":true,"created_at":"2015-01-08T04:54:32Z","updated_at":"2015-01-08T04:54:32Z","description":"Ea
        similique omnis doloremque optio eos itaque illo vitae sed.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/a33a07796028415f1681/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"2e6879d3c42edeb4e5d1312e449f482267eab42b","committed_at":"2015-01-08T04:54:32Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/a33a07796028415f1681/2e6879d3c42edeb4e5d1312e449f482267eab42b"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:31 GMT
recorded_with: VCR 2.9.3
