---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Corrupti cum et id est velit facere.","public":true,"files":{"protocol.md":{"content":"Nulla
        qui nam magnam. Libero sed vero nihil ab cumque maiores. Temporibus quod vel
        consequatur architecto natus omnis aut."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4905'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"6ad0ef153c8c327857c7f374e67429f3"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/742acf9b37f1a1927983
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/742acf9b37f1a1927983","forks_url":"https://api.github.com/gists/742acf9b37f1a1927983/forks","commits_url":"https://api.github.com/gists/742acf9b37f1a1927983/commits","id":"742acf9b37f1a1927983","git_pull_url":"https://gist.github.com/742acf9b37f1a1927983.git","git_push_url":"https://gist.github.com/742acf9b37f1a1927983.git","html_url":"https://gist.github.com/742acf9b37f1a1927983","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/742acf9b37f1a1927983/raw/84cdef9d7be015967ef0a239cf68cfb088f7c30b/protocol.md","size":122,"truncated":false,"content":"Nulla
        qui nam magnam. Libero sed vero nihil ab cumque maiores. Temporibus quod vel
        consequatur architecto natus omnis aut."}},"public":true,"created_at":"2015-01-09T03:45:17Z","updated_at":"2015-01-09T03:45:17Z","description":"Corrupti
        cum et id est velit facere.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/742acf9b37f1a1927983/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"c49980d3ff59761ba3f48ddcebfe7dcbc3420645","committed_at":"2015-01-09T03:45:17Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/742acf9b37f1a1927983/c49980d3ff59761ba3f48ddcebfe7dcbc3420645"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:17 GMT
- request:
    method: get
    uri: https://api.github.com/gists/742acf9b37f1a1927983
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4904'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:45:17 GMT
      Etag:
      - '"6ad0ef153c8c327857c7f374e67429f3"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/742acf9b37f1a1927983","forks_url":"https://api.github.com/gists/742acf9b37f1a1927983/forks","commits_url":"https://api.github.com/gists/742acf9b37f1a1927983/commits","id":"742acf9b[...]
- request:
    method: get
    uri: https://api.github.com/gists/742acf9b37f1a1927983/star
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4903'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 09 Jan 2015 03:45:18 GMT
- request:
    method: get
    uri: https://api.github.com/gists/742acf9b37f1a1927983/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4902'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"956279fb40e7f8d0270a76fd2838b7f7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 09 Jan 2015 03:45:19 GMT
recorded_with: VCR 2.9.3
