---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Quae harum aut totam corporis.","public":true,"files":{"protocol.md":{"content":"Consectetur
        et quaerat quos. Vero eum praesentium saepe. Et ut quasi asperiores."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4687'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"0cf6112fcdf862f87f84d8ba6af4f631"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/eb894c94e4a3658d8492
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/eb894c94e4a3658d8492","forks_url":"https://api.github.com/gists/eb894c94e4a3658d8492/forks","commits_url":"https://api.github.com/gists/eb894c94e4a3658d8492/commits","id":"eb894c94e4a3658d8492","git_pull_url":"https://gist.github.com/eb894c94e4a3658d8492.git","git_push_url":"https://gist.github.com/eb894c94e4a3658d8492.git","html_url":"https://gist.github.com/eb894c94e4a3658d8492","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/eb894c94e4a3658d8492/raw/67c6f38214d3409f1cab0ffc2f34749bb1c88971/protocol.md","size":80,"truncated":false,"content":"Consectetur
        et quaerat quos. Vero eum praesentium saepe. Et ut quasi asperiores."}},"public":true,"created_at":"2015-01-08T04:54:31Z","updated_at":"2015-01-08T04:54:31Z","description":"Quae
        harum aut totam corporis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/eb894c94e4a3658d8492/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"ed6565e2a7033c17603a2f7b970cfab385c77864","committed_at":"2015-01-08T04:54:31Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/eb894c94e4a3658d8492/ed6565e2a7033c17603a2f7b970cfab385c77864"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:30 GMT
recorded_with: VCR 2.9.3
