---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Non nisi occaecati eaque nihil consectetur adipisci
        et magnam sequi.","public":true,"files":{"protocol.md":{"content":"Quisquam
        repudiandae dolorem eveniet exercitationem. Consectetur cupiditate tenetur
        enim suscipit excepturi debitis. Quia cumque qui assumenda. Rem ipsam officiis."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4695'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"9460a2f5e92c73a759a268696a50b8ae"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/07b75cdf9cce7b762d30
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/07b75cdf9cce7b762d30","forks_url":"https://api.github.com/gists/07b75cdf9cce7b762d30/forks","commits_url":"https://api.github.com/gists/07b75cdf9cce7b762d30/commits","id":"07b75cdf9cce7b762d30","git_pull_url":"https://gist.github.com/07b75cdf9cce7b762d30.git","git_push_url":"https://gist.github.com/07b75cdf9cce7b762d30.git","html_url":"https://gist.github.com/07b75cdf9cce7b762d30","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/07b75cdf9cce7b762d30/raw/99dc74bbfd2ce82d66923c9af0f0610da67aff59/protocol.md","size":163,"truncated":false,"content":"Quisquam
        repudiandae dolorem eveniet exercitationem. Consectetur cupiditate tenetur
        enim suscipit excepturi debitis. Quia cumque qui assumenda. Rem ipsam officiis."}},"public":true,"created_at":"2015-01-08T04:54:28Z","updated_at":"2015-01-08T04:54:28Z","description":"Non
        nisi occaecati eaque nihil consectetur adipisci et magnam sequi.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/07b75cdf9cce7b762d30/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"076946776a39685c5ad9395c8a65e23272b44fad","committed_at":"2015-01-08T04:54:28Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/07b75cdf9cce7b762d30/076946776a39685c5ad9395c8a65e23272b44fad"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:27 GMT
recorded_with: VCR 2.9.3
