---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Quae quam sapiente cum neque.","public":true,"files":{"protocol.md":{"content":"Voluptatibus
        sint at enim ut non veritatis. Sint nobis distinctio asperiores reiciendis.
        Inventore distinctio ut aspernatur consequatur."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4701'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"6dfa7633d6d467e1f16288303aed4ee0"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/3408165ff551d9bb12c9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/3408165ff551d9bb12c9","forks_url":"https://api.github.com/gists/3408165ff551d9bb12c9/forks","commits_url":"https://api.github.com/gists/3408165ff551d9bb12c9/commits","id":"3408165ff551d9bb12c9","git_pull_url":"https://gist.github.com/3408165ff551d9bb12c9.git","git_push_url":"https://gist.github.com/3408165ff551d9bb12c9.git","html_url":"https://gist.github.com/3408165ff551d9bb12c9","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/3408165ff551d9bb12c9/raw/a48360bd5b41cb49bcc61d1e6617564a99486a38/protocol.md","size":136,"truncated":false,"content":"Voluptatibus
        sint at enim ut non veritatis. Sint nobis distinctio asperiores reiciendis.
        Inventore distinctio ut aspernatur consequatur."}},"public":true,"created_at":"2015-01-08T04:54:25Z","updated_at":"2015-01-08T04:54:25Z","description":"Quae
        quam sapiente cum neque.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/3408165ff551d9bb12c9/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"bb6f7aad5bd7bc6009219a2b3ccbe390a709a8a3","committed_at":"2015-01-08T04:54:25Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/3408165ff551d9bb12c9/bb6f7aad5bd7bc6009219a2b3ccbe390a709a8a3"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:24 GMT
- request:
    method: get
    uri: https://api.github.com/gists/3408165ff551d9bb12c9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4700'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:25 GMT
      Etag:
      - '"6dfa7633d6d467e1f16288303aed4ee0"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/3408165ff551d9bb12c9","forks_url":"https://api.github.com/gists/3408165ff551d9bb12c9/forks","commits_url":"https://api.github.com/gists/3408165ff551d9bb12c9/commits","id":"3408165f[...]
- request:
    method: get
    uri: https://api.github.com/gists/3408165ff551d9bb12c9/star
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4699'
      X-Ratelimit-Reset:
      - '1420695119'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Jan 2015 04:54:25 GMT
- request:
    method: get
    uri: https://api.github.com/gists/3408165ff551d9bb12c9/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4698'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"956279fb40e7f8d0270a76fd2838b7f7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 08 Jan 2015 04:54:25 GMT
recorded_with: VCR 2.9.3
