---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Et et dolor fugit autem cupiditate eligendi quibusdam
        temporibus.","public":true,"files":{"protocol.md":{"content":"Magnam molestias
        deleniti. Ab non dolor. Fugit tempore dolores et culpa."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4684'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"18dc578bc8c5e6c8e6e26fcdc40ea61c"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/86e9917f693f0b0c4e59
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/86e9917f693f0b0c4e59","forks_url":"https://api.github.com/gists/86e9917f693f0b0c4e59/forks","commits_url":"https://api.github.com/gists/86e9917f693f0b0c4e59/commits","id":"86e9917f693f0b0c4e59","git_pull_url":"https://gist.github.com/86e9917f693f0b0c4e59.git","git_push_url":"https://gist.github.com/86e9917f693f0b0c4e59.git","html_url":"https://gist.github.com/86e9917f693f0b0c4e59","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/86e9917f693f0b0c4e59/raw/2d1353f8d06a880eadd34bc53bbd4e9d10514400/protocol.md","size":72,"truncated":false,"content":"Magnam
        molestias deleniti. Ab non dolor. Fugit tempore dolores et culpa."}},"public":true,"created_at":"2015-01-08T04:54:33Z","updated_at":"2015-01-08T04:54:33Z","description":"Et
        et dolor fugit autem cupiditate eligendi quibusdam temporibus.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/86e9917f693f0b0c4e59/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"9432de303a0ea0d63afd37d04fa974b0994b9581","committed_at":"2015-01-08T04:54:33Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/86e9917f693f0b0c4e59/9432de303a0ea0d63afd37d04fa974b0994b9581"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:32 GMT
recorded_with: VCR 2.9.3
