---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Assumenda tenetur amet doloribus ducimus.","public":true,"files":{"protocol.md":{"content":"Similique
        provident unde aperiam qui et consequatur. Repudiandae qui iste facilis. Officia
        sint voluptatem quae. Dolorem ea nihil fugit ipsum."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4697'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"d21a49ae100b5cda4650f68412a7fe53"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/6bbacd17b90e8ce4b584
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/6bbacd17b90e8ce4b584","forks_url":"https://api.github.com/gists/6bbacd17b90e8ce4b584/forks","commits_url":"https://api.github.com/gists/6bbacd17b90e8ce4b584/commits","id":"6bbacd17b90e8ce4b584","git_pull_url":"https://gist.github.com/6bbacd17b90e8ce4b584.git","git_push_url":"https://gist.github.com/6bbacd17b90e8ce4b584.git","html_url":"https://gist.github.com/6bbacd17b90e8ce4b584","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/6bbacd17b90e8ce4b584/raw/44dd8be058f9cd7c24408f15b2aacc45535849b3/protocol.md","size":142,"truncated":false,"content":"Similique
        provident unde aperiam qui et consequatur. Repudiandae qui iste facilis. Officia
        sint voluptatem quae. Dolorem ea nihil fugit ipsum."}},"public":true,"created_at":"2015-01-08T04:54:27Z","updated_at":"2015-01-08T04:54:27Z","description":"Assumenda
        tenetur amet doloribus ducimus.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/6bbacd17b90e8ce4b584/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"d7cb9d4355360422ae4d34194730472db19b6766","committed_at":"2015-01-08T04:54:27Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/6bbacd17b90e8ce4b584/d7cb9d4355360422ae4d34194730472db19b6766"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:26 GMT
recorded_with: VCR 2.9.3
