---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Deleniti autem dolor velit et.","public":true,"files":{"protocol.md":{"content":"Omnis
        quis voluptas expedita nihil deserunt. Sequi dolores aut quasi porro sit quia.
        Ut quia qui qui temporibus magni. Incidunt beatae praesentium."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4898'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"9cec9b1454c0c6cddd26dd6f6383b45f"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/1744bb6a4fe44e155fed
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/1744bb6a4fe44e155fed","forks_url":"https://api.github.com/gists/1744bb6a4fe44e155fed/forks","commits_url":"https://api.github.com/gists/1744bb6a4fe44e155fed/commits","id":"1744bb6a4fe44e155fed","git_pull_url":"https://gist.github.com/1744bb6a4fe44e155fed.git","git_push_url":"https://gist.github.com/1744bb6a4fe44e155fed.git","html_url":"https://gist.github.com/1744bb6a4fe44e155fed","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/1744bb6a4fe44e155fed/raw/e5e73a9b9dc295a14e6dc45d19f16b57d867f0fe/protocol.md","size":147,"truncated":false,"content":"Omnis
        quis voluptas expedita nihil deserunt. Sequi dolores aut quasi porro sit quia.
        Ut quia qui qui temporibus magni. Incidunt beatae praesentium."}},"public":true,"created_at":"2015-01-09T03:45:20Z","updated_at":"2015-01-09T03:45:20Z","description":"Deleniti
        autem dolor velit et.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/1744bb6a4fe44e155fed/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"60ac09e62fd57686bee6cb1d18b03c90e5ee2535","committed_at":"2015-01-09T03:45:20Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/1744bb6a4fe44e155fed/60ac09e62fd57686bee6cb1d18b03c90e5ee2535"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:21 GMT
recorded_with: VCR 2.9.3
