---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Dignissimos et ad est tempore in.","public":true,"files":{"protocol.md":{"content":"Voluptates
        quo eum enim dolor voluptas quos. Voluptas impedit provident eaque voluptatum
        voluptatem. Voluptate temporibus doloribus facilis culpa qui. Sed facere et
        quae suscipit temporibus atque quis."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4896'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"7a62b47c0388a4b0ade57dbf5a2c0ed3"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/66e54fd604514c76a7f4
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/66e54fd604514c76a7f4","forks_url":"https://api.github.com/gists/66e54fd604514c76a7f4/forks","commits_url":"https://api.github.com/gists/66e54fd604514c76a7f4/commits","id":"66e54fd604514c76a7f4","git_pull_url":"https://gist.github.com/66e54fd604514c76a7f4.git","git_push_url":"https://gist.github.com/66e54fd604514c76a7f4.git","html_url":"https://gist.github.com/66e54fd604514c76a7f4","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/66e54fd604514c76a7f4/raw/efc0e454655e1568467ce21149c4e44ca539580c/protocol.md","size":201,"truncated":false,"content":"Voluptates
        quo eum enim dolor voluptas quos. Voluptas impedit provident eaque voluptatum
        voluptatem. Voluptate temporibus doloribus facilis culpa qui. Sed facere et
        quae suscipit temporibus atque quis."}},"public":true,"created_at":"2015-01-09T03:45:21Z","updated_at":"2015-01-09T03:45:21Z","description":"Dignissimos
        et ad est tempore in.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/66e54fd604514c76a7f4/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"a928652618a217d901d42a00ec37677d3ff5b9ef","committed_at":"2015-01-09T03:45:21Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/66e54fd604514c76a7f4/a928652618a217d901d42a00ec37677d3ff5b9ef"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:22 GMT
recorded_with: VCR 2.9.3
