---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"A dolores tempora perferendis expedita provident quo
        ut quia.","public":true,"files":{"protocol.md":{"content":"Consequatur sit
        aut et veritatis. Eum aut doloremque. Velit vero totam non repellendus alias
        omnis. Saepe voluptatum quia id necessitatibus sit est rerum. Facere ea cum
        aperiam possimus unde quidem quia."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4894'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"e6bdf6ad8480d8eddbcd2fe67a17a5f6"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/15ebec4d11b3aa543a11
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/15ebec4d11b3aa543a11","forks_url":"https://api.github.com/gists/15ebec4d11b3aa543a11/forks","commits_url":"https://api.github.com/gists/15ebec4d11b3aa543a11/commits","id":"15ebec4d11b3aa543a11","git_pull_url":"https://gist.github.com/15ebec4d11b3aa543a11.git","git_push_url":"https://gist.github.com/15ebec4d11b3aa543a11.git","html_url":"https://gist.github.com/15ebec4d11b3aa543a11","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/15ebec4d11b3aa543a11/raw/637c113b0a4a9600786ca58fe64610d04c514ce7/protocol.md","size":203,"truncated":false,"content":"Consequatur
        sit aut et veritatis. Eum aut doloremque. Velit vero totam non repellendus
        alias omnis. Saepe voluptatum quia id necessitatibus sit est rerum. Facere
        ea cum aperiam possimus unde quidem quia."}},"public":true,"created_at":"2015-01-09T03:45:22Z","updated_at":"2015-01-09T03:45:22Z","description":"A
        dolores tempora perferendis expedita provident quo ut quia.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/15ebec4d11b3aa543a11/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"a35a23878d96fe83ed816d018e089cfbe39cd0d1","committed_at":"2015-01-09T03:45:22Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/15ebec4d11b3aa543a11/a35a23878d96fe83ed816d018e089cfbe39cd0d1"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:22 GMT
recorded_with: VCR 2.9.3
