---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Beatae ut fugit eveniet alias aliquid doloribus amet.","public":true,"files":{"protocol.md":{"content":"Consequatur
        aut dolor laborum numquam est consectetur. Quisquam consequatur sed sit odio
        assumenda. Qui ipsam porro amet optio eos. Nemo architecto quia necessitatibus
        eius a. Sequi inventore quidem ea facere consequatur atque."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4893'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"7c6de695d6770f7908386f854ec9aee0"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/148a8a6e83b59d2db988
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/148a8a6e83b59d2db988","forks_url":"https://api.github.com/gists/148a8a6e83b59d2db988/forks","commits_url":"https://api.github.com/gists/148a8a6e83b59d2db988/commits","id":"148a8a6e83b59d2db988","git_pull_url":"https://gist.github.com/148a8a6e83b59d2db988.git","git_push_url":"https://gist.github.com/148a8a6e83b59d2db988.git","html_url":"https://gist.github.com/148a8a6e83b59d2db988","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/148a8a6e83b59d2db988/raw/d0b406f18b75f1171c1141b3420f37036c942af5/protocol.md","size":227,"truncated":false,"content":"Consequatur
        aut dolor laborum numquam est consectetur. Quisquam consequatur sed sit odio
        assumenda. Qui ipsam porro amet optio eos. Nemo architecto quia necessitatibus
        eius a. Sequi inventore quidem ea facere consequatur atque."}},"public":true,"created_at":"2015-01-09T03:45:23Z","updated_at":"2015-01-09T03:45:23Z","description":"Beatae
        ut fugit eveniet alias aliquid doloribus amet.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/148a8a6e83b59d2db988/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"911dad5ade1617db03d4cf203fec269659b0db86","committed_at":"2015-01-09T03:45:23Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/148a8a6e83b59d2db988/911dad5ade1617db03d4cf203fec269659b0db86"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:23 GMT
- request:
    method: get
    uri: https://api.github.com/gists/148a8a6e83b59d2db988
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4892'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:45:23 GMT
      Etag:
      - '"7c6de695d6770f7908386f854ec9aee0"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/148a8a6e83b59d2db988","forks_url":"https://api.github.com/gists/148a8a6e83b59d2db988/forks","commits_url":"https://api.github.com/gists/148a8a6e83b59d2db988/commits","id":"148a8a6e[...]
- request:
    method: get
    uri: https://api.github.com/gists/148a8a6e83b59d2db988/star
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4891'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 09 Jan 2015 03:45:24 GMT
recorded_with: VCR 2.9.3
