---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Id provident eum ut quia eveniet unde.","public":true,"files":{"protocol.md":{"content":"Veniam
        autem alias est aliquam nulla. Possimus quia non dolorum quo. Eos quae animi
        exercitationem et pariatur maxime vitae. Corporis deserunt quas quis nisi
        ut et eum."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4906'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"9ea3bb298391653b613159a5830fb647"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/2f6290f8762ec892c90e
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/2f6290f8762ec892c90e","forks_url":"https://api.github.com/gists/2f6290f8762ec892c90e/forks","commits_url":"https://api.github.com/gists/2f6290f8762ec892c90e/commits","id":"2f6290f8762ec892c90e","git_pull_url":"https://gist.github.com/2f6290f8762ec892c90e.git","git_push_url":"https://gist.github.com/2f6290f8762ec892c90e.git","html_url":"https://gist.github.com/2f6290f8762ec892c90e","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/2f6290f8762ec892c90e/raw/8cf61366941f5b590225ce838fea0b06d3acf634/protocol.md","size":168,"truncated":false,"content":"Veniam
        autem alias est aliquam nulla. Possimus quia non dolorum quo. Eos quae animi
        exercitationem et pariatur maxime vitae. Corporis deserunt quas quis nisi
        ut et eum."}},"public":true,"created_at":"2015-01-09T03:45:17Z","updated_at":"2015-01-09T03:45:17Z","description":"Id
        provident eum ut quia eveniet unde.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/2f6290f8762ec892c90e/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"bcece9757662738f438a22008b92df3522d83b1f","committed_at":"2015-01-09T03:45:17Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/2f6290f8762ec892c90e/bcece9757662738f438a22008b92df3522d83b1f"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:17 GMT
recorded_with: VCR 2.9.3
