---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Iste rem dolorem eos dolor dolores perspiciatis.","public":true,"files":{"protocol.md":{"content":"Optio
        laboriosam molestias impedit qui praesentium enim. Esse placeat fugiat. Sint
        nisi ut eligendi asperiores ut."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4688'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"cd8c1e5fa5827ded369cb2cbcffa22ef"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/3a6851adc09b6c05e205
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/3a6851adc09b6c05e205","forks_url":"https://api.github.com/gists/3a6851adc09b6c05e205/forks","commits_url":"https://api.github.com/gists/3a6851adc09b6c05e205/commits","id":"3a6851adc09b6c05e205","git_pull_url":"https://gist.github.com/3a6851adc09b6c05e205.git","git_push_url":"https://gist.github.com/3a6851adc09b6c05e205.git","html_url":"https://gist.github.com/3a6851adc09b6c05e205","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/3a6851adc09b6c05e205/raw/d86fe09df61a2e292aa5d81278f96ef30a92ae4f/protocol.md","size":114,"truncated":false,"content":"Optio
        laboriosam molestias impedit qui praesentium enim. Esse placeat fugiat. Sint
        nisi ut eligendi asperiores ut."}},"public":true,"created_at":"2015-01-08T04:54:31Z","updated_at":"2015-01-08T04:54:31Z","description":"Iste
        rem dolorem eos dolor dolores perspiciatis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/3a6851adc09b6c05e205/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"3417c3452ce5386d8166bdf9a0242915949cc1d7","committed_at":"2015-01-08T04:54:31Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/3a6851adc09b6c05e205/3417c3452ce5386d8166bdf9a0242915949cc1d7"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:30 GMT
recorded_with: VCR 2.9.3
