---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Fugiat dolor omnis rerum reprehenderit temporibus ullam
        ab.","public":true,"files":{"protocol.md":{"content":"Voluptate in quis consequatur
        unde nihil et maiores. Inventore nostrum culpa tenetur dolor facilis possimus
        a. Quia est sed sint."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4907'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"07a3510f1675f3f270b88772fb5b9083"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/fcd997545da78f945894
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/fcd997545da78f945894","forks_url":"https://api.github.com/gists/fcd997545da78f945894/forks","commits_url":"https://api.github.com/gists/fcd997545da78f945894/commits","id":"fcd997545da78f945894","git_pull_url":"https://gist.github.com/fcd997545da78f945894.git","git_push_url":"https://gist.github.com/fcd997545da78f945894.git","html_url":"https://gist.github.com/fcd997545da78f945894","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/fcd997545da78f945894/raw/2f6dee33cd2a0aa340d92511e91e4a14937f796f/protocol.md","size":129,"truncated":false,"content":"Voluptate
        in quis consequatur unde nihil et maiores. Inventore nostrum culpa tenetur
        dolor facilis possimus a. Quia est sed sint."}},"public":true,"created_at":"2015-01-09T03:45:16Z","updated_at":"2015-01-09T03:45:16Z","description":"Fugiat
        dolor omnis rerum reprehenderit temporibus ullam ab.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/fcd997545da78f945894/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"f9383b1734b9298342488c10f4e982cee28c7ed5","committed_at":"2015-01-09T03:45:16Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/fcd997545da78f945894/f9383b1734b9298342488c10f4e982cee28c7ed5"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:17 GMT
recorded_with: VCR 2.9.3
