---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Nostrum velit molestiae neque id autem aut.","public":true,"files":{"protocol.md":{"content":"Magni
        omnis et provident quas ex qui sunt. Eius est provident eum. Veniam saepe
        dignissimos debitis temporibus corrupti repellendus."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4696'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"e8d8906b827962faaed7ad55a6fd1ab1"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/030f195d1a6ccc2bab53
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/030f195d1a6ccc2bab53","forks_url":"https://api.github.com/gists/030f195d1a6ccc2bab53/forks","commits_url":"https://api.github.com/gists/030f195d1a6ccc2bab53/commits","id":"030f195d1a6ccc2bab53","git_pull_url":"https://gist.github.com/030f195d1a6ccc2bab53.git","git_push_url":"https://gist.github.com/030f195d1a6ccc2bab53.git","html_url":"https://gist.github.com/030f195d1a6ccc2bab53","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/030f195d1a6ccc2bab53/raw/15ffae5a6689604c562595b7ee72f1db0f48f3cc/protocol.md","size":132,"truncated":false,"content":"Magni
        omnis et provident quas ex qui sunt. Eius est provident eum. Veniam saepe
        dignissimos debitis temporibus corrupti repellendus."}},"public":true,"created_at":"2015-01-08T04:54:27Z","updated_at":"2015-01-08T04:54:27Z","description":"Nostrum
        velit molestiae neque id autem aut.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/030f195d1a6ccc2bab53/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"10447a5f4b824f42f8f349f6cd8e5e2a9210f9f1","committed_at":"2015-01-08T04:54:27Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/030f195d1a6ccc2bab53/10447a5f4b824f42f8f349f6cd8e5e2a9210f9f1"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:26 GMT
recorded_with: VCR 2.9.3
