---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Aliquam incidunt ab nihil maiores.","public":true,"files":{"protocol.md":{"content":"Et
        temporibus repudiandae dolores vitae. Facilis commodi totam voluptas et harum
        explicabo autem. Fugiat reprehenderit facere quis eos consequatur. Dolor tempore
        quia velit quaerat in eius."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4693'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"753404f8bd7b8f02940bc94b9c210ec6"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/8c168b534c02df60ff55
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/8c168b534c02df60ff55","forks_url":"https://api.github.com/gists/8c168b534c02df60ff55/forks","commits_url":"https://api.github.com/gists/8c168b534c02df60ff55/commits","id":"8c168b534c02df60ff55","git_pull_url":"https://gist.github.com/8c168b534c02df60ff55.git","git_push_url":"https://gist.github.com/8c168b534c02df60ff55.git","html_url":"https://gist.github.com/8c168b534c02df60ff55","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/8c168b534c02df60ff55/raw/2c87563a2293212f4d04aba38db7797a203ae5df/protocol.md","size":189,"truncated":false,"content":"Et
        temporibus repudiandae dolores vitae. Facilis commodi totam voluptas et harum
        explicabo autem. Fugiat reprehenderit facere quis eos consequatur. Dolor tempore
        quia velit quaerat in eius."}},"public":true,"created_at":"2015-01-08T04:54:28Z","updated_at":"2015-01-08T04:54:28Z","description":"Aliquam
        incidunt ab nihil maiores.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/8c168b534c02df60ff55/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"96ef62984f483b1422050fbcede5aec1cbadc4d8","committed_at":"2015-01-08T04:54:28Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/8c168b534c02df60ff55/96ef62984f483b1422050fbcede5aec1cbadc4d8"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:28 GMT
recorded_with: VCR 2.9.3
