---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Deserunt pariatur dignissimos tempore dolore quis.","public":true,"files":{"protocol.md":{"content":"Nesciunt
        cupiditate eos omnis debitis id dolorem fugit. At id ratione nihil. Voluptas
        nisi facilis sed."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4651'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"dd44f0fd0ac276dcf4055387a26a80f2"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/02638b736b190b1aa504
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/02638b736b190b1aa504","forks_url":"https://api.github.com/gists/02638b736b190b1aa504/forks","commits_url":"https://api.github.com/gists/02638b736b190b1aa504/commits","id":"02638b736b190b1aa504","git_pull_url":"https://gist.github.com/02638b736b190b1aa504.git","git_push_url":"https://gist.github.com/02638b736b190b1aa504.git","html_url":"https://gist.github.com/02638b736b190b1aa504","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/02638b736b190b1aa504/raw/0558574cfa541bd647220a9b47ff630a56472dcd/protocol.md","size":103,"truncated":false,"content":"Nesciunt
        cupiditate eos omnis debitis id dolorem fugit. At id ratione nihil. Voluptas
        nisi facilis sed."}},"public":true,"created_at":"2015-01-08T04:54:57Z","updated_at":"2015-01-08T04:54:57Z","description":"Deserunt
        pariatur dignissimos tempore dolore quis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/02638b736b190b1aa504/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"de0399949e300d6aad05ee0b722092ef36684ac0","committed_at":"2015-01-08T04:54:57Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/02638b736b190b1aa504/de0399949e300d6aad05ee0b722092ef36684ac0"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:56 GMT
- request:
    method: delete
    uri: https://api.github.com/gists/02638b736b190b1aa504
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4650'
      X-Ratelimit-Reset:
      - '1420695119'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Jan 2015 04:54:57 GMT
recorded_with: VCR 2.9.3
