---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Possimus illum odit laborum et maxime.","public":true,"files":{"protocol.md":{"content":"Ut
        quibusdam iure vero sint. Voluptas modi omnis est officia saepe at vel. Modi
        vitae doloribus similique est minus illo. Ab et molestiae neque eveniet facere
        voluptates incidunt."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4929'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"da6feb26cd3a19d3a91ff55e34327173"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/4706103d5c016f07fea3
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/4706103d5c016f07fea3","forks_url":"https://api.github.com/gists/4706103d5c016f07fea3/forks","commits_url":"https://api.github.com/gists/4706103d5c016f07fea3/commits","id":"4706103d5c016f07fea3","git_pull_url":"https://gist.github.com/4706103d5c016f07fea3.git","git_push_url":"https://gist.github.com/4706103d5c016f07fea3.git","html_url":"https://gist.github.com/4706103d5c016f07fea3","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/4706103d5c016f07fea3/raw/2035e9b0de9789f67909e1c531a1d297f64ac1df/protocol.md","size":179,"truncated":false,"content":"Ut
        quibusdam iure vero sint. Voluptas modi omnis est officia saepe at vel. Modi
        vitae doloribus similique est minus illo. Ab et molestiae neque eveniet facere
        voluptates incidunt."}},"public":true,"created_at":"2015-01-09T03:45:03Z","updated_at":"2015-01-09T03:45:03Z","description":"Possimus
        illum odit laborum et maxime.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/4706103d5c016f07fea3/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"19857eb3bf4db217417f354814d4de8b88c47940","committed_at":"2015-01-09T03:45:03Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/4706103d5c016f07fea3/19857eb3bf4db217417f354814d4de8b88c47940"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:03 GMT
- request:
    method: get
    uri: https://api.github.com/gists/4706103d5c016f07fea3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4928'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:45:03 GMT
      Etag:
      - '"da6feb26cd3a19d3a91ff55e34327173"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/4706103d5c016f07fea3","forks_url":"https://api.github.com/gists/4706103d5c016f07fea3/forks","commits_url":"https://api.github.com/gists/4706103d5c016f07fea3/commits","id":"4706103d[...]
[...]
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: '{"metadata":{"title":"Rem eum cum nobis suscipit fugiat.","upload_type":"publication","publication_type":"article","description":"Ut
        quibusdam iure vero sint. Voluptas modi omnis est officia saepe at vel. Modi
        vitae doloribus similique est minus illo. Ab et molestiae neque eveniet facere
        voluptates incidunt.","creators":[{"name":"sprotocols","affiliation":"ScientificProtocols.org"}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"files": [], "created": "2015-01-09T03:45:05+00:00", "title": "Rem
        eum cum nobis suscipit fugiat.", "modified": "2015-01-09T03:45:05+00:00",
        "submitted": false, "state": "inprogress", "owner": 6453, "id": 18975, "metadata":
        {"embargo_date": null, "partof_title": null, "journal_volume": null, "grants":
        [], "references": [], "keywords": [], "publication_type": "article", "imprint_publisher":
        null, "title": "Rem eum cum nobis suscipit fugiat.", "image_type": "", "partof_pages":
        null, "imprint_isbn": null, "thesis_supervisors": [], "conference_url": null,
        "imprint_place": null, "journal_issue": null, "access_right": "open", "conference_acronym":
        null, "conference_title": null, "description": "Ut quibusdam iure vero sint.
        Voluptas modi omnis est officia saepe at vel. Modi vitae doloribus similique
        est minus illo. Ab et molestiae neque eveniet facere voluptates incidunt.",
        "journal_title": null, "upload_type": "publication", "prereserve_doi": null,
        "communities": [], "publication_date": "2015-01-09", "conference_place": null,
        "conference_session_part": null, "doi": "", "license": "cc-zero", "notes":
        "", "journal_pages": null, "conference_dates": null, "creators": [{"orcid":
        "", "affiliation": "ScientificProtocols.org", "name": "sprotocols"}], "conference_session":
        null, "related_identifiers": []}}'
  recorded_at: Fri, 09 Jan 2015 03:45:05 GMT
- request:
    method: get
    uri: https://gist.githubusercontent.com/dior001/4706103d5c016f07fea3/raw/2035e9b0de9789f67909e1c531a1d297f64ac1df/protocol.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
      Etag:
      - '"60fefc37ea33a8e27415753966ec5cc9"'
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: Ut quibusdam iure vero sint. Voluptas modi omnis est officia saepe at
        vel. Modi vitae doloribus similique est minus illo. Ab et molestiae neque
        eveniet facere voluptates incidunt.
  recorded_at: Fri, 09 Jan 2015 03:45:05 GMT
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/18975/files?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nprotocol.md\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"protocol.md\"\r\nContent-Length: 179\r\nContent-Type:
        text/x-markdown\r\nContent-Transfer-Encoding: binary\r\n\r\nUt quibusdam iure
        vero sint. Voluptas modi omnis est officia saepe at vel. Modi vitae doloribus
        similique est minus illo. Ab et molestiae neque eveniet facere voluptates
        incidunt.\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id": "cc3107c8-a6ec-44ee-8e8e-67470dfca385", "checksum": "539121d31bb4c6e582e1365fb2195b0a",
        "filesize": "179", "filename": "protocol.md"}'
  recorded_at: Fri, 09 Jan 2015 03:45:06 GMT
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/18975/actions/publish?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"files": [{"id": "cc3107c8-a6ec-44ee-8e8e-67470dfca385", "checksum":
        "539121d31[...]
