---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Ut quae porro mollitia fugiat.","public":true,"files":{"protocol.md":{"content":"Fugiat
        corporis cupiditate voluptatem. Esse provident incidunt fugiat accusantium
        nulla hic. Sit molestiae aut perspiciatis praesentium eaque in consequatur.
        In et blanditiis molestias odit. Quo qui sint dolore nihil ut."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4913'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"b3a17d751ce85ecb10c40e004f24fefc"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/81ec40569da9e851ff61
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/81ec40569da9e851ff61","forks_url":"https://api.github.com/gists/81ec40569da9e851ff61/forks","commits_url":"https://api.github.com/gists/81ec40569da9e851ff61/commits","id":"81ec40569da9e851ff61","git_pull_url":"https://gist.github.com/81ec40569da9e851ff61.git","git_push_url":"https://gist.github.com/81ec40569da9e851ff61.git","html_url":"https://gist.github.com/81ec40569da9e851ff61","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/81ec40569da9e851ff61/raw/0180029c6eb810715222ee1028224833fa5f8cc0/protocol.md","size":220,"truncated":false,"content":"Fugiat
        corporis cupiditate voluptatem. Esse provident incidunt fugiat accusantium
        nulla hic. Sit molestiae aut perspiciatis praesentium eaque in consequatur.
        In et blanditiis molestias odit. Quo qui sint dolore nihil ut."}},"public":true,"created_at":"2015-01-09T03:45:14Z","updated_at":"2015-01-09T03:45:14Z","description":"Ut
        quae porro mollitia fugiat.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/81ec40569da9e851ff61/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"40635df8c294459ca07a20a4e30c06f70b206fdc","committed_at":"2015-01-09T03:45:14Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/81ec40569da9e851ff61/40635df8c294459ca07a20a4e30c06f70b206fdc"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:14 GMT
- request:
    method: get
    uri: https://api.github.com/gists/81ec40569da9e851ff61
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4912'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:45:14 GMT
      Etag:
      - '"b3a17d751ce85ecb10c40e004f24fefc"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/81ec40569da9e851ff61","forks_url":"https://api.github.com/gists/81ec40569da9e851ff61/forks","commits_url":"https://api.github.com/gists/81ec40569da9e851ff61/commits","id":"81ec4056[...]
- request:
    method: get
    uri: https://api.github.com/gists/81ec40569da9e851ff61/star
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4911'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 09 Jan 2015 03:45:15 GMT
recorded_with: VCR 2.9.3
