---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Animi cupiditate quae iste quasi quia tempora quia
        qui cumque.","public":true,"files":{"protocol.md":{"content":"Molestiae et
        et quo. Dolorem in recusandae eligendi sit omnis voluptatibus minus. Qui nesciunt
        quisquam. A consequatur in. Consectetur ut dicta excepturi reiciendis."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4938'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"a0d9070294da3c5bdda26f7db60bd80e"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/2ec4b22c48fd958fd33a
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/2ec4b22c48fd958fd33a","forks_url":"https://api.github.com/gists/2ec4b22c48fd958fd33a/forks","commits_url":"https://api.github.com/gists/2ec4b22c48fd958fd33a/commits","id":"2ec4b22c48fd958fd33a","git_pull_url":"https://gist.github.com/2ec4b22c48fd958fd33a.git","git_push_url":"https://gist.github.com/2ec4b22c48fd958fd33a.git","html_url":"https://gist.github.com/2ec4b22c48fd958fd33a","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/2ec4b22c48fd958fd33a/raw/0e4475d2a83327c8ada3e49d803dabe01d497e4d/protocol.md","size":165,"truncated":false,"content":"Molestiae
        et et quo. Dolorem in recusandae eligendi sit omnis voluptatibus minus. Qui
        nesciunt quisquam. A consequatur in. Consectetur ut dicta excepturi reiciendis."}},"public":true,"created_at":"2015-01-09T03:44:52Z","updated_at":"2015-01-09T03:44:52Z","description":"Animi
        cupiditate quae iste quasi quia tempora quia qui cumque.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/2ec4b22c48fd958fd33a/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"888f58d3d83b4fa04d3a9abfb56974177eec3567","committed_at":"2015-01-09T03:44:52Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/2ec4b22c48fd958fd33a/888f58d3d83b4fa04d3a9abfb56974177eec3567"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:52 GMT
- request:
    method: delete
    uri: https://api.github.com/gists/2ec4b22c48fd958fd33a
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4937'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Jan 2015 03:44:53 GMT
recorded_with: VCR 2.9.3
