---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Est voluptatem quas sit velit.","public":true,"files":{"protocol.md":{"content":"Dolores
        nisi ducimus quisquam voluptatem natus sequi id. Cum magnam aperiam. Veritatis
        dolor laudantium ut alias hic aspernatur."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4936'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"fd3416a7a2dd76505e58aac35ef9ae12"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/7af613650fcee186c7eb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/7af613650fcee186c7eb","forks_url":"https://api.github.com/gists/7af613650fcee186c7eb/forks","commits_url":"https://api.github.com/gists/7af613650fcee186c7eb/commits","id":"7af613650fcee186c7eb","git_pull_url":"https://gist.github.com/7af613650fcee186c7eb.git","git_push_url":"https://gist.github.com/7af613650fcee186c7eb.git","html_url":"https://gist.github.com/7af613650fcee186c7eb","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/7af613650fcee186c7eb/raw/739d4c9fe83d1c009a0be1bbd60cff1b34e0ff23/protocol.md","size":128,"truncated":false,"content":"Dolores
        nisi ducimus quisquam voluptatem natus sequi id. Cum magnam aperiam. Veritatis
        dolor laudantium ut alias hic aspernatur."}},"public":true,"created_at":"2015-01-09T03:44:53Z","updated_at":"2015-01-09T03:44:53Z","description":"Est
        voluptatem quas sit velit.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/7af613650fcee186c7eb/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"b6fef0b982e0b235fdea5615e3461fb8d7e55614","committed_at":"2015-01-09T03:44:53Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/7af613650fcee186c7eb/b6fef0b982e0b235fdea5615e3461fb8d7e55614"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:53 GMT
- request:
    method: delete
    uri: https://api.github.com/gists/7af613650fcee186c7eb
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4935'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Jan 2015 03:44:54 GMT
recorded_with: VCR 2.9.3
