---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Officiis quas inventore assumenda ratione quia.","public":true,"files":{"protocol.md":{"content":"Saepe
        accusamus expedita et laborum. Quis ea qui tempora veniam. Hic nesciunt iste
        architecto quia quo aliquam error. Perferendis vitae accusamus assumenda repudiandae
        explicabo reprehenderit rem."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4924'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"4c838be800cc368a40e16e0cfa5f55ee"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/84338879d61a5850fb6f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/84338879d61a5850fb6f","forks_url":"https://api.github.com/gists/84338879d61a5850fb6f/forks","commits_url":"https://api.github.com/gists/84338879d61a5850fb6f/commits","id":"84338879d61a5850fb6f","git_pull_url":"https://gist.github.com/84338879d61a5850fb6f.git","git_push_url":"https://gist.github.com/84338879d61a5850fb6f.git","html_url":"https://gist.github.com/84338879d61a5850fb6f","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/84338879d61a5850fb6f/raw/eb8a884c03cce9460db0e7bb26caea1fa2d64f5a/protocol.md","size":196,"truncated":false,"content":"Saepe
        accusamus expedita et laborum. Quis ea qui tempora veniam. Hic nesciunt iste
        architecto quia quo aliquam error. Perferendis vitae accusamus assumenda repudiandae
        explicabo reprehenderit rem."}},"public":true,"created_at":"2015-01-09T03:45:09Z","updated_at":"2015-01-09T03:45:09Z","description":"Officiis
        quas inventore assumenda ratione quia.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/84338879d61a5850fb6f/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"1354c9cbb960c9eb34ddb6705e14eaecdff1da84","committed_at":"2015-01-09T03:45:09Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/84338879d61a5850fb6f/1354c9cbb960c9eb34ddb6705e14eaecdff1da84"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:09 GMT
- request:
    method: get
    uri: https://api.github.com/gists/84338879d61a5850fb6f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4923'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:45:09 GMT
      Etag:
      - '"4c838be800cc368a40e16e0cfa5f55ee"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/84338879d61a5850fb6f","forks_url":"https://api.github.com/gists/84338879d61a5850fb6f/forks","commits_url":"https://api.github.com/gists/84338879d61a5850fb6f/commits","id":"84338879[...]
- request:
    method: post
    uri: https://api.github.com/gists/84338879d61a5850fb6f/comments
    body:
      encoding: UTF-8
      string: '{"body":["voluptate","explicabo","quia","adipisci","eum","et","et","illum","magni","dolorem","ratione","optio","architecto","consequuntur","ut","voluptatem","molestiae","ut","quia","alias"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: [...]
[...]
