---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Voluptatem libero cum voluptates consequatur vitae
        necessitatibus neque distinctio eos.","public":true,"files":{"protocol.md":{"content":"Reprehenderit
        eveniet neque placeat ipsa autem in officiis. A laboriosam quis qui. Ullam
        blanditiis perferendis vel error rerum. Consectetur exercitationem voluptatum
        quos consequatur. Voluptates libero deleniti cumque."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4917'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"6c7c66d54e87db6f8a12f06dcd677d15"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/8fff0175ba6d63f6a387
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/8fff0175ba6d63f6a387","forks_url":"https://api.github.com/gists/8fff0175ba6d63f6a387/forks","commits_url":"https://api.github.com/gists/8fff0175ba6d63f6a387/commits","id":"8fff0175ba6d63f6a387","git_pull_url":"https://gist.github.com/8fff0175ba6d63f6a387.git","git_push_url":"https://gist.github.com/8fff0175ba6d63f6a387.git","html_url":"https://gist.github.com/8fff0175ba6d63f6a387","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/8fff0175ba6d63f6a387/raw/d3e7d872a8ac3d4c0224457229ff34b78e7128ee/protocol.md","size":219,"truncated":false,"content":"Reprehenderit
        eveniet neque placeat ipsa autem in officiis. A laboriosam quis qui. Ullam
        blanditiis perferendis vel error rerum. Consectetur exercitationem voluptatum
        quos consequatur. Voluptates libero deleniti cumque."}},"public":true,"created_at":"2015-01-09T03:45:12Z","updated_at":"2015-01-09T03:45:12Z","description":"Voluptatem
        libero cum voluptates consequatur vitae necessitatibus neque distinctio eos.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/8fff0175ba6d63f6a387/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"36af4f0ca7baa896a6fc76a2963c727f9371fd87","committed_at":"2015-01-09T03:45:12Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/8fff0175ba6d63f6a387/36af4f0ca7baa896a6fc76a2963c727f9371fd87"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:12 GMT
- request:
    method: get
    uri: https://api.github.com/gists/8fff0175ba6d63f6a387
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4916'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:45:12 GMT
      Etag:
      - '"6c7c66d54e87db6f8a12f06dcd677d15"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/8fff0175ba6d63f6a387","forks_url":"https://api.github.com/gists/8fff0175ba6d63f6a387/forks","commits_url":"https://api.github.com/gists/8fff0175ba6d63f6a387/commits","id":"8fff0175[...]
- request:
    method: delete
    uri: https://api.github.com/gists/8fff0175ba6d63f6a387/star
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4915'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Jan 2015 03:45:13 GMT
recorded_with: VCR 2.9.3
