---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Architecto et eligendi qui et.","public":true,"files":{"protocol.md":{"content":"Voluptatibus
        omnis error qui impedit. Repellendus laborum non possimus sed ut nisi natus.
        Vitae cumque facilis dolorem."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4683'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"9ea7fbbfce7d99a46842bced21ccb277"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/9bd0d10c775903047c1e
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/9bd0d10c775903047c1e","forks_url":"https://api.github.com/gists/9bd0d10c775903047c1e/forks","commits_url":"https://api.github.com/gists/9bd0d10c775903047c1e/commits","id":"9bd0d10c775903047c1e","git_pull_url":"https://gist.github.com/9bd0d10c775903047c1e.git","git_push_url":"https://gist.github.com/9bd0d10c775903047c1e.git","html_url":"https://gist.github.com/9bd0d10c775903047c1e","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/9bd0d10c775903047c1e/raw/d2a3332145e9d7b401a3abc048c751670f0bd3b6/protocol.md","size":119,"truncated":false,"content":"Voluptatibus
        omnis error qui impedit. Repellendus laborum non possimus sed ut nisi natus.
        Vitae cumque facilis dolorem."}},"public":true,"created_at":"2015-01-08T04:54:33Z","updated_at":"2015-01-08T04:54:33Z","description":"Architecto
        et eligendi qui et.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/9bd0d10c775903047c1e/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"2550b6091c76f10ee5d27dae0205a66af04002c8","committed_at":"2015-01-08T04:54:33Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/9bd0d10c775903047c1e/2550b6091c76f10ee5d27dae0205a66af04002c8"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:32 GMT
- request:
    method: get
    uri: https://api.github.com/gists/9bd0d10c775903047c1e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4682'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:33 GMT
      Etag:
      - '"9ea7fbbfce7d99a46842bced21ccb277"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/9bd0d10c775903047c1e","forks_url":"https://api.github.com/gists/9bd0d10c775903047c1e/forks","commits_url":"https://api.github.com/gists/9bd0d10c775903047c1e/commits","id":"9bd0d10c[...]
[...]
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: '{"metadata":{"title":"Optio quia accusantium cum tenetur.","upload_type":"publication","publication_type":"article","description":"Voluptatibus
        omnis error qui impedit. Repellendus laborum non possimus sed ut nisi natus.
        Vitae cumque facilis dolorem.","creators":[{"name":"sprotocols","affiliation":"ScientificProtocols.org"}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"files": [], "created": "2015-01-08T04:54:36+00:00", "title": "Optio
        quia accusantium cum tenetur.", "modified": "2015-01-08T04:54:36+00:00", "submitted":
        false, "state": "inprogress", "owner": 6453, "id": 18863, "metadata": {"embargo_date":
        null, "partof_title": null, "journal_volume": null, "grants": [], "references":
        [], "keywords": [], "publication_type": "article", "imprint_publisher": null,
        "title": "Optio quia accusantium cum tenetur.", "image_type": "", "partof_pages":
        null, "imprint_isbn": null, "thesis_supervisors": [], "conference_url": null,
        "imprint_place": null, "journal_issue": null, "access_right": "open", "conference_acronym":
        null, "conference_title": null, "description": "Voluptatibus omnis error qui
        impedit. Repellendus laborum non possimus sed ut nisi natus. Vitae cumque
        facilis dolorem.", "journal_title": null, "upload_type": "publication", "prereserve_doi":
        null, "communities": [], "publication_date": "2015-01-08", "conference_place":
        null, "conference_session_part": null, "doi": "", "license": "cc-zero", "notes":
        "", "journal_pages": null, "conference_dates": null, "creators": [{"orcid":
        "", "affiliation": "ScientificProtocols.org", "name": "sprotocols"}], "conference_session":
        null, "related_identifiers": []}}'
  recorded_at: Thu, 08 Jan 2015 04:54:35 GMT
- request:
    method: get
    uri: https://gist.githubusercontent.com/dior001/9bd0d10c775903047c1e/raw/d2a3332145e9d7b401a3abc048c751670f0bd3b6/protocol.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
      Etag:
      - '"d53192403dcff86e74d5e78bd9826ad2"'
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: Voluptatibus omnis error qui impedit. Repellendus laborum non possimus
        sed ut nisi natus. Vitae cumque facilis dolorem.
  recorded_at: Thu, 08 Jan 2015 04:54:35 GMT
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/18863/files?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nprotocol.md\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"protocol.md\"\r\nContent-Length: 119\r\nContent-Type:
        text/x-markdown\r\nContent-Transfer-Encoding: binary\r\n\r\nVoluptatibus omnis
        error qui impedit. Repellendus laborum non possimus sed ut nisi natus. Vitae
        cumque facilis dolorem.\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id": "c3757a2c-a6c9-46cc-a9e8-7379997e2c2f", "checksum": "547b33edef812bed5f0a7c952ceb85c1",
        "filesize": "119", "filename": "protocol.md"}'
  recorded_at: Thu, 08 Jan 2015 04:54:36 GMT
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/18863/actions/publish?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"files": [{"id": "c3757a2c-a6c9-46cc-a9e8-7379997e2c2f", "checksum":
        "547b33ede[...]
