---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Voluptatem qui consequatur modi et qui.","public":true,"files":{"protocol.md":{"content":"Maxime
        voluptas ratione dolorum reiciendis. Sint ut veritatis illum rerum. Assumenda
        alias non eum. Deleniti ipsum itaque quos alias."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"b1240c9a84f87d25be129fdc563e9c9b"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/b7379f0496fc131cc58b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/b7379f0496fc131cc58b","forks_url":"https://api.github.com/gists/b7379f0496fc131cc58b/forks","commits_url":"https://api.github.com/gists/b7379f0496fc131cc58b/commits","id":"b7379f0496fc131cc58b","git_pull_url":"https://gist.github.com/b7379f0496fc131cc58b.git","git_push_url":"https://gist.github.com/b7379f0496fc131cc58b.git","html_url":"https://gist.github.com/b7379f0496fc131cc58b","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/b7379f0496fc131cc58b/raw/4469db15b4d0b5e6b02e612927b3f10bb68064e5/protocol.md","size":133,"truncated":false,"content":"Maxime
        voluptas ratione dolorum reiciendis. Sint ut veritatis illum rerum. Assumenda
        alias non eum. Deleniti ipsum itaque quos alias."}},"public":true,"created_at":"2015-01-09T03:44:56Z","updated_at":"2015-01-09T03:44:56Z","description":"Voluptatem
        qui consequatur modi et qui.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/b7379f0496fc131cc58b/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"d6d43652e4297a12c13672cb65b0d42577a26e26","committed_at":"2015-01-09T03:44:56Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/b7379f0496fc131cc58b/d6d43652e4297a12c13672cb65b0d42577a26e26"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:56 GMT
- request:
    method: get
    uri: https://api.github.com/gists/b7379f0496fc131cc58b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4932'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:56 GMT
      Etag:
      - '"b1240c9a84f87d25be129fdc563e9c9b"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/b7379f0496fc131cc58b","forks_url":"https://api.github.com/gists/b7379f0496fc131cc58b/forks","commits_url":"https://api.github.com/gists/b7379f0496fc131cc58b/commits","id":"b7379f04[...]
[...]
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: '{"metadata":{"title":"Non qui id aut inventore labore quaerat aut quis
        enim.","upload_type":"publication","publication_type":"article","description":"Maxime
        voluptas ratione dolorum reiciendis. Sint ut veritatis illum rerum. Assumenda
        alias non eum. Deleniti ipsum itaque quos alias.","creators":[{"name":"sprotocols","affiliation":"ScientificProtocols.org"}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"files": [], "created": "2015-01-09T03:44:59+00:00", "title": "Non
        qui id aut inventore labore quaerat aut quis enim.", "modified": "2015-01-09T03:44:59+00:00",
        "submitted": false, "state": "inprogress", "owner": 6453, "id": 18973, "metadata":
        {"embargo_date": null, "partof_title": null, "journal_volume": null, "grants":
        [], "references": [], "keywords": [], "publication_type": "article", "imprint_publisher":
        null, "title": "Non qui id aut inventore labore quaerat aut quis enim.", "image_type":
        "", "partof_pages": null, "imprint_isbn": null, "thesis_supervisors": [],
        "conference_url": null, "imprint_place": null, "journal_issue": null, "access_right":
        "open", "conference_acronym": null, "conference_title": null, "description":
        "Maxime voluptas ratione dolorum reiciendis. Sint ut veritatis illum rerum.
        Assumenda alias non eum. Deleniti ipsum itaque quos alias.", "journal_title":
        null, "upload_type": "publication", "prereserve_doi": null, "communities":
        [], "publication_date": "2015-01-09", "conference_place": null, "conference_session_part":
        null, "doi": "", "license": "cc-zero", "notes": "", "journal_pages": null,
        "conference_dates": null, "creators": [{"orcid": "", "affiliation": "ScientificProtocols.org",
        "name": "sprotocols"}], "conference_session": null, "related_identifiers":
        []}}'
  recorded_at: Fri, 09 Jan 2015 03:45:00 GMT
- request:
    method: get
    uri: https://gist.githubusercontent.com/dior001/b7379f0496fc131cc58b/raw/4469db15b4d0b5e6b02e612927b3f10bb68064e5/protocol.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
      Etag:
      - '"879ea41d641e8c9f14178a81541a3336"'
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: Maxime voluptas ratione dolorum reiciendis. Sint ut veritatis illum
        rerum. Assumenda alias non eum. Deleniti ipsum itaque quos alias.
  recorded_at: Fri, 09 Jan 2015 03:45:00 GMT
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/18973/files?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nprotocol.md\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"protocol.md\"\r\nContent-Length: 133\r\nContent-Type:
        text/x-markdown\r\nContent-Transfer-Encoding: binary\r\n\r\nMaxime voluptas
        ratione dolorum reiciendis. Sint ut veritatis illum rerum. Assumenda alias
        non eum. Deleniti ipsum itaque quos alias.\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id": "3d6b875c-e4b8-4295-b984-3458abd50095", "checksum": "ceb0c1bcc7e0d1d7c7345b4771d3470e",
        "filesize": "133", "filename": "protocol.md"}'
  recorded_at: Fri, 09 Jan 2015 03:45:01 GMT
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/18973/actions/publish?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"files": [{"id": "3d6b875c-e4b8-4295-b984-3458abd50095", "checksum":
        "ceb0c1bcc[...]
