---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Autem adipisci voluptate ut et commodi perspiciatis.","public":true,"files":{"protocol.md":{"content":"Rerum
        rem recusandae sapiente culpa. Quisquam qui eos amet enim molestiae ducimus.
        Quidem ad reprehenderit consequatur provident."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4679'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"96aed4256118f7998b229f53289ba515"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/c469d59c5be79b702c4e
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/c469d59c5be79b702c4e","forks_url":"https://api.github.com/gists/c469d59c5be79b702c4e/forks","commits_url":"https://api.github.com/gists/c469d59c5be79b702c4e/commits","id":"c469d59c5be79b702c4e","git_pull_url":"https://gist.github.com/c469d59c5be79b702c4e.git","git_push_url":"https://gist.github.com/c469d59c5be79b702c4e.git","html_url":"https://gist.github.com/c469d59c5be79b702c4e","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/c469d59c5be79b702c4e/raw/9397b137d35c1c921948e107675eb536d961d565/protocol.md","size":129,"truncated":false,"content":"Rerum
        rem recusandae sapiente culpa. Quisquam qui eos amet enim molestiae ducimus.
        Quidem ad reprehenderit consequatur provident."}},"public":true,"created_at":"2015-01-08T04:54:39Z","updated_at":"2015-01-08T04:54:39Z","description":"Autem
        adipisci voluptate ut et commodi perspiciatis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/c469d59c5be79b702c4e/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"87359ed41739b20f6f5a1da132f57ec9106bc5bc","committed_at":"2015-01-08T04:54:39Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/c469d59c5be79b702c4e/87359ed41739b20f6f5a1da132f57ec9106bc5bc"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:38 GMT
- request:
    method: get
    uri: https://api.github.com/gists/c469d59c5be79b702c4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4678'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:39 GMT
      Etag:
      - '"96aed4256118f7998b229f53289ba515"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/c469d59c5be79b702c4e","forks_url":"https://api.github.com/gists/c469d59c5be79b702c4e/forks","commits_url":"https://api.github.com/gists/c469d59c5be79b702c4e/commits","id":"c469d59c[...]
[...]
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: '{"metadata":{"title":"Eaque doloribus et accusamus animi repudiandae
        vel voluptas.","upload_type":"publication","publication_type":"article","description":"Rerum
        rem recusandae sapiente culpa. Quisquam qui eos amet enim molestiae ducimus.
        Quidem ad reprehenderit consequatur provident.","creators":[{"name":"sprotocols","affiliation":"ScientificProtocols.org"}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"files": [], "created": "2015-01-08T04:54:41+00:00", "title": "Eaque
        doloribus et accusamus animi repudiandae vel voluptas.", "modified": "2015-01-08T04:54:41+00:00",
        "submitted": false, "state": "inprogress", "owner": 6453, "id": 18865, "metadata":
        {"embargo_date": null, "partof_title": null, "journal_volume": null, "grants":
        [], "references": [], "keywords": [], "publication_type": "article", "imprint_publisher":
        null, "title": "Eaque doloribus et accusamus animi repudiandae vel voluptas.",
        "image_type": "", "partof_pages": null, "imprint_isbn": null, "thesis_supervisors":
        [], "conference_url": null, "imprint_place": null, "journal_issue": null,
        "access_right": "open", "conference_acronym": null, "conference_title": null,
        "description": "Rerum rem recusandae sapiente culpa. Quisquam qui eos amet
        enim molestiae ducimus. Quidem ad reprehenderit consequatur provident.", "journal_title":
        null, "upload_type": "publication", "prereserve_doi": null, "communities":
        [], "publication_date": "2015-01-08", "conference_place": null, "conference_session_part":
        null, "doi": "", "license": "cc-zero", "notes": "", "journal_pages": null,
        "conference_dates": null, "creators": [{"orcid": "", "affiliation": "ScientificProtocols.org",
        "name": "sprotocols"}], "conference_session": null, "related_identifiers":
        []}}'
  recorded_at: Thu, 08 Jan 2015 04:54:40 GMT
- request:
    method: get
    uri: https://gist.githubusercontent.com/dior001/c469d59c5be79b702c4e/raw/9397b137d35c1c921948e107675eb536d961d565/protocol.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
      Etag:
      - '"257e9368d3908328b618ceab2406cd8f"'
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: Rerum rem recusandae sapiente culpa. Quisquam qui eos amet enim molestiae
        ducimus. Quidem ad reprehenderit consequatur provident.
  recorded_at: Thu, 08 Jan 2015 04:54:41 GMT
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/18865/files?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nprotocol.md\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"protocol.md\"\r\nContent-Length: 129\r\nContent-Type:
        text/x-markdown\r\nContent-Transfer-Encoding: binary\r\n\r\nRerum rem recusandae
        sapiente culpa. Quisquam qui eos amet enim molestiae ducimus. Quidem ad reprehenderit
        consequatur provident.\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id": "59c84d14-8470-45fc-b885-5e30968bbefa", "checksum": "460175cb33282b354ebe8e74b996eb37",
        "filesize": "129", "filename": "protocol.md"}'
  recorded_at: Thu, 08 Jan 2015 04:54:42 GMT
- request:
    method: post
    uri: https://zenodo.org/api/deposit/depositions/18865/actions/publish?access_token=0HOGAVH7P4gwOfCkt0If7cI9Y5micjN77YGEaeLh8ddd53yvFCalvsC7TMYS
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"files": [{"id": "59c84d14-8470-45fc-b885-5e30968bbefa", "checksum":
        "460175cb3[...]
