---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Non consequatur blanditiis inventore nemo.","public":true,"files":{"protocol.md":{"content":"Quis
        consequatur libero. Dolorem commodi sunt porro accusantium rerum. Ipsa sed
        ex nesciunt. Consectetur qui aut autem magnam qui velit ut. Debitis ut culpa
        et sunt id quia."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4671'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"2458e3f7465e5389bc1fcb8b5871bf84"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/9858230abd1d236b26ef
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/9858230abd1d236b26ef","forks_url":"https://api.github.com/gists/9858230abd1d236b26ef/forks","commits_url":"https://api.github.com/gists/9858230abd1d236b26ef/commits","id":"9858230abd1d236b26ef","git_pull_url":"https://gist.github.com/9858230abd1d236b26ef.git","git_push_url":"https://gist.github.com/9858230abd1d236b26ef.git","html_url":"https://gist.github.com/9858230abd1d236b26ef","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/9858230abd1d236b26ef/raw/906f29817fb72392d9d7cdb09d12876278c03bd2/protocol.md","size":173,"truncated":false,"content":"Quis
        consequatur libero. Dolorem commodi sunt porro accusantium rerum. Ipsa sed
        ex nesciunt. Consectetur qui aut autem magnam qui velit ut. Debitis ut culpa
        et sunt id quia."}},"public":true,"created_at":"2015-01-08T04:54:47Z","updated_at":"2015-01-08T04:54:47Z","description":"Non
        consequatur blanditiis inventore nemo.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/9858230abd1d236b26ef/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"8876d3a868c0b3ea1dfc38ecd80b8271914e50ae","committed_at":"2015-01-08T04:54:47Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/9858230abd1d236b26ef/8876d3a868c0b3ea1dfc38ecd80b8271914e50ae"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:46 GMT
- request:
    method: get
    uri: https://api.github.com/gists/9858230abd1d236b26ef
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4670'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:47 GMT
      Etag:
      - '"2458e3f7465e5389bc1fcb8b5871bf84"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/9858230abd1d236b26ef","forks_url":"https://api.github.com/gists/9858230abd1d236b26ef/forks","commits_url":"https://api.github.com/gists/9858230abd1d236b26ef/commits","id":"9858230a[...]
- request:
    method: post
    uri: https://api.github.com/gists/9858230abd1d236b26ef/comments
    body:
      encoding: UTF-8
      string: '{"body":["suscipit","nihil","quod","atque","quam","recusandae","hic","animi","exercitationem","nisi","et","accusamus","labore","nulla","dicta","voluptatem","facere","odit","ipsam","consectetur"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      mess[...]
