---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Voluptatum assumenda qui in itaque expedita ut.","public":true,"files":{"protocol.md":{"content":"Vel
        veritatis molestiae error. Illum occaecati odio facere amet pariatur. Provident
        ipsum earum voluptatem."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4914'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"a1abd02d6ab45b6bb738a464759bd584"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/74a5e9b09ec56dc4e07b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/74a5e9b09ec56dc4e07b","forks_url":"https://api.github.com/gists/74a5e9b09ec56dc4e07b/forks","commits_url":"https://api.github.com/gists/74a5e9b09ec56dc4e07b/commits","id":"74a5e9b09ec56dc4e07b","git_pull_url":"https://gist.github.com/74a5e9b09ec56dc4e07b.git","git_push_url":"https://gist.github.com/74a5e9b09ec56dc4e07b.git","html_url":"https://gist.github.com/74a5e9b09ec56dc4e07b","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/74a5e9b09ec56dc4e07b/raw/5fd8389bc48a57777f8204eda70ae034f4aac17f/protocol.md","size":107,"truncated":false,"content":"Vel
        veritatis molestiae error. Illum occaecati odio facere amet pariatur. Provident
        ipsum earum voluptatem."}},"public":true,"created_at":"2015-01-09T03:45:13Z","updated_at":"2015-01-09T03:45:13Z","description":"Voluptatum
        assumenda qui in itaque expedita ut.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/74a5e9b09ec56dc4e07b/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"6ea3b2ea581e116aa4f838f6b5218263e79a2779","committed_at":"2015-01-09T03:45:13Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/74a5e9b09ec56dc4e07b/6ea3b2ea581e116aa4f838f6b5218263e79a2779"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:13 GMT
recorded_with: VCR 2.9.3
