---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Doloribus debitis blanditiis quos aut quia nisi est
        quasi.","public":true,"files":{"protocol.md":{"content":"Aut accusantium nisi
        quia veniam. Quia distinctio in quaerat praesentium molestias illo. Et corporis
        facere. Unde atque debitis perferendis eos cupiditate. Minima eaque voluptas
        quam."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4910'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"562a5f1925ab81f44a12206d069b39da"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/781173cf30225a5ae9eb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/781173cf30225a5ae9eb","forks_url":"https://api.github.com/gists/781173cf30225a5ae9eb/forks","commits_url":"https://api.github.com/gists/781173cf30225a5ae9eb/commits","id":"781173cf30225a5ae9eb","git_pull_url":"https://gist.github.com/781173cf30225a5ae9eb.git","git_push_url":"https://gist.github.com/781173cf30225a5ae9eb.git","html_url":"https://gist.github.com/781173cf30225a5ae9eb","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/781173cf30225a5ae9eb/raw/8d54d18d0c576286a22cd4471bcd14df5b4a048a/protocol.md","size":183,"truncated":false,"content":"Aut
        accusantium nisi quia veniam. Quia distinctio in quaerat praesentium molestias
        illo. Et corporis facere. Unde atque debitis perferendis eos cupiditate. Minima
        eaque voluptas quam."}},"public":true,"created_at":"2015-01-09T03:45:15Z","updated_at":"2015-01-09T03:45:15Z","description":"Doloribus
        debitis blanditiis quos aut quia nisi est quasi.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/781173cf30225a5ae9eb/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"426c73d5fca3b84a76f5e75a0ce10fdd84c88917","committed_at":"2015-01-09T03:45:15Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/781173cf30225a5ae9eb/426c73d5fca3b84a76f5e75a0ce10fdd84c88917"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:15 GMT
- request:
    method: get
    uri: https://api.github.com/gists/781173cf30225a5ae9eb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4909'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:45:15 GMT
      Etag:
      - '"562a5f1925ab81f44a12206d069b39da"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/781173cf30225a5ae9eb","forks_url":"https://api.github.com/gists/781173cf30225a5ae9eb/forks","commits_url":"https://api.github.com/gists/781173cf30225a5ae9eb/commits","id":"781173cf[...]
- request:
    method: put
    uri: https://api.github.com/gists/781173cf30225a5ae9eb/star
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4908'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Jan 2015 03:45:16 GMT
recorded_with: VCR 2.9.3
