---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Error eaque ab ratione molestiae provident quia qui
        iste id.","public":true,"files":{"protocol.md":{"content":"Ut facilis eligendi
        quis quae blanditiis. Distinctio reprehenderit officiis ut quis ipsam eum
        provident. Esse mollitia dicta."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"4cbae23cbed77dcea391f65c0016a365"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/16485ff4adce0aff15e3
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/16485ff4adce0aff15e3","forks_url":"https://api.github.com/gists/16485ff4adce0aff15e3/forks","commits_url":"https://api.github.com/gists/16485ff4adce0aff15e3/commits","id":"16485ff4adce0aff15e3","git_pull_url":"https://gist.github.com/16485ff4adce0aff15e3.git","git_push_url":"https://gist.github.com/16485ff4adce0aff15e3.git","html_url":"https://gist.github.com/16485ff4adce0aff15e3","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/16485ff4adce0aff15e3/raw/63bde95444a4442e25e9752cb7c1f5c51e7764de/protocol.md","size":125,"truncated":false,"content":"Ut
        facilis eligendi quis quae blanditiis. Distinctio reprehenderit officiis ut
        quis ipsam eum provident. Esse mollitia dicta."}},"public":true,"created_at":"2015-01-09T03:44:54Z","updated_at":"2015-01-09T03:44:54Z","description":"Error
        eaque ab ratione molestiae provident quia qui iste id.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/16485ff4adce0aff15e3/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"e34439cb18e83d63a1b39bf65fc358df3dace631","committed_at":"2015-01-09T03:44:54Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/16485ff4adce0aff15e3/e34439cb18e83d63a1b39bf65fc358df3dace631"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:54 GMT
- request:
    method: get
    uri: https://api.github.com/gists/16485ff4adce0aff15e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1420778678'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:54 GMT
      Etag:
      - '"a8384779088dcca198751b7b5c3ffde6"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/16485ff4adce0aff15e3","forks_url":"https://api.github.com/gists/16485ff4adce0aff15e3/forks","commits_url":"https://api.github.com/gists/16485ff4adce0aff15e3/commits","i[...]
- request:
    method: post
    uri: https://api.github.com/gists/16485ff4adce0aff15e3/forks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      -[...]
- request:
    method: get
    uri: https://gist.githubusercontent.com/forestsofazure/5d1c950b69d76c178c76/raw/63bde95444a4442e25e9752cb7c1f5c51e7764de/protocol.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
      Etag:
      - '"b9b808a57441b2842a1c4e0180d8244b"'
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: Ut facilis eligendi quis quae blanditiis. Distinctio reprehenderit officiis
        ut quis ipsam eum provident. Esse mollitia dicta.
  recorded_at: Fri, 09 Jan 2015 03:44:55 GMT
recorded_with: VCR 2.9.3
