---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Voluptas ullam qui nemo est ut similique.","public":true,"files":{"protocol.md":{"content":"Necessitatibus
        aspernatur ea nemo voluptatem ipsam voluptatem iste. Voluptatibus sunt et.
        Beatae odio officiis. Tempore similique tenetur exercitationem optio natus.
        Debitis accusamus et ea qui fuga."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4675'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"affad28b29f78df3a4b946a818fdc65c"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/e4f2ef1d3a56aad6d72f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/e4f2ef1d3a56aad6d72f","forks_url":"https://api.github.com/gists/e4f2ef1d3a56aad6d72f/forks","commits_url":"https://api.github.com/gists/e4f2ef1d3a56aad6d72f/commits","id":"e4f2ef1d3a56aad6d72f","git_pull_url":"https://gist.github.com/e4f2ef1d3a56aad6d72f.git","git_push_url":"https://gist.github.com/e4f2ef1d3a56aad6d72f.git","html_url":"https://gist.github.com/e4f2ef1d3a56aad6d72f","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/e4f2ef1d3a56aad6d72f/raw/14e8699d2878a69bb8b3af27506276dc107ec534/protocol.md","size":199,"truncated":false,"content":"Necessitatibus
        aspernatur ea nemo voluptatem ipsam voluptatem iste. Voluptatibus sunt et.
        Beatae odio officiis. Tempore similique tenetur exercitationem optio natus.
        Debitis accusamus et ea qui fuga."}},"public":true,"created_at":"2015-01-08T04:54:45Z","updated_at":"2015-01-08T04:54:45Z","description":"Voluptas
        ullam qui nemo est ut similique.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/e4f2ef1d3a56aad6d72f/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"33454f0baf1b688ca40ac7fce1c064a6243d432c","committed_at":"2015-01-08T04:54:45Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/e4f2ef1d3a56aad6d72f/33454f0baf1b688ca40ac7fce1c064a6243d432c"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:44 GMT
- request:
    method: get
    uri: https://api.github.com/gists/e4f2ef1d3a56aad6d72f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4674'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:45 GMT
      Etag:
      - '"affad28b29f78df3a4b946a818fdc65c"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/e4f2ef1d3a56aad6d72f","forks_url":"https://api.github.com/gists/e4f2ef1d3a56aad6d72f/forks","commits_url":"https://api.github.com/gists/e4f2ef1d3a56aad6d72f/commits","id":"e4f2ef1d[...]
- request:
    method: delete
    uri: https://api.github.com/gists/e4f2ef1d3a56aad6d72f/star
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4673'
      X-Ratelimit-Reset:
      - '1420695119'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Jan 2015 04:54:45 GMT
recorded_with: VCR 2.9.3
