---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Aut id provident fugiat rem.","public":true,"files":{"protocol.md":{"content":"Voluptate
        rem incidunt aut non recusandae sed repellendus. Consequatur enim repudiandae
        saepe architecto id. Veritatis ad accusantium ipsam magni aliquam qui. Vitae
        expedita perferendis qui atque. Aut consequuntur inventore et veritatis."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4672'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"61adc60483430292bcd91098adca231d"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/fa4be89fb3c4f88e949c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/fa4be89fb3c4f88e949c","forks_url":"https://api.github.com/gists/fa4be89fb3c4f88e949c/forks","commits_url":"https://api.github.com/gists/fa4be89fb3c4f88e949c/commits","id":"fa4be89fb3c4f88e949c","git_pull_url":"https://gist.github.com/fa4be89fb3c4f88e949c.git","git_push_url":"https://gist.github.com/fa4be89fb3c4f88e949c.git","html_url":"https://gist.github.com/fa4be89fb3c4f88e949c","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/fa4be89fb3c4f88e949c/raw/e3b23853a878dc52a038f5d417c51b1f957ef677/protocol.md","size":237,"truncated":false,"content":"Voluptate
        rem incidunt aut non recusandae sed repellendus. Consequatur enim repudiandae
        saepe architecto id. Veritatis ad accusantium ipsam magni aliquam qui. Vitae
        expedita perferendis qui atque. Aut consequuntur inventore et veritatis."}},"public":true,"created_at":"2015-01-08T04:54:46Z","updated_at":"2015-01-08T04:54:46Z","description":"Aut
        id provident fugiat rem.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/fa4be89fb3c4f88e949c/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"a55435585ec4ae98b07ed50246f9dd76d2debfaf","committed_at":"2015-01-08T04:54:46Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/fa4be89fb3c4f88e949c/a55435585ec4ae98b07ed50246f9dd76d2debfaf"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:45 GMT
recorded_with: VCR 2.9.3
