---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Voluptate molestiae vel consequatur debitis.","public":true,"files":{"protocol.md":{"content":"Temporibus
        architecto iure rerum rem sit nostrum quod. Voluptas saepe debitis. Consequatur
        unde voluptas perspiciatis quidem iure. Qui corporis sit."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4649'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"3b3eeaafda5ebab11c95263803c36363"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/dd9549253c6f2df7f85e
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/dd9549253c6f2df7f85e","forks_url":"https://api.github.com/gists/dd9549253c6f2df7f85e/forks","commits_url":"https://api.github.com/gists/dd9549253c6f2df7f85e/commits","id":"dd9549253c6f2df7f85e","git_pull_url":"https://gist.github.com/dd9549253c6f2df7f85e.git","git_push_url":"https://gist.github.com/dd9549253c6f2df7f85e.git","html_url":"https://gist.github.com/dd9549253c6f2df7f85e","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/dd9549253c6f2df7f85e/raw/2d0c78c27124ad25824b033886e876cc24f25307/protocol.md","size":148,"truncated":false,"content":"Temporibus
        architecto iure rerum rem sit nostrum quod. Voluptas saepe debitis. Consequatur
        unde voluptas perspiciatis quidem iure. Qui corporis sit."}},"public":true,"created_at":"2015-01-08T04:54:58Z","updated_at":"2015-01-08T04:54:58Z","description":"Voluptate
        molestiae vel consequatur debitis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/dd9549253c6f2df7f85e/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"bcac62979131a23050fc509bd027ac48e7602e6b","committed_at":"2015-01-08T04:54:58Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/dd9549253c6f2df7f85e/bcac62979131a23050fc509bd027ac48e7602e6b"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:57 GMT
recorded_with: VCR 2.9.3
