---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Laboriosam quibusdam placeat ea quaerat.","public":true,"files":{"protocol.md":{"content":"Nulla
        laborum sit quos minus dolorem. Magni explicabo adipisci rerum fuga exercitationem
        quos. Sit tempora omnis exercitationem. Ea dicta totam sit ut."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"a2197904f35219b01da994f2c8586d97"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/075e0d111e34b0d9f609
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/075e0d111e34b0d9f609","forks_url":"https://api.github.com/gists/075e0d111e34b0d9f609/forks","commits_url":"https://api.github.com/gists/075e0d111e34b0d9f609/commits","id":"075e0d111e34b0d9f609","git_pull_url":"https://gist.github.com/075e0d111e34b0d9f609.git","git_push_url":"https://gist.github.com/075e0d111e34b0d9f609.git","html_url":"https://gist.github.com/075e0d111e34b0d9f609","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/075e0d111e34b0d9f609/raw/2d6ed1e6291d9d28570f6497f84e8538afef08f3/protocol.md","size":151,"truncated":false,"content":"Nulla
        laborum sit quos minus dolorem. Magni explicabo adipisci rerum fuga exercitationem
        quos. Sit tempora omnis exercitationem. Ea dicta totam sit ut."}},"public":true,"created_at":"2015-01-09T03:44:50Z","updated_at":"2015-01-09T03:44:50Z","description":"Laboriosam
        quibusdam placeat ea quaerat.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/075e0d111e34b0d9f609/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"aa59bd9035c7c940156c4c8f1a2b05add732387b","committed_at":"2015-01-09T03:44:50Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/075e0d111e34b0d9f609/aa59bd9035c7c940156c4c8f1a2b05add732387b"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:50 GMT
- request:
    method: get
    uri: https://api.github.com/gists/075e0d111e34b0d9f609
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4941'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:44:50 GMT
      Etag:
      - '"a2197904f35219b01da994f2c8586d97"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/075e0d111e34b0d9f609","forks_url":"https://api.github.com/gists/075e0d111e34b0d9f609/forks","commits_url":"https://api.github.com/gists/075e0d111e34b0d9f609/commits","id":"075e0d11[...]
- request:
    method: get
    uri: https://api.github.com/gists/075e0d111e34b0d9f609/star
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4940'
      X-Ratelimit-Reset:
      - '1420778661'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 09 Jan 2015 03:44:51 GMT
- request:
    method: get
    uri: https://api.github.com/gists/075e0d111e34b0d9f609/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4939'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"956279fb40e7f8d0270a76fd2838b7f7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 09 Jan 2015 03:44:52 GMT
recorded_with: VCR 2.9.3
