---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Exercitationem libero totam in quia recusandae et eaque
        harum debitis.","public":true,"files":{"protocol.md":{"content":"Quo quia
        quisquam maiores ut et. Aut debitis ipsum dolorum excepturi aliquid. Voluptas
        sed mollitia eum voluptatibus soluta earum voluptatem. In eos adipisci."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4925'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"15c24ea60783c6b915e024f58bb3d281"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/fde33b803aa8d5830578
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/fde33b803aa8d5830578","forks_url":"https://api.github.com/gists/fde33b803aa8d5830578/forks","commits_url":"https://api.github.com/gists/fde33b803aa8d5830578/commits","id":"fde33b803aa8d5830578","git_pull_url":"https://gist.github.com/fde33b803aa8d5830578.git","git_push_url":"https://gist.github.com/fde33b803aa8d5830578.git","html_url":"https://gist.github.com/fde33b803aa8d5830578","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/fde33b803aa8d5830578/raw/1ef7d7d9ce991ac470cff55c00179546d10afc5d/protocol.md","size":158,"truncated":false,"content":"Quo
        quia quisquam maiores ut et. Aut debitis ipsum dolorum excepturi aliquid.
        Voluptas sed mollitia eum voluptatibus soluta earum voluptatem. In eos adipisci."}},"public":true,"created_at":"2015-01-09T03:45:08Z","updated_at":"2015-01-09T03:45:08Z","description":"Exercitationem
        libero totam in quia recusandae et eaque harum debitis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/fde33b803aa8d5830578/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"bd44bdff30acf38b3998fd5cf7feb33910d1d148","committed_at":"2015-01-09T03:45:08Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/fde33b803aa8d5830578/bd44bdff30acf38b3998fd5cf7feb33910d1d148"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:08 GMT
recorded_with: VCR 2.9.3
