---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Sed quo tempora fuga non distinctio soluta sint et
        repellendus.","public":true,"files":{"protocol.md":{"content":"Adipisci similique
        ea blanditiis aut. Quaerat alias et et qui tenetur commodi. Illum est perspiciatis
        voluptates."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4654'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"ff8e56f4fa205d9e1c8d77857bdc5847"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/e83df83502a0045213d1
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/e83df83502a0045213d1","forks_url":"https://api.github.com/gists/e83df83502a0045213d1/forks","commits_url":"https://api.github.com/gists/e83df83502a0045213d1/commits","id":"e83df83502a0045213d1","git_pull_url":"https://gist.github.com/e83df83502a0045213d1.git","git_push_url":"https://gist.github.com/e83df83502a0045213d1.git","html_url":"https://gist.github.com/e83df83502a0045213d1","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/e83df83502a0045213d1/raw/436e4ef27edd0fe339d33e72baed5b407cc8d1a7/protocol.md","size":113,"truncated":false,"content":"Adipisci
        similique ea blanditiis aut. Quaerat alias et et qui tenetur commodi. Illum
        est perspiciatis voluptates."}},"public":true,"created_at":"2015-01-08T04:54:54Z","updated_at":"2015-01-08T04:54:54Z","description":"Sed
        quo tempora fuga non distinctio soluta sint et repellendus.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/e83df83502a0045213d1/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"eec5081245d951b4e11d0e3a8040437bb10d624b","committed_at":"2015-01-08T04:54:54Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/e83df83502a0045213d1/eec5081245d951b4e11d0e3a8040437bb10d624b"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:53 GMT
- request:
    method: get
    uri: https://api.github.com/gists/e83df83502a0045213d1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1420695136'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:54 GMT
      Etag:
      - '"93f33842b4a1369686bb5c309d7ca801"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/e83df83502a0045213d1","forks_url":"https://api.github.com/gists/e83df83502a0045213d1/forks","commits_url":"https://api.github.com/gists/e83df83502a0045213d1/commits","i[...]
- request:
    method: post
    uri: https://api.github.com/gists/e83df83502a0045213d1/forks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      -[...]
- request:
    method: get
    uri: https://gist.githubusercontent.com/scipro/5a39e810df16b0fb131c/raw/436e4ef27edd0fe339d33e72baed5b407cc8d1a7/protocol.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html class=\"  \">\n<head prefix=\"og: http://ogp.me/ns#
        fb: http://ogp.me/ns/fb# githubog: http://ogp.me/ns/fb/githubog#\">\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n\n
        \ <title>Gists</title>\n\n  <meta content=\"authenticity_token\" name=\"csrf-param\"
        />\n<meta content=\"HcIFNd4Y1UJk5qywX1DI2LvPLTe0uRffLCWiey1Ro0gPLUQogNntbB4kUScSYof2GwjNhEwaKQs8uw79keeusA==\"
        name=\"csrf-token\" />\n  <meta name=\"viewport\" content=\"width=960\">\n\n\n
        \   <link type=\"text/plain\" rel=\"author\" href=\"https://github.com/humans.txt\"
        />\n    <meta content=\"gist\" name=\"octolytics-app-id\" /><meta content=\"collector.githubapp.com\"
        name=\"octolytics-host\" /><meta content=\"collector-cdn.github.com\" name=\"octolytics-script-host\"
        /><meta content=\"C71B4C1E:37BA:2A1C97:54AE0D9F\" name=\"octolytics-dimension-request_id\"
        />\n  <link rel=\"assets\" href=\"https://gist-assets.github.com/\">\n  <link
        rel=\"zeroclipboard-assets\" href=\"https://gist-assets.github.com/assets/zeroclipboard/dist/ZeroClipboard-aeb54c213f0d09883fed5a0947132da9.swf\">\n
        \ <link rel=\"editor-assets\" href=\"https://gist-assets.github.com/assets/editor-13d24800389a141228c85d10358c061f.js\">\n
        \ <link rel=\"mount-point\" href=\"/\">\n\n\n  <link href=\"https://gist-assets.github.com/assets/application-24aacbb0b4eca97914d098a286798ad8.css\"
        media=\"screen, print\" rel=\"stylesheet\" />\n  <script src=\"https://gist-assets.github.com/assets/application-9441728a90e54c65c8d4079bfabcbff5.js\"></script>\n\n
        \ \n</head>\n\n<body class=\" \"\n  data-plan=\"\">\n\n  <div id=\"wrapper\">\n
        \   \n\n    <div id=\"header\" class=\"header header-logged-out\">\n      <div
        class=\"container\" class=\"clearfix\">\n        <a class=\"header-logo-wordmark\"
        href=\"https://gist.githubusercontent.com/\">\n          <span class=\"octicon
        octicon-logo-github\"></span>\n          <span class=\"octicon-logo octicon-logo-gist\"></span>\n
        \       </a>\n\n        <div class=\"header-actions\">\n          <a class=\"button
        primary\" href=\"https://github.com/signup?return_to=gist\">Sign up for a
        GitHub account</a>\n          <a class=\"button\" href=\"https://gist.githubusercontent.com/login?return_to=%2Fscipro%2F5a39e810df16b0fb131c%2Fraw%2F436e4ef27edd0fe339d33e72baed5b407cc8d1a7%2Fprotocol.md\"
        data-skip-pjax>Sign in</a>\n        </div>\n        <div class=\"divider-vertical\"></div>\n
        \       <div class=\"topsearch\">\n  <form id=\"top_search_form\" action=\"/search\"
        data-pjax-remote=push accept-charset=\"UTF-8\">\n    <div class=\"search\">\n
        \     <input type=\"text\" class=\"search js-search js-navigation-enable \"
        name=\"q\" placeholder=\"Search&#x2026;\" data-hotkey=\"/\" autocomplete=off
        autocorrect=off value=\"\" >\n\n    </div>\n    <div class=\"divider-vertical\"></div>\n
        \ </form>\n  <ul class=\"top-nav\">\n    <li class=\"explore\"><a href=\"/discover\">All
        Gists</a></li>\n  </ul>\n</div>\n\n      </div>\n    </div>\n\n    <div class=\"site-content\"
        id=\"js-pjax-container\" data-pjax-container>\n      <div id=\"js-flash-container\"
        class=\"site-container js-site-container\" data-url=\"/scipro/5a39e810df16b0fb131c/raw/436e4ef27edd0fe339d33e72baed5b407cc8d1a7/protocol.md\">\n
        \ \n  <div class=\"i-am-error container\">\n  <h1>Whoops.</h1>\n  <p>We seem
        to have missed the <em>gist</em> of that <em>gist</em> you were looking for.</p>\n</div>\n\n
        \ <div class=\"context-overlay\"></div>\n</div>\n\n    </div>\n    <div class=\"slow-loading-overlay\"></div>\n
        \ </div>\n\n  <div id=\"ajax-error-message\" class=\"flash flash-error\">\n
        \   <div class=\"container\">\n      <span class=\"octicon octicon-alert\"></span>\n
        \     Something went wrong with that request. Please try again.\n      <a
        href=\"#\" class=\"octicon octicon-x ajax-error-dismiss\"></a>\n    </div>\n
        \ </div>\n\n\n  <footer>\n    <div class=\"container\">\n  <div class=\"site-footer\">\n
        \   <ul class=\"site-footer-links right\">\n      <li><a href=\"https://status.github.com/\">Status</a></li>\n
        \     <li><a href=\"http://developer.github.com\">API</a></li>\n      <li><a
        href=\"https://github.com/blog\">Blog</a></li>\n      <li><a href=\"https://github.com/about\">About</a></li>\n\n
        \   </ul>\n\n    <a href=\"/\">\n      <span class=\"mega-octicon octicon-mark-github\"
        title[...]
