---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Iure corrupti sit quis qui nisi saepe officiis.","public":true,"files":{"protocol.md":{"content":"Fuga
        tempora pariatur velit. Sunt excepturi in voluptatem. Illum non est maxime
        vero. Laborum id fugit aut. Dicta vel qui ex nemo."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4920'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"eb42725d16a4ad2aa73e0bd74e5d6639"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/a6da09208e3ecb8c0168
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/a6da09208e3ecb8c0168","forks_url":"https://api.github.com/gists/a6da09208e3ecb8c0168/forks","commits_url":"https://api.github.com/gists/a6da09208e3ecb8c0168/commits","id":"a6da09208e3ecb8c0168","git_pull_url":"https://gist.github.com/a6da09208e3ecb8c0168.git","git_push_url":"https://gist.github.com/a6da09208e3ecb8c0168.git","html_url":"https://gist.github.com/a6da09208e3ecb8c0168","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/a6da09208e3ecb8c0168/raw/dd5dacd93e0265970e844798250bf5c70cf2cd59/protocol.md","size":130,"truncated":false,"content":"Fuga
        tempora pariatur velit. Sunt excepturi in voluptatem. Illum non est maxime
        vero. Laborum id fugit aut. Dicta vel qui ex nemo."}},"public":true,"created_at":"2015-01-09T03:45:11Z","updated_at":"2015-01-09T03:45:11Z","description":"Iure
        corrupti sit quis qui nisi saepe officiis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/a6da09208e3ecb8c0168/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"9e4e94f5b0fa6b54cb28565d0076904c1448b900","committed_at":"2015-01-09T03:45:11Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/a6da09208e3ecb8c0168/9e4e94f5b0fa6b54cb28565d0076904c1448b900"}]}'
  recorded_at: Fri, 09 Jan 2015 03:45:11 GMT
- request:
    method: get
    uri: https://api.github.com/gists/a6da09208e3ecb8c0168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4919'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Fri, 09 Jan 2015 03:45:11 GMT
      Etag:
      - '"eb42725d16a4ad2aa73e0bd74e5d6639"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/a6da09208e3ecb8c0168","forks_url":"https://api.github.com/gists/a6da09208e3ecb8c0168/forks","commits_url":"https://api.github.com/gists/a6da09208e3ecb8c0168/commits","id":"a6da0920[...]
- request:
    method: post
    uri: https://api.github.com/gists/a6da09208e3ecb8c0168/comments
    body:
      encoding: UTF-8
      string: '{"body":["omnis","voluptates","consequuntur","at","dolores","atque","vero","id","eveniet","voluptatem","omnis","tempora","molestiae","quidem","dolor","dolore","et","consequatur","aspernatur","architecto"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
[...]
