---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Ea ipsam eligendi harum sit ea dignissimos veniam.","public":true,"files":{"protocol.md":{"content":"Dolor
        aliquam accusantium iusto. Eveniet excepturi est quis asperiores sequi autem
        assumenda. Quia eveniet saepe quia perferendis hic dolore nam. Vero eligendi
        et voluptatum."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4658'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"862a3651412f6d7e47241a695044f2a7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/d2c0f7c7971c872dea4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/d2c0f7c7971c872dea4c","forks_url":"https://api.github.com/gists/d2c0f7c7971c872dea4c/forks","commits_url":"https://api.github.com/gists/d2c0f7c7971c872dea4c/commits","id":"d2c0f7c7971c872dea4c","git_pull_url":"https://gist.github.com/d2c0f7c7971c872dea4c.git","git_push_url":"https://gist.github.com/d2c0f7c7971c872dea4c.git","html_url":"https://gist.github.com/d2c0f7c7971c872dea4c","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/d2c0f7c7971c872dea4c/raw/84b7854945c163d5292b8aa7c9e58f6ddd0611c2/protocol.md","size":174,"truncated":false,"content":"Dolor
        aliquam accusantium iusto. Eveniet excepturi est quis asperiores sequi autem
        assumenda. Quia eveniet saepe quia perferendis hic dolore nam. Vero eligendi
        et voluptatum."}},"public":true,"created_at":"2015-01-08T04:54:52Z","updated_at":"2015-01-08T04:54:52Z","description":"Ea
        ipsam eligendi harum sit ea dignissimos veniam.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/d2c0f7c7971c872dea4c/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"d7d83d5658b249b1ff53e660adb8d0cd46b647c8","committed_at":"2015-01-08T04:54:52Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/d2c0f7c7971c872dea4c/d7d83d5658b249b1ff53e660adb8d0cd46b647c8"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:52 GMT
- request:
    method: get
    uri: https://api.github.com/gists/d2c0f7c7971c872dea4c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4657'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:52 GMT
      Etag:
      - '"862a3651412f6d7e47241a695044f2a7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/d2c0f7c7971c872dea4c","forks_url":"https://api.github.com/gists/d2c0f7c7971c872dea4c/forks","commits_url":"https://api.github.com/gists/d2c0f7c7971c872dea4c/commits","id":"d2c0f7c7[...]
- request:
    method: post
    uri: https://api.github.com/gists/d2c0f7c7971c872dea4c/comments
    body:
      encoding: UTF-8
      string: '{"body":["eum","quia","aut","blanditiis","hic","nesciunt","sint","iusto","et","nisi","sed","voluptate","et","accusamus","qui","saepe","odio","ut","voluptatem","aut"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
   [...]
[...]
