---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Voluptate aut consectetur est vero.","public":true,"files":{"protocol.md":{"content":"Expedita
        pariatur et aut id architecto eligendi ipsam. Eveniet vel ut in ratione sint.
        Amet saepe vel."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4662'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"46daefae49a4b55a3bcff8a165529383"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/8351267aea801c8827b9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/8351267aea801c8827b9","forks_url":"https://api.github.com/gists/8351267aea801c8827b9/forks","commits_url":"https://api.github.com/gists/8351267aea801c8827b9/commits","id":"8351267aea801c8827b9","git_pull_url":"https://gist.github.com/8351267aea801c8827b9.git","git_push_url":"https://gist.github.com/8351267aea801c8827b9.git","html_url":"https://gist.github.com/8351267aea801c8827b9","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/8351267aea801c8827b9/raw/15936a2fc842b8b6c4d6fdc787c9400c35644fb2/protocol.md","size":102,"truncated":false,"content":"Expedita
        pariatur et aut id architecto eligendi ipsam. Eveniet vel ut in ratione sint.
        Amet saepe vel."}},"public":true,"created_at":"2015-01-08T04:54:51Z","updated_at":"2015-01-08T04:54:51Z","description":"Voluptate
        aut consectetur est vero.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/8351267aea801c8827b9/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"4de3e25afdac301092b313d48e6b841af45a117c","committed_at":"2015-01-08T04:54:51Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/8351267aea801c8827b9/4de3e25afdac301092b313d48e6b841af45a117c"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:50 GMT
- request:
    method: get
    uri: https://api.github.com/gists/8351267aea801c8827b9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4661'
      X-Ratelimit-Reset:
      - '1420695119'
      Last-Modified:
      - Thu, 08 Jan 2015 04:54:51 GMT
      Etag:
      - '"46daefae49a4b55a3bcff8a165529383"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/8351267aea801c8827b9","forks_url":"https://api.github.com/gists/8351267aea801c8827b9/forks","commits_url":"https://api.github.com/gists/8351267aea801c8827b9/commits","id":"8351267a[...]
- request:
    method: get
    uri: https://api.github.com/gists/8351267aea801c8827b9/star
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4660'
      X-Ratelimit-Reset:
      - '1420695119'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Jan 2015 04:54:51 GMT
- request:
    method: get
    uri: https://api.github.com/gists/8351267aea801c8827b9/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4659'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"956279fb40e7f8d0270a76fd2838b7f7"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 08 Jan 2015 04:54:51 GMT
recorded_with: VCR 2.9.3
