---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Sed fugit quae eum ab qui consequatur omnis cum.","public":true,"files":{"protocol.md":{"content":"Velit
        non nesciunt qui. Earum hic et ullam quis id. Tempore ipsam est consectetur
        qui."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4653'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"b7b19a6c7135df015cab23a8befd68bf"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/4a6cab241a02648adc1c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/4a6cab241a02648adc1c","forks_url":"https://api.github.com/gists/4a6cab241a02648adc1c/forks","commits_url":"https://api.github.com/gists/4a6cab241a02648adc1c/commits","id":"4a6cab241a02648adc1c","git_pull_url":"https://gist.github.com/4a6cab241a02648adc1c.git","git_push_url":"https://gist.github.com/4a6cab241a02648adc1c.git","html_url":"https://gist.github.com/4a6cab241a02648adc1c","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/4a6cab241a02648adc1c/raw/b3816906bf7e610f83517b29b74c3a56cfe85efc/protocol.md","size":86,"truncated":false,"content":"Velit
        non nesciunt qui. Earum hic et ullam quis id. Tempore ipsam est consectetur
        qui."}},"public":true,"created_at":"2015-01-08T04:54:56Z","updated_at":"2015-01-08T04:54:56Z","description":"Sed
        fugit quae eum ab qui consequatur omnis cum.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/4a6cab241a02648adc1c/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"e8cc6cdf74a5b3d3180531386b199d1b7dd51a37","committed_at":"2015-01-08T04:54:56Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/4a6cab241a02648adc1c/e8cc6cdf74a5b3d3180531386b199d1b7dd51a37"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:55 GMT
- request:
    method: delete
    uri: https://api.github.com/gists/4a6cab241a02648adc1c
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4652'
      X-Ratelimit-Reset:
      - '1420695119'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Jan 2015 04:54:56 GMT
recorded_with: VCR 2.9.3
