---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Eveniet consectetur officiis atque dolores id velit
        voluptatem.","public":true,"files":{"protocol.md":{"content":"At error vel
        omnis laborum. Quasi porro fuga et eum enim. Aperiam a quae dicta sint voluptates
        totam. Aliquid at assumenda sed dignissimos ab minus. Sint eligendi aperiam
        eos nisi voluptatibus ea."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"84b437af958a18e43c73f4bbb9da88c5"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/3afed8e59ecd92001a88
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/3afed8e59ecd92001a88","forks_url":"https://api.github.com/gists/3afed8e59ecd92001a88/forks","commits_url":"https://api.github.com/gists/3afed8e59ecd92001a88/commits","id":"3afed8e59ecd92001a88","git_pull_url":"https://gist.github.com/3afed8e59ecd92001a88.git","git_push_url":"https://gist.github.com/3afed8e59ecd92001a88.git","html_url":"https://gist.github.com/3afed8e59ecd92001a88","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/3afed8e59ecd92001a88/raw/ec4c7ada97a4f9487bfbd0c737ced8471f00340d/protocol.md","size":196,"truncated":false,"content":"At
        error vel omnis laborum. Quasi porro fuga et eum enim. Aperiam a quae dicta
        sint voluptates totam. Aliquid at assumenda sed dignissimos ab minus. Sint
        eligendi aperiam eos nisi voluptatibus ea."}},"public":true,"created_at":"2015-01-09T03:44:29Z","updated_at":"2015-01-09T03:44:29Z","description":"Eveniet
        consectetur officiis atque dolores id velit voluptatem.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/3afed8e59ecd92001a88/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"3a2be20f0d37fd55049264d33f1bd653d3231363","committed_at":"2015-01-09T03:44:29Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/3afed8e59ecd92001a88/3a2be20f0d37fd55049264d33f1bd653d3231363"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:29 GMT
recorded_with: VCR 2.9.3
