<div class="footer" class="row-spacer-20 text-center">
  <p>Scientific Protocols is part of <%= link_to 'the Reproducibility Initiative', 'http://validation.scienceexchange.com/#/reproducibility-initiative' %> by <%= link_to 'Science Exchange', 'https://www.scienceexchange.com' %></p>
</div>