<div class="clearfix"></div>
<hr>
<div class="footer margin-bottom-10">
  <p>
    <%= t('views.shared.footer.reproducibility_html',
          link_to_reproducibility: link_to(t('views.shared.footer.link_to_reproducibility'),
          'http://validation.scienceexchange.com/#/reproducibility-initiative')) %>
  </p>
</div>