---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Totam aut cumque quia cupiditate quam.","public":true,"files":{"protocol.md":{"content":"Delectus
        deleniti sit id temporibus. Tempora eum incidunt est. Nesciunt quia facere
        illo."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"1bc7fe35ca8d1b5ffcdc7f425c21d550"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/152d3541111a75fdb0fc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/152d3541111a75fdb0fc","forks_url":"https://api.github.com/gists/152d3541111a75fdb0fc/forks","commits_url":"https://api.github.com/gists/152d3541111a75fdb0fc/commits","id":"152d3541111a75fdb0fc","git_pull_url":"https://gist.github.com/152d3541111a75fdb0fc.git","git_push_url":"https://gist.github.com/152d3541111a75fdb0fc.git","html_url":"https://gist.github.com/152d3541111a75fdb0fc","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/152d3541111a75fdb0fc/raw/f0d2292c305cbf223b05a66b230d3a3b9253f5fb/protocol.md","size":89,"truncated":false,"content":"Delectus
        deleniti sit id temporibus. Tempora eum incidunt est. Nesciunt quia facere
        illo."}},"public":true,"created_at":"2015-01-09T03:44:23Z","updated_at":"2015-01-09T03:44:23Z","description":"Totam
        aut cumque quia cupiditate quam.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/152d3541111a75fdb0fc/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"7ee568bdd483f94f8789bb5642349207ac0b9e4f","committed_at":"2015-01-09T03:44:23Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/152d3541111a75fdb0fc/7ee568bdd483f94f8789bb5642349207ac0b9e4f"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:23 GMT
recorded_with: VCR 2.9.3
