---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Blanditiis ut aut est voluptatibus totam quae.","public":true,"files":{"protocol.md":{"content":"Perspiciatis
        culpa enim. Odio consectetur ea nihil deleniti fugit voluptates quia. Rerum
        odio minima modi aut non doloremque. At assumenda culpa aliquam."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4750'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"29dbbf73bf30208d7830cf95a186024d"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/a6adcf1cf30b686e26d7
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/a6adcf1cf30b686e26d7","forks_url":"https://api.github.com/gists/a6adcf1cf30b686e26d7/forks","commits_url":"https://api.github.com/gists/a6adcf1cf30b686e26d7/commits","id":"a6adcf1cf30b686e26d7","git_pull_url":"https://gist.github.com/a6adcf1cf30b686e26d7.git","git_push_url":"https://gist.github.com/a6adcf1cf30b686e26d7.git","html_url":"https://gist.github.com/a6adcf1cf30b686e26d7","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/a6adcf1cf30b686e26d7/raw/47865b1d7f2262ff051e993ce9b9ed4807fa1e4e/protocol.md","size":153,"truncated":false,"content":"Perspiciatis
        culpa enim. Odio consectetur ea nihil deleniti fugit voluptates quia. Rerum
        odio minima modi aut non doloremque. At assumenda culpa aliquam."}},"public":true,"created_at":"2015-01-08T04:54:00Z","updated_at":"2015-01-08T04:54:00Z","description":"Blanditiis
        ut aut est voluptatibus totam quae.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/a6adcf1cf30b686e26d7/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"319e145d57dbf71efc291f0f70d6e99fec276602","committed_at":"2015-01-08T04:54:00Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/a6adcf1cf30b686e26d7/319e145d57dbf71efc291f0f70d6e99fec276602"}]}'
  recorded_at: Thu, 08 Jan 2015 04:53:59 GMT
recorded_with: VCR 2.9.3
