<%= render partial: 'shared/page_title', locals: { page_title: t('views.static.wiki_home.page_title') } %>
<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-8">
    <%= t('views.static.wiki_home.page_content_html') %>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-4">
    <%= render partial: 'shared/wiki_menu', locals: { path: '/wiki_home' } %>
  </div>
</div>