<%= render partial: 'shared/page_title', locals: { page_title: t('views.static.wiki_github.page_title') } %>
<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-8">
    <%= t('views.static.wiki_github.page_content_html',
          image_authorize: image_tag('wiki-authorize.png', class: 'img-responsive'),
          image_github_signup: image_tag('wiki-github-signup.png', class: 'img-responsive'),
        ) %>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-4">
    <%= render partial: 'shared/wiki_menu', locals: { path: '/wiki_github' } %>
  </div>
</div>