<%= render partial: 'shared/page_title', locals: { page_title: t('views.static.wiki_dois.page_title') } %>
<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-8">
    <%= t('views.static.wiki_dois.page_content_html',
            image_doi_button: image_tag('wiki-doi-button.png', class: 'img-responsive'),
            image_doi_markdown: image_tag('wiki-doi-markdown.png', class: 'img-responsive')
        ) %>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-4">
    <%= render partial: 'shared/wiki_menu', locals: { path: '/wiki_dois' } %>
  </div>
</div>