<%= render partial: 'shared/page_title', locals: { page_title: t('views.static.wiki_starring.page_title') } %>
<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-8">
    <%= t('views.static.wiki_starring.page_content_html',
          image_star_protocol_button: image_tag('wiki-star-protocol-button.png', width: 200),
          image_starred_tab: image_tag('wiki-starred-tab.png', width: 200)
        ) %>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-4">
    <%= render partial: 'shared/wiki_menu', locals: { path: '/wiki_starring' } %>
  </div>
</div>