---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Ut non modi sapiente est assumenda beatae.","public":true,"files":{"protocol.md":{"content":"In
        assumenda maxime tempora qui temporibus consequatur quaerat. Aut inventore
        totam et ut libero ut. Eos et et quas qui necessitatibus sed. Minus voluptatum
        ut voluptatibus."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"157bc7c94eb5b8b10700eca443cb64de"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/5d22abad7693841a0bf7
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/5d22abad7693841a0bf7","forks_url":"https://api.github.com/gists/5d22abad7693841a0bf7/forks","commits_url":"https://api.github.com/gists/5d22abad7693841a0bf7/commits","id":"5d22abad7693841a0bf7","git_pull_url":"https://gist.github.com/5d22abad7693841a0bf7.git","git_push_url":"https://gist.github.com/5d22abad7693841a0bf7.git","html_url":"https://gist.github.com/5d22abad7693841a0bf7","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/5d22abad7693841a0bf7/raw/fa10651b6831e7051aa2f90dc9692b2f01d2b04d/protocol.md","size":173,"truncated":false,"content":"In
        assumenda maxime tempora qui temporibus consequatur quaerat. Aut inventore
        totam et ut libero ut. Eos et et quas qui necessitatibus sed. Minus voluptatum
        ut voluptatibus."}},"public":true,"created_at":"2015-01-09T03:44:28Z","updated_at":"2015-01-09T03:44:28Z","description":"Ut
        non modi sapiente est assumenda beatae.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/5d22abad7693841a0bf7/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"02be6e9cd4084c8a03502b5db753070dd328122d","committed_at":"2015-01-09T03:44:28Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/5d22abad7693841a0bf7/02be6e9cd4084c8a03502b5db753070dd328122d"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:28 GMT
recorded_with: VCR 2.9.3
