---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Reiciendis dolore deserunt porro voluptatem.","public":true,"files":{"protocol.md":{"content":"Distinctio
        ipsum eos. Vero qui et dolor provident in. Voluptate nihil sequi ipsum debitis
        qui ducimus magni. Totam aspernatur est reiciendis minima qui sunt. Asperiores
        sit architecto dicta."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4746'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"71c27e515acc8d26f1fdf1d08f297bef"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/24332b442130f27ea0e2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/24332b442130f27ea0e2","forks_url":"https://api.github.com/gists/24332b442130f27ea0e2/forks","commits_url":"https://api.github.com/gists/24332b442130f27ea0e2/commits","id":"24332b442130f27ea0e2","git_pull_url":"https://gist.github.com/24332b442130f27ea0e2.git","git_push_url":"https://gist.github.com/24332b442130f27ea0e2.git","html_url":"https://gist.github.com/24332b442130f27ea0e2","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/24332b442130f27ea0e2/raw/e3331ab99701f0369749573cfa438efb8623cf37/protocol.md","size":190,"truncated":false,"content":"Distinctio
        ipsum eos. Vero qui et dolor provident in. Voluptate nihil sequi ipsum debitis
        qui ducimus magni. Totam aspernatur est reiciendis minima qui sunt. Asperiores
        sit architecto dicta."}},"public":true,"created_at":"2015-01-08T04:54:02Z","updated_at":"2015-01-08T04:54:02Z","description":"Reiciendis
        dolore deserunt porro voluptatem.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/24332b442130f27ea0e2/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"8fd1908e3e1bd1c412a3563ce8f338e9662f7205","committed_at":"2015-01-08T04:54:02Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/24332b442130f27ea0e2/8fd1908e3e1bd1c412a3563ce8f338e9662f7205"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:01 GMT
recorded_with: VCR 2.9.3
