---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Cum eum dolorem perspiciatis blanditiis velit similique
        nam.","public":true,"files":{"protocol.md":{"content":"Ex sint qui amet. Totam
        reprehenderit ut mollitia enim eos. Ab nihil dolorem aut iste consequatur.
        Rerum officiis quisquam ipsam velit blanditiis iusto dolorem."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1422148848'
      Etag:
      - '"671170df54eac26b24214c8490382e99"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/7630ac346456e6e2b566
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/7630ac346456e6e2b566","forks_url":"https://api.github.com/gists/7630ac346456e6e2b566/forks","commits_url":"https://api.github.com/gists/7630ac346456e6e2b566/commits","id":"7630ac346456e6e2b566","git_pull_url":"https://gist.github.com/7630ac346456e6e2b566.git","git_push_url":"https://gist.github.com/7630ac346456e6e2b566.git","html_url":"https://gist.github.com/7630ac346456e6e2b566","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/7630ac346456e6e2b566/raw/d0ffcca17ed7291214b4629b2c58aad15778bd0f/protocol.md","size":160,"truncated":false,"content":"Ex
        sint qui amet. Totam reprehenderit ut mollitia enim eos. Ab nihil dolorem
        aut iste consequatur. Rerum officiis quisquam ipsam velit blanditiis iusto
        dolorem."}},"public":true,"created_at":"2015-01-25T00:41:56Z","updated_at":"2015-01-25T00:41:56Z","description":"Cum
        eum dolorem perspiciatis blanditiis velit similique nam.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/7630ac346456e6e2b566/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"b84bed38024797c46b1f2cbc2e26e52d8978bfeb","committed_at":"2015-01-25T00:41:56Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/7630ac346456e6e2b566/b84bed38024797c46b1f2cbc2e26e52d8978bfeb"}]}'
  recorded_at: Sun, 25 Jan 2015 00:41:56 GMT
recorded_with: VCR 2.9.3
