---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Ad enim et sint libero beatae architecto.","public":true,"files":{"protocol.md":{"content":"Rerum
        sed officiis cumque totam sunt cupiditate. Et modi sed et iure consequatur.
        Assumenda quo facere doloribus maiores nihil magnam. Eum dicta saepe veniam
        voluptatem omnis. Velit ipsam aut at atque cupiditate labore."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"dae46c4a240e06f222bc8a53a6a94207"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/b0684f8af01509437c5d
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/b0684f8af01509437c5d","forks_url":"https://api.github.com/gists/b0684f8af01509437c5d/forks","commits_url":"https://api.github.com/gists/b0684f8af01509437c5d/commits","id":"b0684f8af01509437c5d","git_pull_url":"https://gist.github.com/b0684f8af01509437c5d.git","git_push_url":"https://gist.github.com/b0684f8af01509437c5d.git","html_url":"https://gist.github.com/b0684f8af01509437c5d","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/b0684f8af01509437c5d/raw/db4aac01289966591633c2d0b6cc3a45e2bddc2f/protocol.md","size":219,"truncated":false,"content":"Rerum
        sed officiis cumque totam sunt cupiditate. Et modi sed et iure consequatur.
        Assumenda quo facere doloribus maiores nihil magnam. Eum dicta saepe veniam
        voluptatem omnis. Velit ipsam aut at atque cupiditate labore."}},"public":true,"created_at":"2015-01-09T03:44:27Z","updated_at":"2015-01-09T03:44:27Z","description":"Ad
        enim et sint libero beatae architecto.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/b0684f8af01509437c5d/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"19553b847c4d6fbe3e979342482dc2a25e1a154a","committed_at":"2015-01-09T03:44:27Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/b0684f8af01509437c5d/19553b847c4d6fbe3e979342482dc2a25e1a154a"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:27 GMT
recorded_with: VCR 2.9.3
