---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Omnis dolor distinctio deserunt iusto perferendis.","public":true,"files":{"protocol.md":{"content":"Ex
        reprehenderit consequuntur nam consequatur voluptatem atque assumenda. Dolore
        non eius laudantium id. Pariatur saepe non dolore adipisci voluptas quo voluptatem.
        Debitis ipsam molestias totam et dolore doloribus."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4749'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"896298eaa44f0ae9d9846b1b6c6df254"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/625713ee6d70972c2b82
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/625713ee6d70972c2b82","forks_url":"https://api.github.com/gists/625713ee6d70972c2b82/forks","commits_url":"https://api.github.com/gists/625713ee6d70972c2b82/commits","id":"625713ee6d70972c2b82","git_pull_url":"https://gist.github.com/625713ee6d70972c2b82.git","git_push_url":"https://gist.github.com/625713ee6d70972c2b82.git","html_url":"https://gist.github.com/625713ee6d70972c2b82","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/625713ee6d70972c2b82/raw/1dfc931f781066011edbbf3a699941959c8a9aeb/protocol.md","size":215,"truncated":false,"content":"Ex
        reprehenderit consequuntur nam consequatur voluptatem atque assumenda. Dolore
        non eius laudantium id. Pariatur saepe non dolore adipisci voluptas quo voluptatem.
        Debitis ipsam molestias totam et dolore doloribus."}},"public":true,"created_at":"2015-01-08T04:54:01Z","updated_at":"2015-01-08T04:54:01Z","description":"Omnis
        dolor distinctio deserunt iusto perferendis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/625713ee6d70972c2b82/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"0787c1b88fee247eacd0deee5362da2242621f0c","committed_at":"2015-01-08T04:54:01Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/625713ee6d70972c2b82/0787c1b88fee247eacd0deee5362da2242621f0c"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:00 GMT
recorded_with: VCR 2.9.3
