---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Laboriosam corporis velit id est molestiae suscipit
        modi eum.","public":true,"files":{"protocol.md":{"content":"Officia vero omnis.
        Adipisci dolorum non qui libero sed. Quos vitae iste aut quo aut numquam dignissimos.
        Facere totam voluptas."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"ab726f21adddeb4612dafb7edf605143"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/19805d63cc8c9ea0963b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/19805d63cc8c9ea0963b","forks_url":"https://api.github.com/gists/19805d63cc8c9ea0963b/forks","commits_url":"https://api.github.com/gists/19805d63cc8c9ea0963b/commits","id":"19805d63cc8c9ea0963b","git_pull_url":"https://gist.github.com/19805d63cc8c9ea0963b.git","git_push_url":"https://gist.github.com/19805d63cc8c9ea0963b.git","html_url":"https://gist.github.com/19805d63cc8c9ea0963b","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/19805d63cc8c9ea0963b/raw/5270c7d245901c1ba38b48a84df77bb9918a6fad/protocol.md","size":128,"truncated":false,"content":"Officia
        vero omnis. Adipisci dolorum non qui libero sed. Quos vitae iste aut quo aut
        numquam dignissimos. Facere totam voluptas."}},"public":true,"created_at":"2015-01-09T03:44:27Z","updated_at":"2015-01-09T03:44:27Z","description":"Laboriosam
        corporis velit id est molestiae suscipit modi eum.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/19805d63cc8c9ea0963b/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"170269798e9090c9a13e371152541528d32b22c3","committed_at":"2015-01-09T03:44:27Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/19805d63cc8c9ea0963b/170269798e9090c9a13e371152541528d32b22c3"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:27 GMT
recorded_with: VCR 2.9.3
