---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Et nobis facilis ut quos qui et id laboriosam.","public":true,"files":{"protocol.md":{"content":"Odit
        autem expedita quos asperiores cum. Quos aut quis aspernatur neque tenetur.
        Eius aut tempore ad sunt. Commodi molestiae sunt aut autem impedit hic fugit."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1422148848'
      Etag:
      - '"2b3b161e624d3d0523d00b46680a89d4"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/c89a7d30d356ad2acfba
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/c89a7d30d356ad2acfba","forks_url":"https://api.github.com/gists/c89a7d30d356ad2acfba/forks","commits_url":"https://api.github.com/gists/c89a7d30d356ad2acfba/commits","id":"c89a7d30d356ad2acfba","git_pull_url":"https://gist.github.com/c89a7d30d356ad2acfba.git","git_push_url":"https://gist.github.com/c89a7d30d356ad2acfba.git","html_url":"https://gist.github.com/c89a7d30d356ad2acfba","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/c89a7d30d356ad2acfba/raw/d5d3ee5aee7b1e5afd4b6a0bb1b08e88580ff5ab/protocol.md","size":158,"truncated":false,"content":"Odit
        autem expedita quos asperiores cum. Quos aut quis aspernatur neque tenetur.
        Eius aut tempore ad sunt. Commodi molestiae sunt aut autem impedit hic fugit."}},"public":true,"created_at":"2015-01-25T00:41:57Z","updated_at":"2015-01-25T00:41:57Z","description":"Et
        nobis facilis ut quos qui et id laboriosam.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/c89a7d30d356ad2acfba/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"c7a115e1be2e33f4727d2df1745dfc247d7abe0a","committed_at":"2015-01-25T00:41:57Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/c89a7d30d356ad2acfba/c7a115e1be2e33f4727d2df1745dfc247d7abe0a"}]}'
  recorded_at: Sun, 25 Jan 2015 00:41:57 GMT
recorded_with: VCR 2.9.3
