---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Non et ab quo nulla.","public":true,"files":{"protocol.md":{"content":"Incidunt
        id hic aspernatur. Quis labore incidunt rem dicta et molestias sit. Nobis
        esse ex enim quod. Voluptatibus similique nihil quia modi. Consequuntur ratione
        occaecati cumque ipsa unde voluptas."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4748'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"a1cf63e84bc722faa88953e9c202b389"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/c1b61fc001a9137d7175
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/c1b61fc001a9137d7175","forks_url":"https://api.github.com/gists/c1b61fc001a9137d7175/forks","commits_url":"https://api.github.com/gists/c1b61fc001a9137d7175/commits","id":"c1b61fc001a9137d7175","git_pull_url":"https://gist.github.com/c1b61fc001a9137d7175.git","git_push_url":"https://gist.github.com/c1b61fc001a9137d7175.git","html_url":"https://gist.github.com/c1b61fc001a9137d7175","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/c1b61fc001a9137d7175/raw/156cee5c14084dbc63321803ef8962a4133b99e9/protocol.md","size":199,"truncated":false,"content":"Incidunt
        id hic aspernatur. Quis labore incidunt rem dicta et molestias sit. Nobis
        esse ex enim quod. Voluptatibus similique nihil quia modi. Consequuntur ratione
        occaecati cumque ipsa unde voluptas."}},"public":true,"created_at":"2015-01-08T04:54:01Z","updated_at":"2015-01-08T04:54:01Z","description":"Non
        et ab quo nulla.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/c1b61fc001a9137d7175/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"b7aa989d948e7006a23ba3e0d0086a4e90421128","committed_at":"2015-01-08T04:54:01Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/c1b61fc001a9137d7175/b7aa989d948e7006a23ba3e0d0086a4e90421128"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:00 GMT
recorded_with: VCR 2.9.3
