---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Ut quos corporis inventore quod minus optio voluptas
        error mollitia.","public":true,"files":{"protocol.md":{"content":"Dolorem
        natus error dolores non. Rerum aut culpa eum eveniet nemo odio eligendi. Quis
        repudiandae enim."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"46fe40e313e7b4a6baacc20604715451"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/31d147c9e19de02497fc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/31d147c9e19de02497fc","forks_url":"https://api.github.com/gists/31d147c9e19de02497fc/forks","commits_url":"https://api.github.com/gists/31d147c9e19de02497fc/commits","id":"31d147c9e19de02497fc","git_pull_url":"https://gist.github.com/31d147c9e19de02497fc.git","git_push_url":"https://gist.github.com/31d147c9e19de02497fc.git","html_url":"https://gist.github.com/31d147c9e19de02497fc","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/31d147c9e19de02497fc/raw/dc750c68dee7aaff3548d484a2f8bc4a1289d8d0/protocol.md","size":103,"truncated":false,"content":"Dolorem
        natus error dolores non. Rerum aut culpa eum eveniet nemo odio eligendi. Quis
        repudiandae enim."}},"public":true,"created_at":"2015-01-09T03:44:28Z","updated_at":"2015-01-09T03:44:28Z","description":"Ut
        quos corporis inventore quod minus optio voluptas error mollitia.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/31d147c9e19de02497fc/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"5e6b0002992759320dffefe13d37bc583c705775","committed_at":"2015-01-09T03:44:28Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/31d147c9e19de02497fc/5e6b0002992759320dffefe13d37bc583c705775"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:28 GMT
recorded_with: VCR 2.9.3
