---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Est magnam expedita ea eum.","public":true,"files":{"protocol.md":{"content":"Dolore
        id magnam. Non ea repellendus quia et et quasi ut. Illum ipsam placeat numquam
        accusamus voluptate."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4752'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"4c33ef4f4dc5c973a044fa8efd79df6a"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/23a852b1954f8be0dda9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/23a852b1954f8be0dda9","forks_url":"https://api.github.com/gists/23a852b1954f8be0dda9/forks","commits_url":"https://api.github.com/gists/23a852b1954f8be0dda9/commits","id":"23a852b1954f8be0dda9","git_pull_url":"https://gist.github.com/23a852b1954f8be0dda9.git","git_push_url":"https://gist.github.com/23a852b1954f8be0dda9.git","html_url":"https://gist.github.com/23a852b1954f8be0dda9","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/23a852b1954f8be0dda9/raw/246972745d91fe7fb7c3b27930d0ceba61c7dea2/protocol.md","size":106,"truncated":false,"content":"Dolore
        id magnam. Non ea repellendus quia et et quasi ut. Illum ipsam placeat numquam
        accusamus voluptate."}},"public":true,"created_at":"2015-01-08T04:53:59Z","updated_at":"2015-01-08T04:53:59Z","description":"Est
        magnam expedita ea eum.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/23a852b1954f8be0dda9/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"9e63258dcfb089ad4761af8bca53683213428396","committed_at":"2015-01-08T04:53:59Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/23a852b1954f8be0dda9/9e63258dcfb089ad4761af8bca53683213428396"}]}'
  recorded_at: Thu, 08 Jan 2015 04:53:58 GMT
recorded_with: VCR 2.9.3
