---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Sit ea optio at soluta suscipit maiores et omnis.","public":true,"files":{"protocol.md":{"content":"Veniam
        atque quam culpa rerum molestiae aut. Consequuntur officiis harum nam quis
        aspernatur numquam dolore. Amet tempore atque reiciendis molestias quae molestiae
        quisquam. Ullam dolores et vero placeat id deserunt dignissimos."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4911'
      X-Ratelimit-Reset:
      - '1422169349'
      Etag:
      - '"e32abf1e0daee818c66815b478fc7288"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/2619892932fe4081449a
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/2619892932fe4081449a","forks_url":"https://api.github.com/gists/2619892932fe4081449a/forks","commits_url":"https://api.github.com/gists/2619892932fe4081449a/commits","id":"2619892932fe4081449a","git_pull_url":"https://gist.github.com/2619892932fe4081449a.git","git_push_url":"https://gist.github.com/2619892932fe4081449a.git","html_url":"https://gist.github.com/2619892932fe4081449a","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/2619892932fe4081449a/raw/e241af279fab31f11d49d0124cb7b3d724c6f103/protocol.md","size":228,"truncated":false,"content":"Veniam
        atque quam culpa rerum molestiae aut. Consequuntur officiis harum nam quis
        aspernatur numquam dolore. Amet tempore atque reiciendis molestias quae molestiae
        quisquam. Ullam dolores et vero placeat id deserunt dignissimos."}},"public":true,"created_at":"2015-01-25T06:58:31Z","updated_at":"2015-01-25T06:58:31Z","description":"Sit
        ea optio at soluta suscipit maiores et omnis.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/2619892932fe4081449a/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"451ee08dc98744a5a068d9d333a1517ecfa81d0d","committed_at":"2015-01-25T06:58:31Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/2619892932fe4081449a/451ee08dc98744a5a068d9d333a1517ecfa81d0d"}]}'
  recorded_at: Sun, 25 Jan 2015 06:58:31 GMT
recorded_with: VCR 2.9.3
