---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Hic maxime sed dolore voluptas qui ipsa.","public":true,"files":{"protocol.md":{"content":"Odio
        facilis voluptates. Occaecati odit enim perspiciatis blanditiis. Reiciendis
        in nihil odio voluptatem et error velit."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"e69f8d4adaad4cf8a761efaf3ba7e57e"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/eb48b61c7282b7354b5e
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/eb48b61c7282b7354b5e","forks_url":"https://api.github.com/gists/eb48b61c7282b7354b5e/forks","commits_url":"https://api.github.com/gists/eb48b61c7282b7354b5e/commits","id":"eb48b61c7282b7354b5e","git_pull_url":"https://gist.github.com/eb48b61c7282b7354b5e.git","git_push_url":"https://gist.github.com/eb48b61c7282b7354b5e.git","html_url":"https://gist.github.com/eb48b61c7282b7354b5e","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/eb48b61c7282b7354b5e/raw/721d40179f2ab409eccabf09773f02e6124a8a67/protocol.md","size":121,"truncated":false,"content":"Odio
        facilis voluptates. Occaecati odit enim perspiciatis blanditiis. Reiciendis
        in nihil odio voluptatem et error velit."}},"public":true,"created_at":"2015-01-09T03:44:25Z","updated_at":"2015-01-09T03:44:25Z","description":"Hic
        maxime sed dolore voluptas qui ipsa.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/eb48b61c7282b7354b5e/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"62cf5ac672c10dec623c5876977ef8b1cc3298da","committed_at":"2015-01-09T03:44:25Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/eb48b61c7282b7354b5e/62cf5ac672c10dec623c5876977ef8b1cc3298da"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:25 GMT
recorded_with: VCR 2.9.3
