---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Eaque rerum fuga similique dolor.","public":true,"files":{"protocol.md":{"content":"Sed
        id accusamus qui maxime aut ut. Soluta sunt iusto. Ratione aut sit et possimus.
        Ut sit ipsa alias omnis est dolorum et. Ullam dolore dolorum asperiores ut
        tempora officiis ab."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4757'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"468bb43cb6fb138e9aad3cd69b7260be"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/4dca6193a5b7bd23996a
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/4dca6193a5b7bd23996a","forks_url":"https://api.github.com/gists/4dca6193a5b7bd23996a/forks","commits_url":"https://api.github.com/gists/4dca6193a5b7bd23996a/commits","id":"4dca6193a5b7bd23996a","git_pull_url":"https://gist.github.com/4dca6193a5b7bd23996a.git","git_push_url":"https://gist.github.com/4dca6193a5b7bd23996a.git","html_url":"https://gist.github.com/4dca6193a5b7bd23996a","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/4dca6193a5b7bd23996a/raw/5e91f7aa2aa96b572d94aaa85d87726da5965418/protocol.md","size":179,"truncated":false,"content":"Sed
        id accusamus qui maxime aut ut. Soluta sunt iusto. Ratione aut sit et possimus.
        Ut sit ipsa alias omnis est dolorum et. Ullam dolore dolorum asperiores ut
        tempora officiis ab."}},"public":true,"created_at":"2015-01-08T04:53:56Z","updated_at":"2015-01-08T04:53:56Z","description":"Eaque
        rerum fuga similique dolor.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/4dca6193a5b7bd23996a/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"709701162125c91132abd148b750f14d017f5f8f","committed_at":"2015-01-08T04:53:56Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/4dca6193a5b7bd23996a/709701162125c91132abd148b750f14d017f5f8f"}]}'
  recorded_at: Thu, 08 Jan 2015 04:53:55 GMT
recorded_with: VCR 2.9.3
