---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Omnis consequatur totam molestias est magni nesciunt
        sit.","public":true,"files":{"protocol.md":{"content":"Non eos tenetur aspernatur.
        Corrupti quam enim. Laudantium doloremque maiores a reprehenderit quisquam
        ut facilis."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4910'
      X-Ratelimit-Reset:
      - '1422169349'
      Etag:
      - '"a1fb8ef15868ec70c915d10e00037a1f"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/df8415941e04a99732cc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/df8415941e04a99732cc","forks_url":"https://api.github.com/gists/df8415941e04a99732cc/forks","commits_url":"https://api.github.com/gists/df8415941e04a99732cc/commits","id":"df8415941e04a99732cc","git_pull_url":"https://gist.github.com/df8415941e04a99732cc.git","git_push_url":"https://gist.github.com/df8415941e04a99732cc.git","html_url":"https://gist.github.com/df8415941e04a99732cc","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/df8415941e04a99732cc/raw/d0c7ba1c81350d3cfab1549ad7e578cc6b89843d/protocol.md","size":114,"truncated":false,"content":"Non
        eos tenetur aspernatur. Corrupti quam enim. Laudantium doloremque maiores
        a reprehenderit quisquam ut facilis."}},"public":true,"created_at":"2015-01-25T06:58:31Z","updated_at":"2015-01-25T06:58:31Z","description":"Omnis
        consequatur totam molestias est magni nesciunt sit.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/df8415941e04a99732cc/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"1882c620f267758b48b057ff35cbd3f0e5b690e8","committed_at":"2015-01-25T06:58:31Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/df8415941e04a99732cc/1882c620f267758b48b057ff35cbd3f0e5b690e8"}]}'
  recorded_at: Sun, 25 Jan 2015 06:58:31 GMT
recorded_with: VCR 2.9.3
