---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Consectetur velit laborum nihil sed molestias laboriosam
        omnis aut unde.","public":true,"files":{"protocol.md":{"content":"Corrupti
        voluptatem amet maiores possimus ut molestiae dolorem. Culpa earum sint amet
        sapiente. Fuga eos hic nobis. Quam amet qui maiores enim. Rerum provident
        et sit qui eum."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4912'
      X-Ratelimit-Reset:
      - '1422169349'
      Etag:
      - '"cc5d1351549c613ef003f147a0bf1269"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/4a9c4b654ba30afd83a0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/4a9c4b654ba30afd83a0","forks_url":"https://api.github.com/gists/4a9c4b654ba30afd83a0/forks","commits_url":"https://api.github.com/gists/4a9c4b654ba30afd83a0/commits","id":"4a9c4b654ba30afd83a0","git_pull_url":"https://gist.github.com/4a9c4b654ba30afd83a0.git","git_push_url":"https://gist.github.com/4a9c4b654ba30afd83a0.git","html_url":"https://gist.github.com/4a9c4b654ba30afd83a0","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/4a9c4b654ba30afd83a0/raw/871f9c57afc533a7f70af14136942ad8e4f66548/protocol.md","size":175,"truncated":false,"content":"Corrupti
        voluptatem amet maiores possimus ut molestiae dolorem. Culpa earum sint amet
        sapiente. Fuga eos hic nobis. Quam amet qui maiores enim. Rerum provident
        et sit qui eum."}},"public":true,"created_at":"2015-01-25T06:58:30Z","updated_at":"2015-01-25T06:58:30Z","description":"Consectetur
        velit laborum nihil sed molestias laboriosam omnis aut unde.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/4a9c4b654ba30afd83a0/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"c40efb8b3645da52e5ddf3838e3b32e78836840c","committed_at":"2015-01-25T06:58:30Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/4a9c4b654ba30afd83a0/c40efb8b3645da52e5ddf3838e3b32e78836840c"}]}'
  recorded_at: Sun, 25 Jan 2015 06:58:30 GMT
recorded_with: VCR 2.9.3
