---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Sit praesentium autem amet saepe maiores incidunt quia.","public":true,"files":{"protocol.md":{"content":"Facilis
        ullam eius fuga repellendus et exercitationem sed. Dignissimos voluptatem
        magnam aut facilis similique repellat. Laboriosam qui quia et culpa."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"6d1cee6c9559d307207981be43b2b1b9"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/67409e7807b41dbd3940
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/67409e7807b41dbd3940","forks_url":"https://api.github.com/gists/67409e7807b41dbd3940/forks","commits_url":"https://api.github.com/gists/67409e7807b41dbd3940/commits","id":"67409e7807b41dbd3940","git_pull_url":"https://gist.github.com/67409e7807b41dbd3940.git","git_push_url":"https://gist.github.com/67409e7807b41dbd3940.git","html_url":"https://gist.github.com/67409e7807b41dbd3940","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/67409e7807b41dbd3940/raw/becba2eb56eb038c84f288804c54b4bdd32fdea0/protocol.md","size":150,"truncated":false,"content":"Facilis
        ullam eius fuga repellendus et exercitationem sed. Dignissimos voluptatem
        magnam aut facilis similique repellat. Laboriosam qui quia et culpa."}},"public":true,"created_at":"2015-01-09T03:44:24Z","updated_at":"2015-01-09T03:44:24Z","description":"Sit
        praesentium autem amet saepe maiores incidunt quia.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/67409e7807b41dbd3940/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"97669df7cb918ce3d0668a86e00d387f1462860a","committed_at":"2015-01-09T03:44:24Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/67409e7807b41dbd3940/97669df7cb918ce3d0668a86e00d387f1462860a"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:24 GMT
recorded_with: VCR 2.9.3
