---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Quia autem quos esse optio voluptatum recusandae.","public":true,"files":{"protocol.md":{"content":"Sed
        consequatur voluptatem dolor consequatur aut suscipit. Dolorem et a. Ea magnam
        rerum nam repellendus. Illo laboriosam qui culpa placeat. Voluptas laborum
        consequatur debitis recusandae ullam est similique."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"037d76cff539b87140588fbd65d9d785"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/b9778bbfea2c38a19183
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/b9778bbfea2c38a19183","forks_url":"https://api.github.com/gists/b9778bbfea2c38a19183/forks","commits_url":"https://api.github.com/gists/b9778bbfea2c38a19183/commits","id":"b9778bbfea2c38a19183","git_pull_url":"https://gist.github.com/b9778bbfea2c38a19183.git","git_push_url":"https://gist.github.com/b9778bbfea2c38a19183.git","html_url":"https://gist.github.com/b9778bbfea2c38a19183","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/b9778bbfea2c38a19183/raw/dedc9299d464ea7c98069abab003addb5aa118df/protocol.md","size":209,"truncated":false,"content":"Sed
        consequatur voluptatem dolor consequatur aut suscipit. Dolorem et a. Ea magnam
        rerum nam repellendus. Illo laboriosam qui culpa placeat. Voluptas laborum
        consequatur debitis recusandae ullam est similique."}},"public":true,"created_at":"2015-01-09T03:44:24Z","updated_at":"2015-01-09T03:44:24Z","description":"Quia
        autem quos esse optio voluptatum recusandae.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/b9778bbfea2c38a19183/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"9d1c3adfd04f75efdfce92c1322f95616c6bc0a3","committed_at":"2015-01-09T03:44:24Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/b9778bbfea2c38a19183/9d1c3adfd04f75efdfce92c1322f95616c6bc0a3"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:24 GMT
recorded_with: VCR 2.9.3
