---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Sequi nam veniam enim ullam sit mollitia ut nostrum.","public":true,"files":{"protocol.md":{"content":"Praesentium
        blanditiis ipsa et. Saepe voluptas cum voluptate sapiente ex minus tempora.
        Earum qui id tempore asperiores sit. Voluptates maiores labore. Dolorem aliquam
        possimus laboriosam perspiciatis et."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"e51e10f1b77d2707f0e17e2a6b136c93"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/271a9258f3eb8dc97996
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/271a9258f3eb8dc97996","forks_url":"https://api.github.com/gists/271a9258f3eb8dc97996/forks","commits_url":"https://api.github.com/gists/271a9258f3eb8dc97996/commits","id":"271a9258f3eb8dc97996","git_pull_url":"https://gist.github.com/271a9258f3eb8dc97996.git","git_push_url":"https://gist.github.com/271a9258f3eb8dc97996.git","html_url":"https://gist.github.com/271a9258f3eb8dc97996","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/271a9258f3eb8dc97996/raw/3d03d1861159a54cf0ef9063292d8f3bf31e8872/protocol.md","size":204,"truncated":false,"content":"Praesentium
        blanditiis ipsa et. Saepe voluptas cum voluptate sapiente ex minus tempora.
        Earum qui id tempore asperiores sit. Voluptates maiores labore. Dolorem aliquam
        possimus laboriosam perspiciatis et."}},"public":true,"created_at":"2015-01-09T03:44:26Z","updated_at":"2015-01-09T03:44:26Z","description":"Sequi
        nam veniam enim ullam sit mollitia ut nostrum.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/271a9258f3eb8dc97996/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"e23ac764dcead200b0f391475ee34f672a30021e","committed_at":"2015-01-09T03:44:26Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/271a9258f3eb8dc97996/e23ac764dcead200b0f391475ee34f672a30021e"}]}'
  recorded_at: Fri, 09 Jan 2015 03:44:26 GMT
recorded_with: VCR 2.9.3
