---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Rerum quasi quia quia porro quidem aspernatur.","public":true,"files":{"protocol.md":{"content":"Minus
        fugit quia sed nostrum necessitatibus at. Ab blanditiis laudantium eius quaerat
        pariatur ut. Labore optio laborum et aut quis dolores. Tempora illo sint asperiores.
        Quod soluta sunt ut."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4754'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"9305bbbcf39b2193527abc1eeb39fcbb"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/f9db1205042858305845
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/f9db1205042858305845","forks_url":"https://api.github.com/gists/f9db1205042858305845/forks","commits_url":"https://api.github.com/gists/f9db1205042858305845/commits","id":"f9db1205042858305845","git_pull_url":"https://gist.github.com/f9db1205042858305845.git","git_push_url":"https://gist.github.com/f9db1205042858305845.git","html_url":"https://gist.github.com/f9db1205042858305845","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/f9db1205042858305845/raw/59b28829b65a4085f1435736bd5451c4673208e7/protocol.md","size":191,"truncated":false,"content":"Minus
        fugit quia sed nostrum necessitatibus at. Ab blanditiis laudantium eius quaerat
        pariatur ut. Labore optio laborum et aut quis dolores. Tempora illo sint asperiores.
        Quod soluta sunt ut."}},"public":true,"created_at":"2015-01-08T04:53:58Z","updated_at":"2015-01-08T04:53:58Z","description":"Rerum
        quasi quia quia porro quidem aspernatur.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/f9db1205042858305845/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"f3d89405da6905cc04af5d7ba6539623f4686cc1","committed_at":"2015-01-08T04:53:58Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/f9db1205042858305845/f3d89405da6905cc04af5d7ba6539623f4686cc1"}]}'
  recorded_at: Thu, 08 Jan 2015 04:53:57 GMT
recorded_with: VCR 2.9.3
