---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/starred?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4887'
      X-Ratelimit-Reset:
      - '1420778661'
      Etag:
      - '"83ff5e43a932b689581ac61b3dc42f53"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/gists/starred?per_page=100&page=2>; rel="next", <https://api.github.com/gists/starred?per_page=100&page=4>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/gists/781173cf30225a5ae9eb","forks_url":"https://api.github.com/gists/781173cf30225a5ae9eb/forks","commits_url":"https://api.github.com/gists/781173cf30225a5ae9eb/commits","id":"781173cf30225a5ae9eb","git_pull_url":"https://gist.github.com/781173cf30225a5ae9eb.git","git_push_url":"https://gist.github.com/781173cf30225a5ae9eb.git","html_url":"https://gist.github.com/781173cf30225a5ae9eb","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/781173cf30225a5ae9eb/raw/8d54d18d0c576286a22cd4471bcd14df5b4a048a/protocol.md","size":183}},"public":true,"created_at":"2015-01-09T03:45:15Z","updated_at":"2015-01-09T03:45:15Z","description":"Doloribus
        debitis blanditiis quos aut quia nisi est quasi.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/781173cf30225a5ae9eb/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false}},{"url":"https://api.github.com/gists/90698c0facbf3d4f1c0a","forks_url":"https://api.github.com/gists/90698c0facbf3d4f1c0a/forks","commits_url":"https://api.github.com/gists/90698c0facbf3d4f1c0a/commits","id":"90698c0facbf3d4f1c0a","git_pull_url":"https://gist.github.com/90698c0facbf3d4f1c0a.git","git_push_url":"https://gist.github.com/90698c0facbf3d4f1c0a.git","html_url":"https://gist.github.com/90698c0facbf3d4f1c0a","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","l[...]
- request:
    method: get
    uri: https://api.github.com/gists/starred?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4886'
 [...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/dior001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4883'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Thu, 08 Jan 2015 18:26:16 GMT
      Etag:
      - '"4dd366ee4abba5c698a625549c39bc89"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false,"name":"David
        Iorns","company":null,"blog":null,"location":null,"email":null,"hireable":false,"bio":null,"public_repos":0,"public_gists":12619,"followers":2,"following":13,"created_at":"2010-11-09T20:40:50Z","updated_at":"2015-01-08T18:26:16Z"}'
  recorded_at: Fri, 09 Jan 2015 03:45:31 GMT
recorded_with: VCR 2.9.3
