---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dior001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4882'
      X-Ratelimit-Reset:
      - '1420778661'
      Last-Modified:
      - Thu, 08 Jan 2015 18:26:16 GMT
      Etag:
      - '"4dd366ee4abba5c698a625549c39bc89"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false,"name":"David
        Iorns","company":null,"blog":null,"location":null,"email":null,"hireable":false,"bio":null,"public_repos":0,"public_gists":12619,"followers":2,"following":13,"created_at":"2010-11-09T20:40:50Z","updated_at":"2015-01-08T18:26:16Z"}'
  recorded_at: Fri, 09 Jan 2015 03:45:32 GMT
recorded_with: VCR 2.9.3
