---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Cupiditate molestiae aut fuga eius.","public":true,"files":{"protocol.md":{"content":"Totam
        quas fuga. Praesentium voluptatem corporis nam qui. Dolore sint expedita sunt
        ratione sed recusandae. Et est non quia placeat porro quasi."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4647'
      X-Ratelimit-Reset:
      - '1420695119'
      Etag:
      - '"c4a3a365aaa742eabbb2299e7d1a1dc0"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/c3cebea235616933beed
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/c3cebea235616933beed","forks_url":"https://api.github.com/gists/c3cebea235616933beed/forks","commits_url":"https://api.github.com/gists/c3cebea235616933beed/commits","id":"c3cebea235616933beed","git_pull_url":"https://gist.github.com/c3cebea235616933beed.git","git_push_url":"https://gist.github.com/c3cebea235616933beed.git","html_url":"https://gist.github.com/c3cebea235616933beed","files":{"protocol.md":{"filename":"protocol.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/dior001/c3cebea235616933beed/raw/a569494188188ba360eebfea46aff17670d473b4/protocol.md","size":144,"truncated":false,"content":"Totam
        quas fuga. Praesentium voluptatem corporis nam qui. Dolore sint expedita sunt
        ratione sed recusandae. Et est non quia placeat porro quasi."}},"public":true,"created_at":"2015-01-08T04:54:59Z","updated_at":"2015-01-08T04:54:59Z","description":"Cupiditate
        molestiae aut fuga eius.","comments":0,"user":null,"comments_url":"https://api.github.com/gists/c3cebea235616933beed/comments","owner":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"dior001","id":474680,"avatar_url":"https://avatars.githubusercontent.com/u/474680?v=3","gravatar_id":"","url":"https://api.github.com/users/dior001","html_url":"https://github.com/dior001","followers_url":"https://api.github.com/users/dior001/followers","following_url":"https://api.github.com/users/dior001/following{/other_user}","gists_url":"https://api.github.com/users/dior001/gists{/gist_id}","starred_url":"https://api.github.com/users/dior001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dior001/subscriptions","organizations_url":"https://api.github.com/users/dior001/orgs","repos_url":"https://api.github.com/users/dior001/repos","events_url":"https://api.github.com/users/dior001/events{/privacy}","received_events_url":"https://api.github.com/users/dior001/received_events","type":"User","site_admin":false},"version":"decdf26c2a5902fd14f0fb4d77d056a158596b94","committed_at":"2015-01-08T04:54:59Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/c3cebea235616933beed/decdf26c2a5902fd14f0fb4d77d056a158596b94"}]}'
  recorded_at: Thu, 08 Jan 2015 04:54:58 GMT
recorded_with: VCR 2.9.3
